:host {
  display: block;
}

.tag-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-layout: auto auto 1fr;
  justify-content: left;
  margin: 0.25rem 0;
}

code {
  font-family: var(--kompendium-font-code);
  font-size: 0.8125rem;
  margin: 0 0.5rem 0 0.25rem;
}

img {
  width: 1rem;
  filter: invert(0.5) sepia(1) hue-rotate(185deg) saturate(5);
  vertical-align: middle;
}
.tag--deprecated img {
  filter: invert(0.35) sepia(1) hue-rotate(-60deg) saturate(5);
}