/**
 * @prop --popover-surface-width: Width of the popover surface. defaults to `auto`
 * @prop --popover-body-background-color: Background color of popover body, defaults to `--contrast-100`.
 * @prop --popover-border-radius: Border radius of popover, defaults to `0.75rem`.
 */

.trigger-anchor {
    display: inline-block;
    position: relative;
}
