.do-dont-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    padding: 1.25rem;
}

@media screen and (max-width: 760px) {
    .do-dont-container {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}

// ======
// below is useful when you have a `limel-header`
// in do and don't sections
.do,
.do-not {
    --example-border-radius: 0.5rem;
    --header-background-color: rgb(var(--contrast-500));
    --header-top-right-left-border-radius: var(--example-border-radius);
    border-radius: var(--example-border-radius);
    background-color: rgb(var(--contrast-100));
    color: rgb(var(--contrast-1100));
    height: fit-content;
}

.do {
    --header-icon-color: rgb(var(--color-green-default));
}
.do-not {
    --header-icon-color: rgb(var(--color-red-default));
}
// ======
