:host {
  display: block;
}

code {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

img {
  width: 1rem;
  filter: invert(0.5) sepia(1) hue-rotate(185deg) saturate(5);
  vertical-align: middle;
}
.tag--deprecated img {
  filter: invert(0.35) sepia(1) hue-rotate(-60deg) saturate(5);
}