.context-heading {
  margin: 0;
  font-weight: 500;
  color: rgb(var(--kompendium-contrast-900));
}

h2.context-heading {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

h3.context-heading {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}