/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:host {
  display: block;
  font-family: var(--kompendium-font-primary);
  --size-show-nav-panel-button: 2.25rem;
}

header a {
  text-decoration: none;
  color: unset;
}

.nav-panel {
  z-index: 100;
  width: var(--width-nav-panel);
  height: 100vh;
  position: fixed;
  background-color: rgb(var(--contrast-400));
  display: flex;
  flex-direction: column;
}
.nav-panel .panel-header {
  flex-direction: row;
  padding: 1rem;
  border-bottom: 1px solid rgb(var(--contrast-600));
}
.nav-panel .panel-header h1 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.5ch;
  color: rgb(var(--contrast-800));
  margin-bottom: 0.5rem;
}
.nav-panel .panel-list {
  overflow-y: auto;
}
.nav-panel .panel-list:not(.chapters) {
  padding-bottom: 2rem;
}

.nav-panel__responsive-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: calc((var(--size-show-nav-panel-button) * -1) - 0.5rem);
  width: var(--size-show-nav-panel-button);
  height: var(--size-show-nav-panel-button);
  margin: 0.25rem;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: bold;
  background-color: rgb(var(--contrast-600));
  color: rgb(var(--contrast-900));
  transform: rotate(90deg);
}

@media (max-width: 1000px) {
  .nav-panel {
    margin-left: calc(var(--width-nav-panel) * -1);
  }
  .nav-panel .show-nav {
    line-height: calc(var(--size-show-nav-panel-button) + 0.15rem);
    display: initial;
  }
  .nav-panel .hide-nav {
    display: none;
    line-height: calc(var(--size-show-nav-panel-button) - 0.3rem);
    font-size: 2rem;
  }
  .nav-panel.display-nav-panel {
    margin-left: 0;
  }
  .nav-panel.display-nav-panel .show-nav {
    display: none;
  }
  .nav-panel.display-nav-panel .hide-nav {
    display: initial;
  }

  .nav-panel__responsive-menu {
    display: block;
  }
}
.panel-item {
  width: 100%;
  padding-left: 0.5rem;
}

.panel-link {
  display: flex;
  align-items: center;
  height: 2.25rem;
  line-height: 2.25rem;
  color: rgb(var(--contrast-900));
  text-decoration: none;
}
.panel-link:hover, .panel-link.active {
  color: rgb(var(--contrast-1600));
}
.panel-link.active img {
  transform: rotate(90deg) scale(0.8);
}
.panel-link img {
  transform: scale(0.8);
  transition: transform 0.2s ease;
  margin-right: 0.5rem;
  padding: 0.25rem;
  display: inline-block;
  vertical-align: bottom;
}

.chapters {
  height: 0;
  transition: height 0.2s ease;
}
.chapters.active {
  height: 100%;
}
.chapters img {
  opacity: 0;
}
.chapters .panel-item .chapters {
  font-size: 0.8125rem;
}
.chapters .panel-item .chapters:last-child {
  margin-bottom: 0.5rem;
}