@use '../../style/mixins';

/**
 * @prop --tab-bar-vertical-width: The width of a vertical tab bar. Defaults to `10rem`.
 */

:host(limel-tab-bar) {
    --limel-tab-background-color: var(--contrast-300);
    --limel-tab-border-radius: 0.625rem;
    --limel-tab-content-inset: 0.25rem;
    --limel-active-tab-background-color: var(
        --tab-panel-background-color,
        rgb(var(--contrast-100))
    );
    --limel-active-tab-color: var(
        --lime-primary-color,
        var(--limel-theme-primary-color)
    );
    --limel-tab-active-outer-edge-curve-size: 0.75rem;
    --limel-tab-separator-width: 0.125rem;
    --limel-tab-separator-background-color: rgb(var(--contrast-600));
    isolation: isolate;
    display: block;
    position: relative;
}

limel-scroller {
    --limel-scroller-fade-color: var(--limel-tab-background-color);
    --limel-scroller-content-padding: 0.25rem
        var(--limel-tab-active-outer-edge-curve-size) 0;

    background-color: rgb(var(--limel-tab-background-color));
}

:host(.has-tabs-with-equal-width:not([orientation='vertical'])) {
    button {
        flex: 1 0 auto;
    }
}

button {
    @include mixins.reset-button-user-agent-styles;
    position: relative;
    display: flex;
    box-sizing: border-box;
    border-radius: 0;
    padding: var(--limel-tab-content-inset);
    min-width: 2.5rem;
    background-color: transparent;
    flex: 0 0 auto;
    height: 2.5rem;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: var(--limel-theme-default-font-size);

    limel-icon {
        transition: color 0.2s ease;
        color: rgb(
            var(--contrast-800)
        ); // inactive tab's icon color, unless defined by tab item itself
        margin-left: -0.25rem;
    }

    span.text {
        transition: color 0.2s ease;
        line-height: 1;
        color: var(--limel-theme-on-surface-color);
    }

    &:hover {
        span.text {
            color: var(--limel-theme-text-primary-on-background-color);
        }
    }

    limel-badge {
        margin-right: -0.25rem;
        box-shadow: 0 0 0 1px rgb(var(--contrast-600));
        pointer-events: none;
    }
}

button[aria-selected='true'] {
    background-color: var(--limel-active-tab-background-color);
    z-index: 2;

    &:before,
    &:after {
        content: '';
        display: block;
        width: var(--limel-tab-active-outer-edge-curve-size);
        height: var(--limel-tab-active-outer-edge-curve-size);
        position: absolute;
        background-color: var(--limel-active-tab-background-color);

        -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill-rule='evenodd'%20stroke-linejoin='round'%20stroke-miterlimit='2'%20clip-rule='evenodd'%20viewBox='0%200%2050%2050'%3E%3Cdefs/%3E%3Cpath%20d='M0%200c0%2027.594%2022.406%2050%2050%2050H0V0z'/%3E%3C/svg%3E"); //For chrome and Safari the browser prefix is needed. (last checked Apr 2020)
        mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill-rule='evenodd'%20stroke-linejoin='round'%20stroke-miterlimit='2'%20clip-rule='evenodd'%20viewBox='0%200%2050%2050'%3E%3Cdefs/%3E%3Cpath%20d='M0%200c0%2027.594%2022.406%2050%2050%2050H0V0z'/%3E%3C/svg%3E");
    }

    limel-icon {
        color: var(
            --limel-active-tab-color
        ); // active tab's icon color, unless defined by tab item itself
    }

    span.text {
        color: var(--limel-active-tab-color);
    }
}

span.content {
    transition: box-shadow 0.2s ease;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 0.375rem;
    padding: 0 0.75rem;
    border-radius: calc(
        var(--limel-tab-border-radius) - var(--limel-tab-content-inset)
    );

    button:focus-visible & {
        transition-duration: 0.3s;
        box-shadow: var(--shadow-depth-8-focused);
    }
}

:host(limel-tab-bar:not([orientation='vertical'])) {
    button {
        &:not([aria-selected='true']) {
            &:after {
                content: '';
                display: block;
                background-color: var(--limel-tab-separator-background-color);
                width: var(--limel-tab-separator-width);
                height: 1rem;
                margin: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                border-radius: 1rem;
                right: calc(-1 * var(--limel-tab-separator-width));
            }

            &:last-of-type {
                &:after {
                    display: none;
                }
            }
        }
    }

    button[aria-selected='true'] {
        border-radius: var(--limel-tab-border-radius)
            var(--limel-tab-border-radius) 0 0;

        &:before,
        &:after {
            bottom: 0;
        }

        &:before {
            left: calc(-1 * var(--limel-tab-active-outer-edge-curve-size));
            transform: rotateY(180deg);
        }

        &:after {
            right: calc(-1 * var(--limel-tab-active-outer-edge-curve-size));
        }
    }
}

:host(limel-tab-bar[orientation='vertical']) {
    width: var(--tab-bar-vertical-width, 10rem);

    div[role='tablist'] {
        height: 100%;
    }

    limel-scroller {
        --limel-scroller-content-padding: var(
                --limel-tab-active-outer-edge-curve-size
            )
            0 var(--limel-tab-active-outer-edge-curve-size) 0.25rem;
        height: 100%;
    }

    button[aria-selected='true'] {
        border-radius: var(--limel-tab-border-radius) 0 0
            var(--limel-tab-border-radius);

        &:before,
        &:after {
            right: 0;
        }

        &:before {
            bottom: 100%;
            transform: rotateY(180deg);
        }

        &:after {
            top: 100%;
            transform: rotate(180deg);
        }
    }

    span.content {
        justify-content: flex-start;
        min-width: 0;
    }

    limel-icon,
    limel-badge {
        flex-shrink: 0;
    }

    span.text {
        flex-grow: 1;
        line-height: 1.25;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
