:host {
    --dropzone-margin: 0.25rem;
    --dropzone-color: rgb(var(--contrast-600));
}

:host(.highlight-dropzone) {
    --dropzone-color: rgb(var(--color-lime-light));
}

:host(.is-file-picker.shows-dropzone) {
    .mdc-text-field:not(.has-chips) {
        .mdc-notched-outline {
            &:before,
            &:after {
                box-sizing: border-box;
                position: absolute;
                margin: auto;
                top: var(--dropzone-margin);
                right: var(--dropzone-margin);
                bottom: var(--dropzone-margin);
            }

            &:before {
                // dropzone tip
                content: attr(dropzone-tip);

                display: inline-flex;
                align-items: center;
                justify-content: flex-end;

                padding: 0 functions.pxToRem(12);

                font-size: functions.pxToRem(13);
                line-height: 1;
                color: var(--mdc-theme-text-secondary-on-background);
            }

            &:after {
                // dropzone visualization
                content: '';

                left: var(--dropzone-margin);

                border-radius: functions.pxToRem(6);
                border: 2px dashed var(--dropzone-color);

                cursor: pointer;
            }
        }

        &.mdc-text-field--disabled {
            .mdc-notched-outline {
                &:before,
                &:after {
                    // Drop zone visualization
                    @include shared_input-select-picker.looks-disabled;
                }
            }
        }
    }
}

// below block prevents overlapping of `label` and dropzone tip text
$max-width-of-dropzone-tip: 50%;
$max-width-of-label-when-not-readonly: 40%;

:host(.is-file-picker.shows-dropzone) {
    .mdc-text-field:not(.has-chips):not(.lime-text-field--readonly) {
        .mdc-notched-outline {
            &:before {
                width: $max-width-of-dropzone-tip;
                text-align: right;
            }

            .mdc-notched-outline__notch {
                max-width: $max-width-of-label-when-not-readonly;
            }
        }
    }
}
