:not(.mdc-text-field--focused):not(.mdc-text-field--invalid) {
    + limel-helper-line {
        // TODO: remove when helper-line is displayed in portal
        opacity: 0;
    }
}

:host(:not([type='input'])) {
    .mdc-chip-set {
        &:hover,
        &:focus,
        &:focus-visible,
        &:focus-within {
            limel-helper-line {
                opacity: 1;
            }
        }
    }
}

@media (pointer: coarse) {
    // touchscreen devices
    :host(:not([type='input'])) {
        limel-helper-line {
            opacity: 1;
        }
    }
}
