@use '../../style/mixins.scss';
@use '../../style/internal/shared_input-select-picker';

$border-radius: 0.25rem;

limel-notched-outline {
    --limel-notched-outline-border-color: #{shared_input-select-picker.$lime-text-field-outline-color};
    --limel-notched-outline-background-color: #{shared_input-select-picker.$background-color-normal};

    display: block;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    [slot='content'] {
        background-color: var(--limel-notched-outline-background-color);
        border-radius: $border-radius;
    }
}

.limel-notched-outline {
    // Why is everything prefixed?
    // Because the component has `shadow: false;`
    // and this ensures that we are not inheriting styles.
    pointer-events: none;
    position: absolute;
    bottom: var(--notched-outline-bottom, 0); //FIXME
    inset: 0;

    transition: bottom
        var(--limel-h-l-grid-template-rows-transition-speed, 0.46s)
        cubic-bezier(1, 0.09, 0, 0.89);

    display: flex;
    width: 100%;
    height: 100%;

    &--leading-outline,
    &--notch,
    &--trailing-outline {
        transition: border-color 0.2s ease;
        border-width: 1px;
        border-style: solid;
        border-color: var(--limel-notched-outline-border-color);
    }

    &--leading-outline {
        flex-shrink: 0;
        width: 0.75rem;
        border-right-width: 0;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }

    &--notch {
        flex-shrink: 0;

        position: relative;
        z-index: 2;

        border-top-color: var(
            --limel-notched-outline-notch-border-top-color,
            var(--limel-notched-outline-border-color)
        );
        border-right-width: 0;
        border-left-width: 0;

        max-width: calc(100% - 1.5rem);

        label {
            all: unset; // ensures that `label` is not inheriting default styles
            @include mixins.truncate-text;
            position: relative;
            transition:
                color 0.2s ease,
                font-size 0.2s ease,
                transform 0.12s ease;

            transform: translate3d(
                var(--limel-notched-outline-label-transform-x, 0),
                var(--limel-notched-outline-label-transform-y, 0.72rem),
                0
            );
            display: block;
            padding: 0 0.25rem;

            color: var(
                --limel-notched-outline-label-color,
                #{shared_input-select-picker.$label-color}
            );
            font-size: var(
                --limel-notched-outline-label-font-size,
                0.875rem
            ); // 14px
            letter-spacing: var(
                --mdc-typography-subtitle1-letter-spacing,
                0.009375em
            );
            line-height: 1;

            &:after {
                position: absolute;
                right: 0;
                padding: 0 0.25rem;
            }
        }
    }

    &--trailing-outline {
        flex-grow: 1;
        border-left-width: 0;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}

limel-notched-outline:not([disabled]:not([disabled='false'])) {
    &:hover {
        --limel-notched-outline-border-color: #{shared_input-select-picker.$lime-text-field-outline-color--hovered};
        --limel-notched-outline-background-color: #{shared_input-select-picker.$background-color-hovered};
    }

    &:has([slot='content']:focus-visible),
    &:has([slot='content']:focus-within) {
        --limel-notched-outline-border-color: #{shared_input-select-picker.$lime-text-field-outline-color--focused};
        --limel-notched-outline-background-color: #{shared_input-select-picker.$background-color-focused};
    }
}

limel-notched-outline[disabled]:not([disabled='false']) {
    --limel-notched-outline-label-color: #{shared_input-select-picker.$label-color-disabled};
}

limel-notched-outline[required]:not([required='false']) {
    .limel-notched-outline--notch {
        label {
            padding-right: 0.75rem;

            &:after {
                content: '*';
                scale: 1.5;
            }
        }
    }
}

limel-notched-outline[invalid]:not([invalid='false']) {
    --limel-notched-outline-border-color: var(--lime-error-text-color);
    &:hover {
        --limel-notched-outline-border-color: var(--lime-error-text-color);
    }

    .limel-notched-outline--notch {
        label {
            &:after {
                color: var(--lime-error-text-color);
            }
        }
    }
}

limel-notched-outline[readonly]:not([readonly='false']) {
    --limel-notched-outline-border-color: transparent !important;
    --limel-notched-outline-background-color: transparent !important;
}

limel-notched-outline[leading-icon]:not([leading-icon='false']) {
    --limel-notched-outline-label-transform-x: 1.25rem;
}

// Transitioning the floating label
@mixin float-label {
    --limel-notched-outline-label-font-size: 0.65rem; // `10.4px` similar to MDC's floating label
    --limel-notched-outline-label-transform-x: 0;
    --limel-notched-outline-label-transform-y: -50%;
    --limel-notched-outline-notch-border-top-color: transparent;
}

limel-notched-outline:not([disabled]:not([disabled='false'])) {
    &:hover,
    &:focus,
    &:focus-within {
        label {
            will-change: color, transform, font-size;
        }
    }

    &:has([slot='content']:focus-visible),
    &:has([slot='content']:focus-within) {
        @include float-label;
    }
}

limel-notched-outline[value]:not([value='false']) {
    @include float-label;
}
