:host(limel-example-callout-styles) {
    display: flex;
    gap: 1rem;
}

limel-callout[type='example'] {
    --callout-color: rgb(var(--color-pink-default));
    --callout-text-color: rgb(var(--color-orange-lighter));
    --callout-background-color: rgb(var(--color-pink-dark));
}

limel-callout[type='note'] {
    --callout-color: rgb(var(--color-cyan-default));
    --callout-text-color: rgb(var(--color-teal-dark));
    --callout-background-color: rgb(var(--color-teal-lighter));
}
