@import '../../style/variables';

$mdc-textarea-background: $mdc-theme-background;
// $mdc-textarea-disabled-background: $mdc-theme-background;

$mdc-text-field-background: $mdc-theme-background;
// $mdc-text-field-disabled-background: $mdc-theme-background;

$mdc-text-field-bottom-line-idle: $lime-text-field-bottom-line-color;
$mdc-text-field-bottom-line-hover: $lime-text-field-bottom-line-color;
$mdc-text-field-fullwidth-bottom-line-color: $lime-text-field-bottom-line-color;

@import "@limetech/mdc-chips/mdc-chips";
@import '@limetech/mdc-textfield/mdc-text-field';
@import '@limetech/mdc-ripple/mdc-ripple';

/**
 * @prop --icon-background-color: Background color of the icon. Defaults to transparent.
 * @prop --icon-color: Color of the icon. Defaults to 54% black.
 * @prop --background-color: Background color of the field when type is set to input.
 * @prop --input-chip-set-selected-chip-color: Color of the highlight around selected chips in input chip-sets.
 */

limel-icon.mdc-chip__icon.mdc-chip__icon--leading {
    background-color: var(--icon-background-color, transparent);
    margin-left: pxToRem(-12) !important;
    color: var(--icon-color, rgba(0,0,0,.54));
}

.mdc-chip-set.mdc-chip-set--input {
    margin-top: pxToRem(20);
    width: 100%;

    .mdc-chip--selected {
        box-shadow: 0 0 0 pxToRem(4) var(--input-chip-set-selected-chip-color, var(--lime-turquoise, orange));
    }
}

.mdc-chip__icon--trailing svg {
    display: block;
    height: 100%;
    width: 100%;
}

.mdc-text-field {
    @include mdc-states-hover-opacity(0);
    @include mdc-states-focus-opacity(0, true);
    width: 100%;
    height: auto;
    cursor: text;

    input {
        width: auto;
        border-bottom: none;
        height: auto;
        padding-top: 0;
        flex-grow: 1;
        flex-shrink: 0;
        max-height: pxToRem(35);
    }

    .mdc-floating-label--float-above {
        top: pxToRem(10);
        bottom: auto;
    }

    &:not(.mdc-text-field--focused) {
        border-bottom-style: solid;
        border-bottom-width: pxToRem(1);
    }

    &:not(.mdc-text-field--disabled) {
        &.mdc-text-field--focused {
            border-bottom-style: solid;
            border-bottom-width: pxToRem(1);
        }
    }
}

.mdc-text-field--disabled .mdc-chip {
    pointer-events: all;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.mdc-floating-label.mdc-text-field--required::after {
    content: "*"
}

.force-float {
    @extend .mdc-floating-label--float-above;
}

.force-invalid {
    @extend .mdc-text-field--invalid;
}
