@import "../../style/variables";
@import "@lime-material/list/mdc-list";
@import "@lime-material/elevation/mdc-elevation";

:host {
    display: block;
}

:host([hidden]) {
    display: none;
}

.autocomplete-list-container {
    position: relative;
}

.autocomplete-list {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 20.0rem;
    overflow-y: auto;
}

.mdc-list-item {
    cursor: pointer;
}

