@use '../../../style/mixins';

* {
    box-sizing: border-box;
}

:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include mixins.is-resizable(
        $direction: both,
        $min-width: 10rem,
        $min-height: 5rem
    );
}

:host(.large) {
    height: 25rem;
}

:host(.tall) {
    height: 35rem;
}

:host(.row-layout) {
    flex-direction: row;
}

limel-example-controls {
    padding: 1rem 0.5rem;
    height: fit-content;
    min-width: 40%;
}

:host(.creative-styling) {
    gap: 4rem;

    limel-chart[type='stacked-bar'] {
        height: 6rem;
    }
}
