@for $i from 0 through 100 {
    .displays-percentage-colors {
        &[style*='--percentage: #{$i}%'] {
            $range: floor($i * 0.1) * 10;
            --circular-progress-fill-color: var(
                --color-percent--#{$range}to#{($range + 10)}
            );
        }
    }
}

.displays-percentage-colors {
    &[style='--percentage: 100%;'] {
        --circular-progress-fill-color: var(--color-percent--100);
    }
}
