@use '../../style/functions';

.scroll-fade,
.scroll-button {
    position: absolute;
    transition: {
        property: transform;
        duration: 0.3s;
        timing-function: ease-out;
    }
}

.scroll-fade {
    top: 0;
    height: 100%;
    width: functions.pxToRem($tab-scroller-fade-width);
    pointer-events: none;

    &.left {
        transform: translate3d(
            functions.pxToRem(0 - $tab-scroller-fade-width),
            0,
            0
        );
        left: 0;
        background: linear-gradient(
            270deg,
            rgba($tab-background-color, 0) 0%,
            rgba($tab-background-color, 0.8) 40%,
            rgba($tab-background-color, 0.8) 100%
        );
    }

    &.right {
        transform: translate3d(
            functions.pxToRem($tab-scroller-fade-width),
            0,
            0
        );
        right: 0;
        background: linear-gradient(
            90deg,
            rgba($tab-background-color, 0) 0%,
            rgba($tab-background-color, 0.8) 40%,
            rgba($tab-background-color, 0.8) 100%
        );
    }
}

.scroll-button {
    --icon-background-color: rgb(var(--contrast-100));
    top: functions.pxToRem(4);

    &.left {
        transform: translate3d(
            functions.pxToRem(0 - $tab-scroller-fade-width),
            0,
            0
        );
        left: functions.pxToRem(4);
    }

    &.right {
        transform: translate3d(
            functions.pxToRem($tab-scroller-fade-width),
            0,
            0
        );
        right: functions.pxToRem(4);
    }

    &:hover {
        transform: translate3d(0, 0, 0);
    }
}

.mdc-tab-scroller {
    position: relative;
    overflow: hidden;

    &.can-scroll-left .scroll-fade.left,
    &.can-scroll-left .scroll-button.left,
    &.can-scroll-right .scroll-fade.right,
    &.can-scroll-right .scroll-button.right {
        transform: translate3d(0, 0, 0);
    }

    &.can-scroll-left:not(.can-scroll-right) .scroll-button.right,
    &.can-scroll-right:not(.can-scroll-left) .scroll-button.left {
        opacity: 0.5;
        transition-delay: 0.5s;
    }
}

.mdc-tab-scroller__scroll-area--scroll {
    scrollbar-width: none; // This hides the scrollbars appearing under the tab bar in Firefox
    -ms-overflow-style: none; // Same as above for IE 11
}

.mdc-tab-scroller__scroll-content {
    padding: functions.pxToRem(8) $tab-active-outer-edge-curve-size 0
        $tab-active-outer-edge-curve-size;
    background-color: rgb($tab-background-color);
}
