@use '../../../style/functions';
@use './shared-styles';

// NOTE The following is a special local file that applies colors on :host
// instead of :root. This is necessary to have this example use both dark- and
// light-mode, despite the docs overall only using light-mode. This can be
// removed once we enable dark-mode for the docs again. /Ads
@use './color-palette-extended';

.color-palette {
    grid-template-columns: repeat(20, 1fr);
    gap: 0;
    padding: functions.pxToRem(20) functions.pxToRem(12);
    background-color: rgb(var(--contrast-300));
    border-radius: functions.pxToRem(3);
}

.swatch {
    border-radius: 0;
    font-size: functions.pxToRem(12);
    font-family: 'Source Code Pro', monospace;
    letter-spacing: functions.pxToRem(-1);
}

.--color-white {
    border-radius: 50%;
    transform: translateX(functions.pxToRem(-8));
}
.--color-black {
    border-radius: 50%;
}

.--contrast-100 {
    border-radius: functions.pxToRem(5) 0 0 functions.pxToRem(5);
}
.--contrast-1700 {
    border-radius: 0 functions.pxToRem(5) functions.pxToRem(5) 0;
}
.--contrast-900 {
    &:before {
        content: '';

        display: block;
        position: absolute;
        right: 0;
        bottom: -12px;
        left: 0;
        width: 4px;
        height: 4px;
        margin: auto;

        background-color: rgba(var(--contrast-900), 0.5);
        border-radius: 50%;
    }
}
