@use '../../../style/functions';
@use './shared-styles';

.color-palette {
    grid-template-rows: repeat(3, 1fr) auto;
    grid-template-columns: repeat(5, 1fr) auto;
}

.swatch {
    max-height: functions.pxToRem(32);

    &.hue {
        writing-mode: initial;
        padding-top: 0;
    }
}

.usage {
    ul {
        padding-inline-start: functions.pxToRem(16);
        font-size: var(--limel-theme-default-font-size);
        color: rgb(var(--contrast-1300));
        margin: 0 0 functions.pxToRem(16) 0;
    }
}
