@use '../../../style/functions';
@use './shared-styles';

// NOTE The following is a special local file that applies colors on :host
// instead of :root. This is necessary to have this example use both dark- and
// light-mode, despite the docs overall only using light-mode. This can be
// removed once we enable dark-mode for the docs again. /Ads
@use './color-palette-extended';

.color-palette {
    grid-template-rows: repeat(3, 1fr) auto;
    grid-template-columns: repeat(5, 1fr) auto;
}

.swatch {
    max-height: functions.pxToRem(32);

    &.hue {
        writing-mode: initial;
        padding-top: 0;
    }
}

.usage {
    ul {
        padding-inline-start: functions.pxToRem(16);
        font-size: functions.pxToRem(14);
        color: rgb(var(--contrast-1300));
        margin: 0 0 functions.pxToRem(16) 0;
    }
}
