version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 4
    versioning-strategy: increase
    schedule:
      interval: "daily"
    groups:
      lint:
        patterns:
          - "@typescript-eslint/*"
          - "eslint"
          - "eslint-*"
          - "prettier"
      react:
        patterns:
          - "react"
          - "react-dom"
    ignore:
      - dependency-name: "@rjsf/core"
        update-types: ["version-update:semver-major"]
      - dependency-name: "material-components-web"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@stencil/core"
      - dependency-name: "jest"
      - dependency-name: "jest-cli"
      - dependency-name: "@types/jest"
      - dependency-name: "puppeteer"
      - dependency-name: "typescript"
        update-types: ["version-update:semver-major"]
      - dependency-name: "replace-in-file"
        update-types: ["version-update:semver-major"]
