.grid {
    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    grid-template-rows: 15rem 15rem 15rem 15rem;
    grid-gap: 1rem;
}

.tile {
    color: white;
    text-align: center;
    line-height: 15rem;
    border-radius: .3rem;

    pre {
        margin: 0;
        padding: 0;
    }
}
