@import '@lime-material/form-field/mdc-form-field';
@import '@lime-material/checkbox/mdc-checkbox';
@import "@lime-material/floating-label/mdc-floating-label";

.multi-select-label {
    left: auto;
    padding-left: 2rem;
}

.mdc-form-field {
    display: flex;
}

.mdc-checkbox  {
    @include mdc-checkbox-ink-color(primary);
    @include mdc-checkbox-container-colors(secondary, on-primary, secondary, on-primary);
}
