blockquote {
    position: relative;
    max-width: 100%;
    margin: 0.75rem 0;
    padding: 0.5rem;

    border-left: 0.25rem solid rgb(var(--contrast-500));
    background-color: rgb(var(--contrast-200));

    &:before,
    &:after {
        position: absolute;
        line-height: 0;
        font-size: 2rem;
        opacity: 0.4;
    }

    &:before {
        content: '“';
        left: -0.5rem;
        top: 0.5rem;
    }

    &:after {
        content: '”';
        right: -0.25rem;
        bottom: -0.25rem;
    }
}
