$border-radius: 0.375rem;

dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    margin-bottom: 2rem;
    border: 1px solid rgb(var(--contrast-400));
    border-radius: $border-radius;
    background-color: rgb(var(--contrast-200));

    dt,
    dd {
        padding: $border-radius 0.5rem;
        font-size: 0.875rem;
        margin: 0;

        &:nth-of-type(even) {
            background-color: rgb(var(--contrast-300));
        }
    }
    dt {
        &:first-child {
            border-top-left-radius: $border-radius;
        }
        &:last-child {
            border-bottom-left-radius: $border-radius;
        }
    }
    dd {
        &:first-child {
            border-top-right-radius: $border-radius;
        }
        &:last-child {
            border-bottom-right-radius: $border-radius;
        }
    }
}
