@use '../../../style/mixins';

kbd {
    @include mixins.font-family('monospace');
    font-weight: 600;
    color: rgb(var(--contrast-1100));
    background-color: rgb(var(--contrast-200));

    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: normal;

    padding: 0.125rem 0.5rem;
    margin: 0 0.25rem;
    box-shadow:
        var(--button-shadow-normal),
        0 0.03125rem 0.21875rem 0 rgba(var(--contrast-100), 0.5) inset;

    border: {
        radius: 0.125rem;
        style: solid;
        color: rgba(var(--contrast-600), 0.8);
        width: 0 1px 0.125rem 1px;
    }
}
