@use '../../../style/mixins';

kbd {
    display: inline-block;
    @include mixins.font-family('monospace');
    font-weight: 600;
    color: rgb(var(--contrast-1100));

    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: normal;

    border: {
        radius: 0.125rem;
        style: solid;
        color: rgb(var(--contrast-500));
        width: 0 1px 0.1875rem 1px;
    }

    padding: 0.0625rem 0.375rem;
    margin: 0 0.25rem;

    background-color: rgb(var(--contrast-200));
    box-shadow:
        var(--button-shadow-normal),
        0 0.625rem 0.375px -0.5rem rgb(var(--color-black), 0.02),
        0 0.025rem 0.5rem 0 rgb(var(--contrast-100)) inset;

    &::first-letter {
        text-transform: uppercase;
    }
}
