ul {
    list-style: none;
    li {
        position: relative;
        margin-left: 0.75rem;

        &:before {
            content: '';
            position: absolute;
            left: -0.5rem;
            top: 0.5rem;

            width: 0.25rem;
            height: 0.25rem;

            border-radius: 50%;
            background-color: rgb(var(--contrast-700));
            display: block;
        }
    }
}

ol {
    margin-top: 0.25rem;
    padding-left: 1rem;
}

ul {
    margin-top: 0.25rem;
    padding-left: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-left: 0;
}

li {
    margin-bottom: 0.25rem;
}
