// Why wrapping the table styles in 👇 a `:not()` pseudo-class like below?
:host(limel-markdown:not(.no-table-styles)) {
    // Because in Lime CRM, the markdown component is sometimes
    // used to render the HTML content of an email. Since emails
    // can have lots of nested tables, the UI will be rendered
    // horribly with below styles. In such cases, we just want to
    // default to the user agent stylesheet for tables.
    // This is for internal use in Lime CRM, which is why there is
    // no public documentation for this.
    table {
        table-layout: auto;
        min-width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        background: transparent;
        margin: 0.75rem 0;
    }

    tbody {
        border: 1px solid rgb(var(--contrast-400));
        border-radius: 0.25rem;
    }

    th,
    td {
        text-align: left;
        vertical-align: top;
        transition: background-color 0.2s ease;
        font-size: var(--limel-theme-default-font-size); // 14px
    }

    td {
        padding: 0.5rem 0.375rem 0.75rem 0.375rem;
    }

    tr {
        th {
            background-color: rgb(var(--contrast-400));
            padding: 0.25rem 0.375rem;
            font-weight: normal;

            &:only-child {
                text-align: center;
            }
        }
    }

    tbody {
        tr {
            &:nth-child(odd) {
                td {
                    background-color: rgb(var(--contrast-200));
                }
            }

            &:hover {
                td {
                    background-color: rgb(var(--contrast-300));
                }
            }
        }
    }
}

table {
    // This enables very wide tables to be scrollable on small
    // containers. However, since the default is `display: table`,
    // these styles could potentially create other misalignment or
    // layout issues. For example, small tables won't be 100% wide
    // anymore. I have accepted this tradeoff and have not yet
    // found anything too horrible or better solution. /Kia
    display: block;
    box-sizing: border-box;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
}
