div {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

    resize: horizontal;
    max-width: 100%;
    min-width: 4rem;
    padding: 1rem;

    border: 1px dashed rgb(var(--contrast-400));
    background: url("data:image/svg+xml;charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' style='fill-rule:evenodd;'><path fill='rgba(186,186,192,0.16)' d='M0 0h4v4H0zM4 4h4v4H4z'/></svg>");
    background-size: 0.5rem;

    &::after {
        content: 'Resize me ⤵';
        font-size: 0.75rem;
        position: absolute;
        right: 0.25rem;
        bottom: 0.25rem;
    }
}

limel-profile-picture {
    --profile-picture-border-radius: 1rem;
    --profile-picture-background-color: rgb(var(--color-orange-default));

    aspect-ratio: 8/6;
    width: 100%;
}
