@use '../../style/functions';
@use '../../style/internal/lime-theme';
@use '../../style/internal/lime-typography';

/**
 * @prop --badge-background-color: badge background color
 * @prop --badge-text-color: badge text color
 */

:host([hidden]) {
    display: none;
}

:host {
    @include lime-typography.base;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: functions.pxToRem(11);

    height: functions.pxToRem(20);
    line-height: 1;
    min-width: functions.pxToRem(20);
    padding: 0 functions.pxToRem(5);

    border-radius: functions.pxToRem(20);

    background-color: var(--badge-background-color, rgb(var(--contrast-500)));
    color: var(--badge-text-color, rgb(var(--contrast-1200)));
    margin-left: functions.pxToRem(4);
}
