$background-color_1: rgb(var(--contrast-100));

/* Make sure li selections wrap around markers */
/* Protect against generic img rules */
.ProseMirror {
    position: relative;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: break-spaces;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    font-feature-settings: 'liga' 0;
    background-color: $background-color_1;
    border-radius: 0 0 0.5rem 0.5rem;

    pre {
        white-space: pre-wrap;
    }

    li {
        position: relative;
    }

    [draggable][contenteditable='false'] {
        user-select: text;
    }
}

.ProseMirror-hideselection {
    * {
        &::selection {
            background: transparent;
        }

        &::-moz-selection {
            background: transparent;
        }
    }

    caret-color: transparent;
}

.ProseMirror-selectednode {
    outline: 0.125rem solid rgb(var(--color-sky-light));
}

li.ProseMirror-selectednode {
    outline: none;

    &:after {
        content: '';
        position: absolute;
        left: -2rem;
        right: -0.125rem;
        top: -0.125rem;
        bottom: -0.125rem;
        border: 0.125rem solid rgb(var(--color-sky-light));
        pointer-events: none;
    }
}

img.ProseMirror-separator {
    display: inline !important;
    border: none !important;
    margin: 0 !important;
}
