@import '../../style/functions';

limel-flex-container {
    margin-bottom: pxToRem(20);

    &.container {
        height: pxToRem(600);
        border: pxToRem(1) solid var(--lime-dark-grey);
        border-radius: pxToRem(3);
    }

    div {
        display: block;
        padding: pxToRem(25) pxToRem(50);

        text-align: center;
        color: white;
        font-size: pxToRem(20);
        line-height: 0;

        &:nth-child(1) {
            background-color: var(--lime-red);
            padding: pxToRem(12.5) pxToRem(50);
        }
        &:nth-child(2) {
            background-color: var(--lime-orange);
            padding: pxToRem(50);
        }
        &:nth-child(3) {
            background-color: var(--lime-green);
        }
        &:nth-child(4) {
            background-color: var(--lime-blue);
            padding: pxToRem(25) pxToRem(100);
        }
        &:nth-child(5) {
            background-color: var(--lime-magenta);
            padding: pxToRem(25);
        }
    }
}
