@import "../mdc-wrappers/mdc-theme/mdc-theme";
@import "../mdc-wrappers/mdc-typography/mdc-typography";
@import "../mdc-wrappers/mdc-button/mdc-button";

button {
    .label {
        opacity: 1;
    }

    limel-spinner {
        opacity: 0;
        position: absolute;
    }

    svg {
        fill: currentColor;
        height: 3.0rem;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        width: 3.0rem;
    }

    .label,
    limel-spinner,
    svg {
        transition: opacity 300ms ease-in-out;
    }

    &.loading {
        .label {
            opacity: 0;
        }
        limel-spinner {
            opacity: 1;
        }
    }

    &.just-loaded {
        .label {
            opacity: 0;
        }
        svg {
            opacity: 1;
        }
    }
}
