@import '../../style/internal/mdc-variables';
@import '@limetech/mdc-button/mdc-button';
@import '../../style/mixins';
@import '../../style/internal/variables';

:host {
    display: inline-block;
}

:host([hidden]) {
    display: none;
}

:host([disabled]) {
    pointer-events: none;
}

button {
    @include is-elevated-clickable();

    &.mdc-button {
        min-width: pxToRem(36);
        padding: 0 pxToRem(12);
        height: 100%;
        min-height: pxToRem(36);
        width: 100%;
    }

    .label {
        opacity: 1;
    }

    limel-spinner {
        opacity: 0;
        display: none;
        position: absolute;
    }

    .mdc-button__icon.no-label {
        margin: 0;
    }

    limel-icon {
        vertical-align: top;
    }

    svg {
        fill: currentColor;
        height: pxToRem(30);
        opacity: 0;
        pointer-events: none;
        position: absolute;
        width: pxToRem(30);
    }

    limel-icon,
    .label,
    limel-spinner,
    svg {
        transition: opacity 300ms ease-in-out;
    }

    &.loading {
        limel-icon,
        .label {
            opacity: 0;
        }
        limel-spinner {
            opacity: 1;
            display: block;
        }
    }

    &.just-loaded {
        limel-icon,
        .label {
            opacity: 0;
        }
        svg {
            opacity: 1;
        }
        limel-spinner {
            display: block;
        }
    }
}

$speed-of-reducing-presence: 0.3s;

@keyframes reduced-presence {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.7);
    }
}

:host(.has-reduced-presence) {
    button {
        &[disabled]:not(.loading):not(.just-loaded) {
            animation: reduced-presence $speed-of-reducing-presence ease
                forwards;
            transition: padding $speed-of-reducing-presence ease,
                min-width $speed-of-reducing-presence ease;
            transition-delay: $speed-of-reducing-presence;

            padding: 0;
            min-width: 0;
            // we don't animate `min-height` and reset it to `0`, otherwise the
            // button completely dissapear physically and can sometimes layout-shifts
            // in the UI

            .label {
                transition: font-size 0.8s ease;
                transition-delay: $speed-of-reducing-presence;
                font-size: 0;
                opacity: 0;
            }
            limel-icon,
            limel-spinner,
            svg {
                transition: all $speed-of-reducing-presence ease;
                transition-delay: $speed-of-reducing-presence;

                opacity: 0;
                width: 0;
                height: 0;
            }
        }
    }
}
