@import '../../style/internal/mdc-variables';
@import '@limetech/mdc-button/mdc-button';
@import '../../style/mixins';
@import '../../style/internal/variables';

:host {
    display: inline-block;
}

:host([hidden]) {
    display: none;
}

:host([disabled]) {
    pointer-events: none;
}

button {
    @include is-elevated-clickable();

    &.mdc-button {
        min-width: pxToRem(36);
        padding: 0 pxToRem(12);
    }

    .label {
        opacity: 1;
    }

    limel-spinner {
        opacity: 0;
        display: none;
        position: absolute;
    }

    .mdc-button__icon.no-label {
        margin: 0;
    }

    limel-icon {
        vertical-align: top;
    }

    svg {
        fill: currentColor;
        height: pxToRem(30);
        opacity: 0;
        pointer-events: none;
        position: absolute;
        width: pxToRem(30);
    }

    limel-icon,
    .label,
    limel-spinner,
    svg {
        transition: opacity 300ms ease-in-out;
    }

    &.loading {
        limel-icon,
        .label {
            opacity: 0;
        }
        limel-spinner {
            opacity: 1;
            display: block;
        }
    }

    &.just-loaded {
        limel-icon,
        .label {
            opacity: 0;
        }
        svg {
            opacity: 1;
        }
        limel-spinner {
            display: block;
        }
    }
}
