.application {
    position: relative;

    overflow: hidden;
    height: 20rem;

    border: 1px solid rgb(var(--contrast-500));
    border-radius: 0.5rem;
    background-color: rgb(var(--contrast-400));

    &.is-resizable {
        resize: horizontal;
        max-width: 100%;
        min-width: 10rem;

        &::after {
            content: 'Resize me ⤵';
            font-size: 0.75rem;
            position: absolute;
            right: 0.25rem;
            bottom: 0.25rem;
        }
    }

    &.has-floating-action-bar {
        display: grid;
        background-color: rgb(var(--contrast-700));

        limel-action-bar {
            position: absolute;
            bottom: 1.5rem;
            justify-self: center;
        }
    }
}
