@use '../../../style/mixins';

.application {
    position: relative;
    overflow: hidden;
    height: 20rem;
    border: 1px solid rgb(var(--contrast-500));
    border-radius: 0.5rem;
    background-color: rgb(var(--contrast-400));

    &.is-resizable {
        @include mixins.is-resizable(
            $direction: horizontal,
            $min-width: 10rem,
            $min-height: 5rem
        );
    }

    &.has-floating-action-bar {
        display: grid;
        background-color: rgb(var(--contrast-700));

        limel-action-bar {
            position: absolute;
            bottom: 1.5rem;
            justify-self: center;
        }
    }
}
