@import "../../style/variables";
@import "@lime-material/list/mdc-list";
@import "@lime-material/menu/mdc-menu";

$menu-item-background-color: #ebebeb;

:host {
    display: inline-block;
}

:host([hidden]) {
    display: none;
}

.menu-disabled {
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.menu__trigger {
    background: None;
    border: None;
    color: #afafaf;
    height: 3.6rem;

    &-enabled {
        &:hover {
            border: solid;
            border-color: #afafaf;
            border-width: 0.1rem;
            color: #636363;
        }
    }
}
