@import '../../style/variables';

@import "@lime-material-16px/list/mdc-list";
@import "@lime-material-16px/menu/mdc-menu";
@import "@lime-material-16px/menu-surface/mdc-menu-surface";
@import "../list/list.scss";

$menu-item-background-color: #ebebeb;

:host {
    display: inline-block;
}

:host([hidden]) {
    display: none;
}

.menu__trigger {
    border-color: transparent;
    border-width: pxToRem(1);
    border-style: solid;
    background: none;
    color: #afafaf;
    height: pxToRem(36);

    &-enabled {
        &:hover {
            border-color: #afafaf;
            color: #636363;
        }
    }
}

.mdc-list-item[role="menuitem"] {
    font-size: pxToRem(13);

    .mdc-list-item__graphic {
        margin-right: pxToRem(14);
    }
}
