@import '../../style/internal/mdc-variables';

// Note! The `--dropdown-z-index` property is used from `menu.tsx`.
/**
 * @prop --dropdown-z-index: z-index of the dropdown menu.
 */

$menu-item-background-color: #ebebeb;

:host {
    display: inline-block;
}

:host([hidden]) {
    display: none;
}

.menu__trigger {
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    background: none;
    color: #afafaf;
    height: pxToRem(36);

    &-enabled {
        &:hover {
            border-color: #afafaf;
            color: #636363;
        }
    }
}

.mdc-menu-surface--anchor {
    position: relative;
}
