@import '../../style/internal/mdc-variables';

.limel-form-array-item--simple {
    display: flex;
    align-items: center;
    margin-right: pxToRem(10);

    *:first-child {
        flex-grow: 1;
    }
}

.limel-form-layout--default {
    --gap: 1rem;
    display: grid;
    gap: var(--gap);
}
