@use '../../style/mixins.scss';
@forward './row/row';
@use '../../style/internal/shared_input-select-picker';

/**
 * @prop --form-body-padding: space around content of the form. Defaults to `1rem`.
 * @prop --form-column-gap: defines the vertical space between elements of the form with `grid` and `default` layouts. Defaults to `1rem`.
 * @prop --form-row-gap: defines the horizontal space between elements of the form with `grid` and `default` layouts. Defaults to `1rem`.
 * @prop --form-gap: defines the space between elements of the form with `grid` and `default` layouts. Defaults to `1rem`.
 * @prop --form-background-color-of-even-rows: Background of even rows in the form, when layout type is `row`. Defaults to `transparent`.
 * @prop --form-background-color-of-odd-rows:Background of odd rows in the form, when layout type is `row`. Defaults to `--contrast-200`.
 */

*,
*::after,
*::before {
    box-sizing: border-box;
}

.form-group {
    min-width: 0;
}

.limel-form-array-item--simple {
    display: flex;
    align-items: center;
    padding: 0.25rem;

    > *:first-child {
        // this is the input element, which is followed
        // by the drag handle and the delete controls
        flex: 1;
        min-width: 0;
    }
}

.array-items {
    isolation: isolate;
    display: flex;
    flex-direction: column;
    row-gap: var(--form-row-gap, 0.5rem);
    margin-top: 1rem;

    &.has-an-item-which-is-being-dragged {
        limel-collapsible-section {
            // This ensures that all collapsible sections which are open will
            // temporarily collapse, while they are being dragged around.
            // This makes it way easier for the end user to see where they are dropping
            // the item; since sections can be really tall and hard to reorder
            // by drag and drop.
            --limel-cs-grid-template-rows: 0fr;
            --limel-cs-opacity-transition-speed: 0.2s;
            --limel-cs-grid-template-rows-transition-speed: 0.2s;
            --limel-cs-open-header-bottom-border-radius: 0.75rem;
        }
    }
}

.array-item {
    @include mixins.is-draggable-item();
}

limel-drag-handle {
    order: 10; // ensure drag handle is always last, specifically in the collapsible section
}

limel-collapsible-section.is-being-dragged {
    border-radius: 0.75rem !important;
}

.limel-form-layout--default {
    display: grid;
    column-gap: var(--form-column-gap, 1rem);
    row-gap: var(--form-row-gap, 1rem);
    padding: var(--form-body-padding, 1rem);
}

.limel-form-layout--grid {
    --min-height-of-one-row: #{shared_input-select-picker.$height-of-mdc-text-field};
    display: grid;
    column-gap: var(--form-column-gap, 1rem);
    row-gap: var(--form-row-gap, 1rem);
    padding: var(--form-body-padding, 1rem);

    // Using `minmax(0, 1fr)` below, instead of just `1fr` ensures that
    // components that are wider than their column don't make the column grow
    // wider and squash the other columns. /Ads
    grid-template-columns: repeat(var(--number-of-columns), minmax(0, 1fr));

    &.auto-reorder-to-avoid-empty-cells {
        grid-auto-flow: dense;
    }

    &.layout-1-columns {
        .limel-form-layout-colspan--1,
        .limel-form-layout-colspan--2,
        .limel-form-layout-colspan--3,
        .limel-form-layout-colspan--4,
        .limel-form-layout-colspan--5 {
            grid-column: span 1;
        }
    }

    &.layout-2-columns {
        .limel-form-layout-colspan--1 {
            grid-column: span 1;
        }
        .limel-form-layout-colspan--2,
        .limel-form-layout-colspan--3,
        .limel-form-layout-colspan--4,
        .limel-form-layout-colspan--5 {
            grid-column: span 2;
        }
    }

    &.layout-3-columns {
        .limel-form-layout-colspan--1 {
            grid-column: span 1;
        }
        .limel-form-layout-colspan--2 {
            grid-column: span 2;
        }
        .limel-form-layout-colspan--3,
        .limel-form-layout-colspan--4,
        .limel-form-layout-colspan--5 {
            grid-column: span 3;
        }
    }

    &.layout-4-columns {
        .limel-form-layout-colspan--1 {
            grid-column: span 1;
        }
        .limel-form-layout-colspan--2 {
            grid-column: span 2;
        }
        .limel-form-layout-colspan--3 {
            grid-column: span 3;
        }
        .limel-form-layout-colspan--4,
        .limel-form-layout-colspan--5 {
            grid-column: span 4;
        }
    }

    &.layout-5-columns {
        .limel-form-layout-colspan--1 {
            grid-column: span 1;
        }
        .limel-form-layout-colspan--2 {
            grid-column: span 2;
        }
        .limel-form-layout-colspan--3 {
            grid-column: span 3;
        }
        .limel-form-layout-colspan--4 {
            grid-column: span 4;
        }
        .limel-form-layout-colspan--5 {
            grid-column: span 5;
        }
    }

    .limel-form-layout-colspan--all {
        grid-column: 1/-1;
    }
}

.limel-form-layout--grid {
    limel-checkbox,
    limel-switch {
        // This is because we have to align these items to top and
        // make sure they align correctly even in one-columned layouts
        min-height: var(--min-height-of-one-row);
    }
    limel-checkbox {
        //  margin-top: 0.5rem;
        display: block;
    }
    limel-switch {
        margin-left: 0.5rem;
    }
}

.form-error {
    color: var(--limel-theme-error-color);
    font-size: 0.6875rem;
    line-height: 1.5;
    visibility: inherit;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.25rem;
}

.button-add-new {
    margin-top: 0.5rem;
    width: 100%;
}

h1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    text-wrap: balance;

    font-size: var(--limel-form-h1-font-size);
    line-height: calc(var(--limel-form-h1-font-size) * 1.42857);
    letter-spacing: -0.01rem;
    font-weight: 500;
}

limel-markdown {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group {
    position: relative;

    limel-help {
        position: absolute;
        top: calc(var(--form-row-gap, 1rem) * -0.5);
        left: calc(var(--form-column-gap, 1rem) * -0.5);
    }

    h1 {
        color: rgb(var(--contrast-1400), 0.8);
    }

    h1 {
        --limel-form-h1-font-size: 1.476rem;
        font-weight: 800;
    }

    .form-group {
        h1 {
            --limel-form-h1-font-size: 1.383rem;
            font-weight: 700;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -0.75rem;

                background-color: var(
                    --lime-primary-color,
                    var(--limel-theme-primary-color)
                );
                width: 0.125rem;
                height: 1.5rem;
                border-radius: 0.125rem;

                opacity: 0.6;
            }
        }

        .form-group {
            h1 {
                --limel-form-h1-font-size: 1.296rem;
                font-weight: 600;

                &:before {
                    display: none;
                }
            }

            .form-group {
                h1 {
                    --limel-form-h1-font-size: 1.215rem;

                    &:before {
                        display: none;
                    }
                }
                .form-group {
                    h1 {
                        --limel-form-h1-font-size: 1.138rem;

                        &:before {
                            display: none;
                        }
                    }

                    .form-group {
                        h1 {
                            --limel-form-h1-font-size: 1.067rem;

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
