@use '../../../style/mixins';

* {
    box-sizing: border-box;
}

section {
    padding: 1rem;
    @include mixins.add-chessboard-background();
}

input[type='text'] {
    // Overriding some of the native input styles for the
    // sake of this example.
    border: none;
    outline: none;

    height: 2.5rem;
    width: 100%;
    padding: 0 1rem;

    background-color: transparent;
}
