@use '../../style/internal/lime-theme';
@use '../../style/internal/lime-typography';
@use '../../style/functions';
@use '../../style/mixins';

/**
 * @prop --closed-header-background-color: background color for header when closed
 * @prop --open-header-background-color: background color for header when open
 * @prop --header-stroke-color: color of the animated icons that visulize collapsed or normal states of the headers, as well as the divider line on headers
 * @prop --body-background-color: background color for body
 * @prop --body-padding: space around content of the body
 */

:host {
    --border-radius-of-header: 0.75rem;
    display: block;
}

:host([hidden]) {
    display: none;
}

:host([disabled]) {
    pointer-events: none;
}

.section__header {
    @include mixins.visualize-keyboard-focus;

    transition: background-color 0.4s ease, border-radius 0.1s ease;
    cursor: pointer;

    align-items: center;
    display: flex;
    justify-content: space-between;

    padding-left: functions.pxToRem(10);
    padding-right: functions.pxToRem(10);
    height: functions.pxToRem(60);

    background-color: var(
        --closed-header-background-color,
        rgb(var(--contrast-200))
    );
    border-radius: var(--border-radius-of-header);

    section.open & {
        background-color: var(
            --open-header-background-color,
            rgb(var(--contrast-100))
        );
        border-radius: var(--border-radius-of-header)
            var(--border-radius-of-header) 0 0;
        &:hover {
            background-color: var(
                --open-header-background-color,
                rgb(var(--contrast-300))
            );
        }
    }

    &:hover {
        background-color: var(
            --open-header-background-color,
            rgb(var(--contrast-300))
        );
    }
}

.section__header__title {
    @include lime-typography.typography(headline2);

    justify-self: flex-start;
    padding-right: functions.pxToRem(12);

    user-select: none; // mostly to improve experience on Android, where tapping on sections selects the text too

    padding-right: functions.pxToRem(8);

    // Below tries to render text in two lines,
    // and then truncate if there is no more space
    height: auto;
    max-height: 3rem;
    line-height: 1.2rem;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.section__header__divider-line {
    transition: opacity 0.3s ease 0.3s;
    flex-grow: 1;
    height: functions.pxToRem(2);
    border-radius: functions.pxToRem(1);
    background-color: var(--header-stroke-color, rgb(var(--contrast-900)));
    margin-right: functions.pxToRem(8);

    opacity: 0;

    section.open & {
        opacity: 0.16;
    }
}

.section__header__actions {
    justify-self: flex-end;
    flex-shrink: 0;
}

@keyframes fade-in-section__body {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.section__body {
    animation: fade-in-section__body 0.3s ease-in forwards;
    background-color: var(--body-background-color, var(--contrast-100));
    padding-left: var(--body-padding, functions.pxToRem(20));
    padding-right: var(--body-padding, functions.pxToRem(20));
    margin-bottom: functions.pxToRem(24);
    border-radius: 0 0 var(--border-radius-of-header)
        var(--border-radius-of-header);

    display: none;
    opacity: 0;
    section.open & {
        display: block;
    }

    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@import './partial-styles/expand-icon.scss';
