@import '../../style/internal/mdc-variables';

/**
 * @prop --closed-header-background-color: background color for header when closed
 * @prop --open-header-background-color: background color for header when open
 * @prop --body-background-color: background color for body
 * @prop --body-padding: padding for body
 */

:host {
    --border-radius-of-header: 0.75rem;
    display: block;
}

:host([hidden]) {
    display: none;
}

:host([disabled]) {
    pointer-events: none;
}

.section__header {
    transition: background-color 0.4s ease, border-radius 0.1s ease;
    cursor: pointer;

    align-items: center;
    display: flex;
    justify-content: space-between;

    padding-left: pxToRem(10);
    padding-right: pxToRem(10);
    height: pxToRem(60);

    background-color: var(--closed-header-background-color, #fafafb);
    border-radius: var(--border-radius-of-header);

    section.open & {
        background-color: var(--open-header-background-color, #ffffff);
        border-radius: var(--border-radius-of-header)
            var(--border-radius-of-header) 0 0;
        &:hover {
            background-color: var(--open-header-background-color, #f6f6f7);
        }
    }
    &:hover {
        background-color: var(--open-header-background-color, #f6f6f7);
    }
}

.section__header__title {
    justify-self: flex-start;
    padding-right: pxToRem(12);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    user-select: none; // mostly to improve experience on Android, where tapping on sections selects the text too
}

.section__header__divider-line {
    transition: opacity 0.3s ease 0.3s;
    flex-grow: 1;
    height: pxToRem(2);
    border-radius: pxToRem(1);
    background-color: var(--header-stroke-color, #8c8c96);
    margin-right: pxToRem(16);

    opacity: 0;

    section.open & {
        opacity: 0.16;
    }
}

.section__header__actions {
    justify-self: flex-end;
    flex-shrink: 0;
}

@keyframes fade-in-section__body {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.section__body {
    animation: fade-in-section__body 0.3s ease-in forwards;
    background-color: var(--body-background-color, #ffffff);
    padding: var(--body-padding, pxToRem(20));
    margin-bottom: pxToRem(24);
    border-radius: 0 0 var(--border-radius-of-header)
        var(--border-radius-of-header);

    display: none;
    opacity: 0;
    section.open & {
        display: block;
    }

    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@import './partial-styles/expand-icon.scss';
