@use '../../style/mixins';
@use '../../style/internal/shared_input-select-picker';
@forward './partial-styles/lime-admin-hack';

:host(limel-color-picker) {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: auto 1fr;
}

button[slot='trigger'] {
    all: unset;
    box-sizing: border-box;
    position: relative;
    isolation: isolate;
    width: shared_input-select-picker.$height-of-mdc-text-field;
    height: shared_input-select-picker.$height-of-mdc-text-field;

    border-radius: 0.5rem;

    &:not([disabled]):not([disabled='true']) {
        @include mixins.is-elevated-clickable();
        @include mixins.visualize-keyboard-focus();
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
    }

    &:before {
        @include mixins.add-chessboard-background();
        z-index: 0;
    }

    &:after {
        z-index: 1;
        box-shadow: 0 0 0 0.25rem rgb(var(--contrast-100)) inset;
        background: var(--background);
    }
}

:host([readonly]:not([readonly='false'])) {
    limel-input-field {
        transform: translateX(
                calc(
                    #{shared_input-select-picker.$height-of-mdc-text-field} /
                        4 * -1
                )
            )
            translateY(
                calc(
                    #{shared_input-select-picker.$height-of-mdc-text-field} / 4
                )
            );
    }
}

:host([readonly]:not([readonly='false'])),
:host([disabled]:not([disabled='false'])) {
    button[slot='trigger'] {
        border: 1px solid rgba(var(--contrast-700), 0.65);
    }
}
