// We don't want the consumers to see these styles,
// as they are just to visualize the fake examples, thus distracting.
* {
    box-sizing: border-box;
}
$dialog-border-radius: 0.75rem;

.example {
    margin: 0.5rem 0;
    background-color: rgb(var(--contrast-600));
}

.fake-dialog-container {
    --header-top-right-left-border-radius: #{$dialog-border-radius};
    width: 100%;
    height: 100%;
    max-width: 40rem;
    padding: 0 3rem 3rem 3rem;
    margin: auto;

    &.shows-full-dialog {
        padding-top: 3rem;
    }

    p {
        font-size: var(--limel-theme-default-font-size);
        opacity: 0.7;
        align-self: flex-start;
        padding: 0 0.75rem;
    }

    h4 {
        padding: 0 0.75rem;
        margin-bottom: 0;
    }
}

.action-bar {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: flex-end;
    padding: 0.5rem;
}

.fake-dialog {
    display: flex;
    flex-direction: column;
    min-height: 3rem;
    background-color: rgb(var(--contrast-100));
    box-shadow: var(--shadow-depth-16);
    border-radius: 0 0 $dialog-border-radius $dialog-border-radius;

    .shows-full-dialog & {
        border-radius: $dialog-border-radius;
    }
}

limel-header {
    &.save {
        --header-icon-color: rgb(var(--color-lime-default));
    }
    &.delete {
        --header-icon-color: rgb(var(--color-red-default));
    }
}

.button {
    &.justify-left {
        justify-self: flex-start;
        margin-right: auto;
    }
    &.primary--neutral {
        --lime-primary-color: rgb(var(--contrast-1100));
    }
    &.primary--caution {
        --lime-on-primary-color: rgb(var(--color-gray-darker));
        --lime-primary-color: rgb(var(--color-amber-default));
    }
    &.primary--danger {
        --lime-on-primary-color: rgb(var(--color-red-default));
        --lime-primary-color: rgb(var(--contrast-100));
    }
    &.primary--danger-highlighted {
        --lime-primary-color: rgb(var(--color-red-default));
    }
}
