/*
 * This file is imported into every component that uses MDC!
 *
 * Anything in this file that generates CSS output on its own,
 * without being explicitly used, will output that CSS in every
 * single component, increasing the size of the production build.
 * Avoid that unless there's very good reason for it!
 */

@use '../brand-colors';
@use '../_theme-color-variables';

@use '@material/theme' with (
    $primary: brand-colors.$lime-turquoise,
    $secondary: brand-colors.$lime-dark-grey,
    $background: #fff,
    $surface: #fff,
    $error: #b00020,
    $on-primary: #fff,
    $on-secondary: #fff,
    $on-surface: #000,
    $on-error: #fff,
    // $text-disabled-on-background: rgba(0, 0, 0, 0.38),
    // $text-hint-on-light: rgba(0, 0, 0, 0.38),
    // $text-primary-on-background: rgba(0, 0, 0, 0.87),
    // $text-secondary-on-background: rgba(0, 0, 0, 0.54),
    //
    // The following variables are also available to be set if needed
    // (note by Ads: they probably aren't available in MDC v11)
    //
    // $text-hint-on-background: rgba(0, 0, 0, 0.38),
    // $text-icon-on-background: rgba(0, 0, 0, 0.38),
    // $text-primary-on-light: rgba(0, 0, 0, 0.87),
    // $text-secondary-on-light: rgba(0, 0, 0, 0.54),
    // $text-disabled-on-light: rgba(0, 0, 0, 0.38),
    // $text-icon-on-light: rgba(0, 0, 0, 0.38),
    // $text-primary-on-dark: white,
    // $text-secondary-on-dark: rgba(255, 255, 255, 0.7),
    // $text-hint-on-dark: rgba(255, 255, 255, 0.5),
    // $text-disabled-on-dark: rgba(255, 255, 255, 0.5),
     // $text-icon-on-dark: rgba(255, 255, 255, 0.5),
);
@forward '@material/theme';

@use './lime-typography';

:host {
    @include theme-color-variables.theme-color-variables;
}
