/*
 * This file is imported into every component that uses MDC!
 *
 * Anything in this file that generates CSS output on its own,
 * without being explicitly used, will output that CSS in every
 * single component, increasing the size of the production build.
 * Avoid that unless there's very good reason for it!
 */

@use '../functions';

@use '@material/typography' with (
    $styles-headline1: (
        font-family: inherit,
        font-size: functions.pxToRem(22),
        line-height: functions.pxToRem(22),
    ),
    $styles-headline2: (
        font-family: inherit,
        font-size: functions.pxToRem(16),
        line-height: functions.pxToRem(14),
    ),
    $styles-headline3: (
        font-family: inherit,
        font-size: functions.pxToRem(16),
        line-height: functions.pxToRem(14),
    ),
    $styles-headline4: (
        font-family: inherit,
        font-size: functions.pxToRem(16),
        line-height: functions.pxToRem(14),
    ),
    $styles-headline5: (
        font-family: inherit,
        font-size: functions.pxToRem(14),
        line-height: functions.pxToRem(14),
    ),
    $styles-headline6: (
        font-family: inherit,
        font-size: functions.pxToRem(14),
        line-height: functions.pxToRem(14),
    ),
    $styles-subtitle1: (
        font-family: inherit,
        font-size: functions.pxToRem(14),
        line-height: functions.pxToRem(18),
    ),
    $styles-subtitle2: (
        font-family: inherit,
        font-size: functions.pxToRem(13),
        line-height: functions.pxToRem(18),
    ),
    $styles-body1: (
        font-family: inherit,
        font-size: functions.pxToRem(13),
        line-height: functions.pxToRem(24),
    ),
    $styles-body2: (
        font-family: inherit,
        font-size: functions.pxToRem(13),
        line-height: functions.pxToRem(26),
    ),
    $styles-caption: (
        font-family: inherit,
        font-size: functions.pxToRem(11),
        line-height: functions.pxToRem(14),
    ),
    $styles-button: (
        font-family: inherit,
        font-size: functions.pxToRem(14),
        line-height: functions.pxToRem(36),
        text-transform: none,
    ),
    $styles-overline: (
        font-family: inherit,
        font-size: functions.pxToRem(11),
        line-height: functions.pxToRem(14),
    )
);
@forward '@material/typography';
