$chip-set--hidden-text-field: -100 !default;
$date-picker--flatpickr-adapter--datepicker-x-container--selected: 1 !default;
$date-picker--flatpickr-adapter--datepicker-x-container--hover: 1 !default;
$date-picker--flatpickr-adapter--datepicker-x--after: -1 !default;
$date-picker--flatpickr-adapter--flatpickr-day--after: -1 !default;
$input-field--formatted-value: 1 !default;
$input-field--input-with-formatted-value: 2 !default;
$input-field--mdc-text-field__input--readonly: 1 !default;
$list--has-interactive-items--mdc-list-item--hover: 1 !default;
$list-static-actions-list: 1 !default;
$tab-bar--active-tab: 2 !default;
$table--has-interactive-rows--selectable-row--hover: 1 !default;
$popover-before: -1 !default;
$button-group-radio-button-keyboard-focused: 1 !default;
$list-mdc-list-item: 0 !default;
$limel-progress-flow-step-content: 2 !default;
$limel-progress-flow-divider: 1 !default;
$limel-circular-progress-value: 1 !default;
