$input-field--formatted-value: 1 !default;
$input-field--input-with-formatted-value: 2 !default;
$input-field--mdc-text-field__input--readonly: 1 !default;
$button-group-radio-button-keyboard-focused: 1 !default;
