$limel-chip-set--hidden-text-field--z-index: -100 !default;
$limel-date-picker--flatpickr-adapter--datepicker-x-container--selected--z-index: 1 !default;
$limel-date-picker--flatpickr-adapter--datepicker-x-container--hover--z-index: 1 !default;
$limel-date-picker--flatpickr-adapter--datepicker-x--after--z-index: -1 !default;
$limel-date-picker--flatpickr-adapter--flatpickr-day--after--z-index: -1 !default;
$limel-input-field--formatted-input--z-index: 1 !default;
$limel-list--has-interactive-items--mdc-list-item--hover--z-index: 1 !default;
$limel-slider--thumb-container--z-index: 1 !default;
$limel-tab-bar--active-tab--z-index: 2 !default;
$limel-table--has-interactive-rows--selectable-row--hover--z-index: 1 !default;
$limel-popover-before--z-index: -1 !default;
$limel-button-group-radio-button-keyboard-focused--z-index: 1 !default;
$limel-list-mdc-list-item--z-index: 0 !default;
$limel-progress-flow-step--z-index: 1 !default;
$limel-progress-flow-divider--z-index: -1 !default;
