@import '../../style/functions';

p {
    font-size: small;
}

section {
    position: relative;

    limel-input-field {
        display: inline-block;
        width: calc(50% - pxToRem(10));

        &:first-of-type {
            margin-right: pxToRem(20);
        }
    }
}
