@import '../../style/variables';

@import "@limetech/mdc-list/mdc-list";

@import '../checkbox/checkbox.scss';

@import './radio-button/radio-button.scss';

/**
 * @prop --icon-background-color: Color to use for icon background when `badgeIcons=true`.
 * @prop --icon-color: Color to use for icon. Defaults to grey when `badgeIcons=false`. Defaults to white when `badgeIcons=true`.
 */

:host {
    display: block;
}

:host([hidden]) {
    display: none;
}

.mdc-list {
    --mdc-theme-text-icon-on-background: var(--icon-color, rgb(157,157,157));

    &.selectable .mdc-list-item:not(.mdc-list-item--disabled) {
        cursor: pointer;
    }

    &.mdc-list--avatar-list {
        position: relative;

        limel-icon {
            background-color: var(--icon-background-color, var(--lime-light-grey));
            color: var(--icon-color, white);
        }

        hr.mdc-list-divider {
            position: absolute;
            bottom: 0;

            &.mdc-list-divider--inset {
                --icon-width: #{pxToRem(41)};
                --icon-right-padding: #{pxToRem(16)};
                --list-right-padding: #{pxToRem(16)};
                margin-left: calc(var(--icon-width) + var(--icon-right-padding));
                width: calc(100% - var(--icon-width) - var(--icon-right-padding) - var(--list-right-padding));

                &.x-small {
                    --icon-width: #{pxToRem(23)};
                }

                &.small {
                    --icon-width: #{pxToRem(30)};
                }

                &.medium {
                    --icon-width: #{pxToRem(40)};
                }

                &.large {
                    --icon-width: #{pxToRem(46)};
                }
            }
        }

        .mdc-list-item:last-child hr.mdc-list-divider {
            display: none;
        }
    }

    &.mdc-list--two-line.list--compact {
        .mdc-list-item {
            height: 4rem;

            .mdc-list-item__text {
                margin-top: pxToRem(-4);
            }
        }
    }
}

.mdc-list:not(.mdc-list--avatar-list) {
    limel-icon.mdc-list-item__graphic {
        // Tweaks to make icon lists align nicely with badge-icon lists.
        &[size="x-small"] {
            margin-right: pxToRem(24);
        }
        &[size="small"] {
            margin-right: pxToRem(26);
        }
    }
}
