@import "@lime-material/list/mdc-list";

:host {
    display: block;
}

:host([hidden]) {
    display: none;
}

.mdc-list {
    cursor: pointer;

    &.mdc-list--avatar-list {
        limel-icon {
            background-color: var(--icon-background-color, var(--lime-grey));
            color: white;
            height: 3rem;
            width: 3rem;
        }
    }
}
