:host(limel-example-header-colors) {
    --header-background-color: rgb(var(--color-yellow-dark));
    --header-heading-color: rgb(var(--color-brown-default));
    --header-subheading-color: rgb(var(--color-brown-darker));
}
