my-deep-red-component {
    grid-area: drd;
}
my-red-component {
    grid-area: red;
}
my-orange-component {
    grid-area: ora;
}
my-yellow-component {
    grid-area: yel;
}
my-green-component {
    grid-area: grn;
}
my-turquoise-component {
    grid-area: trq;
}
my-blue-component {
    grid-area: blu;
}
my-dark-blue-component {
    grid-area: dbl;
}
my-magenta-component {
    grid-area: mag;
}
my-light-grey-component {
    grid-area: lgr;
}
my-dark-grey-component {
    grid-area: dgr;
}

/* prettier-ignore */
limel-grid {
    --lime-grid-columns: 4;

    --lime-grid-area:
        "drd drd blu dbl"
        "drd drd blu dbl"
        "trq trq blu dbl"
        "trq trq blu dbl"
        "red red red red"
        "red red red red"
        "red red red red"
        "dgr mag mag lgr"
        "dgr mag mag lgr"
        "dgr mag mag lgr"
        "ora mag mag yel"
        "ora mag mag yel"
        "grn grn .   .  "
        "grn grn .   .  "
        "grn grn .   .  "
        "grn grn .   .  ";
}

// Below is stuff that's only here for the boxes in the grid
// to look nice in this example. You wouldn't use any of this
// when placing real components into a grid.

my-deep-red-component {
    background-color: rgb(var(--color-red-darker));
}
my-red-component {
    background-color: rgb(var(--color-red-default));
}
my-orange-component {
    background-color: rgb(var(--color-orange-default));
}
my-yellow-component {
    background-color: rgb(var(--color-yellow-default));
}
my-green-component {
    background-color: rgb(var(--color-green-default));
}
my-turquoise-component {
    background-color: rgb(var(--color-teal-default));
}
my-blue-component {
    background-color: rgb(var(--color-sky-default));
}
my-dark-blue-component {
    background-color: rgb(var(--color-blue-darker));
}
my-magenta-component {
    background-color: rgb(var(--color-magenta-default));
}
my-light-grey-component {
    background-color: rgb(var(--color-glaucous-light));
}
my-dark-grey-component {
    background-color: rgb(var(--color-glaucous-darker));
}
