:host(:focus),
:host(:focus-visible),
:host(:focus-within) {
    .mdc-slider-helper-text {
        opacity: 1;
    }
}

.mdc-slider-helper-line {
    @include shared_input-select-picker.looks-like-helper-line;
}
.mdc-slider-helper-text {
    @include shared_input-select-picker.looks-like-helper-text;

    &:before {
        @include shared_input-select-picker.looks-like-helper-text-pseudo-before;
    }
}
