@use '../../../style/internal/mdc-variables';
@use '../../../style/functions';

.lime-slider--readonly {
    .mdc-slider.mdc-slider--disabled {
        .mdc-slider__track-container {
            top: functions.pxToRem(2);
            height: functions.pxToRem(16);
            border-radius: 10rem;
        }

        .mdc-slider__pin,
        .mdc-slider__track {
            // background-color: var(
            //     --lime-primary-color,
            //     mdc-variables.$mdc-theme-primary
            // );
        }
        .mdc-slider__pin-value-marker {
            // color: var(
            //     --lime-on-primary-color,
            //     mdc-variables.$mdc-theme-on-primary
            // );
        }
        .mdc-slider__pin {
            height: 1rem;
            margin-top: functions.pxToRem(2);
            font-size: functions.pxToRem(14);
        }
    }
}
