:host([readonly]:not([readonly='false'])) {
    input[type='range'] {
        cursor: default;
    }

    .track,
    .active,
    .indicator {
        height: 0.75rem;
    }

    .indicator {
        box-shadow: none;
    }

    .knob {
        opacity: 0;
    }

    .active {
        background-color: var(
            --lime-primary-color,
            var(--limel-theme-primary-color)
        );
    }
}
