.thumb {
    position: absolute;
    left: calc(var(--slider-fraction) * 100%);
    top: 0;
    bottom: 0;
    width: 0;
    z-index: 1;
}

.knob {
    transition: border-color 0.5s ease;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(-50%, -50%, 0);
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 0.5rem solid;
    border-color: var(--lime-primary-color, var(--limel-theme-primary-color));
    background-color: rgb(var(--contrast-100));

    &:before,
    &:after {
        transition: all 0.2s ease 0.2s;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        width: 0;
        height: 0;
        border: 0.375rem solid transparent;
    }

    :host([disabled]:not([disabled='false'])) & {
        &:before,
        &:after {
            content: none;
        }
    }

    &:before {
        opacity: calc(var(--slider-fraction) * 100);
        left: -1rem;
        transform: rotate(90deg);
    }
    &:after {
        opacity: calc((1 - var(--slider-fraction)) * 100);
        right: -1rem;
        transform: rotate(-90deg);
    }

    .slider:hover &,
    .slider:has(input[type='range']:active) &,
    .slider:has(input[type='range']:focus) & {
        box-shadow: var(--button-shadow-normal);

        &:before {
            left: -1.5rem;
            border-top-color: rgb(var(--contrast-1400), 0.5);
        }
        &:after {
            right: -1.5rem;
            border-top-color: rgb(var(--contrast-1400), 0.5);
        }
    }
}

.indicator {
    user-select: none;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
    transform-origin: bottom center;
    transition:
        transform 0.2s ease-out,
        box-shadow 0.2s ease-out,
        background-color 0.5s ease;

    border-radius: 1.25rem;
    padding: 0 0.375rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    white-space: nowrap;

    color: rgb(var(--color-white));
    font-size: 0.6875rem;

    background-color: var(
        --lime-primary-color,
        var(--limel-theme-primary-color)
    );
    box-shadow: var(--button-shadow-normal);
}

:host(:not([disabled]):not([readonly])) {
    input[type='range'] {
        // When the slider is being actively dragged
        &:active,
        &:focus {
            ~ .thumb .indicator {
                transform: translate3d(-50%, calc(-100% - 0.75rem), 0)
                    scale(1.25);
                box-shadow: var(--shadow-depth-16);
            }
        }
    }
}
