@use '../../../style/functions';

.mdc-slider__thumb-knob {
    .mdc-slider:not(.mdc-slider--disabled) & {
        &:before,
        &:after {
            transition: all 0.2s ease 0.2s;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;

            opacity: 0;

            width: 0;
            height: 0;
            border: functions.pxToRem(4) solid transparent;
            border-top-color: rgba(var(--contrast-1400), 0.6);
        }

        &:before {
            left: functions.pxToRem(-20);
            transform: rotate(90deg);
        }
        &:after {
            right: functions.pxToRem(-20);
            transform: rotate(-90deg);
        }

        &:hover {
            &:before {
                opacity: 0.8;
                left: functions.pxToRem(-28);
            }
            &:after {
                opacity: 0.8;
                right: functions.pxToRem(-28);
            }
        }
    }
}

.mdc-slider {
    .mdc-slider__thumb {
        top: -0.25rem;
    }
    .mdc-slider__value-indicator-container {
        z-index: 1; //FIXME
    }
    .mdc-slider__value-indicator {
        transition: transform 0.2s ease-out;
        opacity: 1; // makes sure number is being always displayed, not only while dragging
        transform: scale(1) translateY(functions.pxToRem(32));
        border-radius: functions.pxToRem(20);
        padding: 0 functions.pxToRem(8);
        height: functions.pxToRem(24);

        &:before {
            border-top-color: transparent;
        }
    }
    .mdc-slider__value-indicator-text {
        color: rgb(var(--color-white));
    }

    .mdc-ripple-upgraded--foreground-activation {
        // when the pin is being dragged, which only happens when component is not `disabled` of course
        .mdc-slider__value-indicator {
            transform: scale(1.5) translateY(0);
            box-shadow: var(--shadow-depth-16);

            &:before {
                border-top-color: var(
                    --lime-primary-color,
                    var(--limel-theme-primary-color)
                );
            }
        }
    }

    &:not(.mdc-slider--disabled) {
        .mdc-slider__value-indicator {
            box-shadow: var(--button-shadow-normal);
        }
    }
}

.mdc-slider__value-indicator {
    .mdc-slider:not(.mdc-slider--disabled) &,
    :host(limel-slider[readonly]) & {
        background-color: var(
            --lime-primary-color,
            var(--limel-theme-primary-color)
        );
    }
}
