.mdc-slider__track--active_fill,
.mdc-slider__track--inactive,
.mdc-slider__thumb-knob {
    transition: background-color 0.5s ease;
}

:host(.displays-percentage-colors[readonly]) {
    --mdc-theme-on-surface: var(--lime-primary-color);
}

:host(.displays-percentage-colors.percent-0) {
    --lime-primary-color: var(--color-percent--0);
}
:host(.displays-percentage-colors.percent-0-10) {
    --lime-primary-color: var(--color-percent--0to10);
}
:host(.displays-percentage-colors.percent-10-20) {
    --lime-primary-color: var(--color-percent--10to20);
}
:host(.displays-percentage-colors.percent-20-30) {
    --lime-primary-color: var(--color-percent--20to30);
}
:host(.displays-percentage-colors.percent-30-40) {
    --lime-primary-color: var(--color-percent--30to40);
}
:host(.displays-percentage-colors.percent-40-50) {
    --lime-primary-color: var(--color-percent--40to50);
}
:host(.displays-percentage-colors.percent-50-60) {
    --lime-primary-color: var(--color-percent--50to60);
}
:host(.displays-percentage-colors.percent-60-70) {
    --lime-primary-color: var(--color-percent--60to70);
}
:host(.displays-percentage-colors.percent-70-80) {
    --lime-primary-color: var(--color-percent--70to80);
}
:host(.displays-percentage-colors.percent-80-90) {
    --lime-primary-color: var(--color-percent--80to90);
}
:host(.displays-percentage-colors.percent-90-100) {
    --lime-primary-color: var(--color-percent--90to100);
}
:host(.displays-percentage-colors.percent-30-40),
:host(.displays-percentage-colors.percent-40-50),
:host(.displays-percentage-colors.percent-70-80) {
    .mdc-slider__value-indicator-text {
        color: rgb(var(--color-gray-darker));
    }
    .mdc-slider--disabled {
        .mdc-slider__value-indicator-text {
            color: rgb(var(--contrast-100));
        }
    }
}
:host(.displays-percentage-colors.percent-50-60),
:host(.displays-percentage-colors.percent-60-70) {
    .mdc-slider__value-indicator-text {
        color: rgb(var(--color-gray-dark));
    }
    .mdc-slider--disabled {
        .mdc-slider__value-indicator-text {
            color: rgb(var(--contrast-100));
        }
    }
}
