@use '../../../style/functions';
@use '../../../style/mixins';

@use '@material/theme/mdc-theme';
@import '_flatpickr.scss';

/**
 * @prop --today-label: Tooltip label for "today".
 */

:host(limel-flatpickr-adapter) {
    --calendar-text-color: rgb(var(--contrast-1400));
    color: var(--calendar-text-color);

    * {
        box-sizing: border-box;
    }
}

svg {
    fill: var(--calendar-text-color) !important;
}

.flatpickr-calendar {
    isolation: isolate;
    border-radius: 0.25rem;
    background-color: var(--lime-elevated-surface-background-color);
    box-shadow: var(--shadow-depth-16);
}

.flatpickr-weekwrapper {
    .flatpickr-day,
    .flatpickr-weekday {
        color: rgb(var(--contrast-700));
    }
}

.flatpickr-weeks {
    padding: 0 0.5rem;
    box-shadow: 1px 0 0 rgb(var(--contrast-300));
}

.flatpickr-weekdaycontainer,
.dayContainer {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.flatpickr-day {
    .dayContainer & {
        @include mixins.is-flat-clickable();
    }
    position: relative;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--calendar-text-color);

    border: 1px solid transparent;
    border-radius: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;

    &:hover {
        z-index: 1;
    }

    &.prevMonthDay,
    &.nextMonthDay {
        color: rgb(var(--contrast-800));

        &.inRange {
            opacity: 0.6;
        }
    }

    &.selected,
    &.startRange,
    &.endRange,
    &.inRange,
    &.selected:hover {
        border-color: var(--mdc-theme-primary);
        color: var(--mdc-theme-on-primary);
        background: var(--mdc-theme-primary);
    }

    &.today {
        border-color: var(--mdc-theme-on-primary);
        box-shadow: 0 0 0 0.125rem var(--mdc-theme-primary);

        &:hover {
            &:not(.selected) {
                background-color: transparent;
                color: var(--mdc-theme-primary);
            }
            &:before {
                top: -60%;
                opacity: 1;
            }
        }

        &:before {
            transition:
                opacity 0.2s ease,
                top 0.2s ease;

            pointer-events: none;
            content: var(--today-label);
            display: inline-block;
            position: absolute;
            inset: auto;
            top: -50%;

            height: 1.25rem;
            line-height: 1.25rem;
            font-size: 0.75rem;

            color: rgb(var(--contrast-1100));
            border-radius: 1rem;
            padding: 0.125rem 0.5rem;

            background-color: rgb(var(--contrast-100), 0.9);
            box-shadow: var(--shadow-depth-16);
            opacity: 0;
        }
    }

    &.inRange {
        transition-duration: 0s;
    }
}

.flatpickr-time {
    border-top: 1px solid rgb(var(--contrast-400));

    input {
        color: var(--mdc-theme-on-surface);
    }

    input,
    .flatpickr-am-pm {
        &:hover,
        &:focus {
            background: rgb(var(--contrast-100));
        }
    }
}

.flatpickr-weekdays {
    background-color: rgb(var(--contrast-300));
}

// top bar of month view
.flatpickr-months {
    justify-items: center;
    padding: 0.125rem;
    color: var(--calendar-text-color) !important;
    border-bottom: 1px solid rgb(var(--contrast-300));

    svg {
        height: 0.75rem;
        width: 0.75rem;
    }

    .flatpickr-month {
        display: flex;
        align-items: stretch;
    }

    .flatpickr-current-month {
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        gap: 1rem;
        inset: 0;

        height: unset;
        width: 100%;

        padding: 0.25rem;

        .numInputWrapper {
            width: 4rem;
            border-radius: 0.25rem;

            &:hover {
                background-color: rgb(var(--contrast-300));
            }
        }

        input {
            height: 100%;
        }
    }

    .flatpickr-prev-month,
    .flatpickr-next-month {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 2rem;
    }
}

.flatpickr-monthDropdown-months,
.flatpickr-prev-month,
.flatpickr-next-month,
.arrowUp,
.arrowDown {
    @include mixins.is-flat-clickable;
    border-radius: 0.25rem;
}

.arrowUp {
    border-radius: 0 0.25rem 0 0;
}

.arrowDown {
    border-radius: 0 0 0.25rem 0;
}

.numInputWrapper {
    border-radius: 0.25rem;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;

        &.arrowUp:after {
            border-bottom-color: rgb(var(--contrast-1400));
        }

        &.arrowDown:after {
            border-top-color: rgb(var(--contrast-1400));
        }
    }
}

// ***************************

.datepicker-months-container,
.datepicker-quarters-container,
.datepicker-years-container {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
}

.datepicker-months-container {
    grid-template-columns: repeat(6, 1fr);
}
.datepicker-quarters-container {
    grid-template-columns: repeat(4, 1fr);
}
.datepicker-years-container {
    grid-template-columns: repeat(5, 1fr);
}

.datepicker-month,
.datepicker-quarter,
.datepicker-year {
    @include mixins.is-flat-clickable;
    min-width: 0;
    text-align: center;

    &.selected {
        color: var(--mdc-theme-on-primary);
        background: var(--mdc-theme-primary);
    }
}

.datepicker-month-heading,
.datepicker-quarter-heading,
.datepicker-year-heading {
    align-self: center;
}

.datepicker-month {
    padding: 0.125rem 0.5rem;
    border-radius: 2rem;
}
.datepicker-quarter {
    padding: 0.75rem 0;
    border-radius: 1rem;
}
.datepicker-year {
    padding: 0.125rem 0.25rem;
    border-radius: 2rem;
}

.datepicker-quarter {
    font-weight: bold;
    font-size: 1rem;
}

.datepicker-month-in-quarter {
    opacity: 0.7;
    display: block;
    font-size: 0.75rem;
    font-weight: normal;

    &:first-of-type {
        margin-top: 0.5rem;
    }
}
