.grid {
    display: grid;
    grid-template-columns: 0.625*25rem 0.625*25rem 0.625*25rem;
    grid-template-rows: 0.625*15rem 0.625*15rem 0.625*15rem 0.625*15rem;
    grid-gap: 0.625*1rem;
}

.tile {
    color: white;
    text-align: center;
    line-height: 0.625*15rem;
    border-radius: 0.625*.3rem;

    pre {
        margin: 0;
        padding: 0;
    }
}
