@use '../../style/mixins';

@import '../../../node_modules/codemirror/lib/codemirror.css';
@import '../../../node_modules/codemirror/addon/lint/lint.css';
@import '../../../node_modules/codemirror/addon/fold/foldgutter.css';

/**
 * @prop --code-editor-max-height: Defines how tall the code editor can get before content becomes scrollable, defaults to `10rem`.
 * @prop --code-editor-font-size: Defines the font size of the code, defaults to `0.8125rem`.
 */

@mixin light-mode-styles {
    --code-editor-neutral-text-color: var(--contrast-1100);
    --code-editor-background-color: var(--contrast-200);
    --code-editor-gutter-background-color: var(--contrast-300);
    --code-editor-line-number-text-color: var(--contrast-700);
    --code-editor-cursor-color: var(--color-amber-dark);

    --code-editor-selection-highlight-color: var(--color-cyan-default);
    --code-editor-selection-lowlight-color: var(--contrast-600);

    .cm-attribute,
    .cm-property,
    .cm-keyword {
        color: rgb(var(--color-violet-light));
    }
    .cm-operator {
        color: rgb(var(--color-sky-dark));
    }
    .cm-variable {
        color: rgb(var(--color-pink-light));
    }
    .cm-variable-2 {
        color: rgb(var(--contrast-1100));
    }
    .cm-variable-3,
    .cm-type {
        color: rgb(var(--color-amber-darker));
    }
    .cm-builtin,
    .cm-meta {
        color: rgb(var(--color-amber-default));
    }
    .cm-atom {
        color: rgb(var(--color-coral-default));
    }
    .cm-tag,
    .cm-number {
        color: rgb(var(--color-magenta-default));
    }
    .cm-def {
        color: rgb(var(--color-sky-default));
    }
    .cm-string {
        color: rgb(var(--color-green-dark));
    }
    .cm-string-2 {
        color: rgb(var(--color-pink-default));
    }
    .cm-qualifier {
        color: rgb(var(--color-grass-default));
    }
    .cm-error {
        color: rgb(var(--color-white));
        background-color: rgb(var(--color-red-default));
    }
    .cm-comment {
        color: rgba(var(--code-editor-neutral-text-color), 0.7);
    }
}

@mixin dark-mode-styles {
    --code-editor-neutral-text-color: var(--contrast-1600);
    // --code-editor-background-color: { same as light };
    // --code-editor-gutter-background-color: { same as light };
    --code-editor-line-number-text-color: var(--contrast-800);
    --code-editor-cursor-color: var(--color-amber-default);

    --code-editor-selection-highlight-color: var(--color-cyan-light);
    --code-editor-selection-lowlight-color: var(--contrast-100);

    .cm-attribute,
    .cm-property,
    .cm-keyword {
        color: rgb(var(--color-purple-lighter));
    }
    .cm-operator {
        color: rgb(var(--color-sky-lighter));
    }
    // .cm-variable { same as light }
    // .cm-variable-2 { same as light }
    .cm-variable-3,
    .cm-type {
        color: rgb(var(--color-yellow-light));
    }
    // .cm-builtin,
    // .cm-meta { same as light }
    .cm-atom {
        color: rgb(var(--color-coral-light));
    }
    .cm-tag,
    .cm-number {
        color: rgb(var(--color-magenta-light));
    }
    .cm-def {
        color: rgb(var(--color-sky-light));
    }
    .cm-string {
        color: rgb(var(--color-lime-light));
    }
    .cm-string-2 {
        color: rgb(var(--color-pink-lighter));
    }
    .cm-qualifier {
        color: rgb(var(--color-grass-light));
    }
    // .cm-error { same as light }
    .cm-comment {
        color: rgba(var(--code-editor-neutral-text-color), 0.4);
    }
}

:host(limel-code-editor) {
    isolation: isolate;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: var(--code-editor-font-size, 0.8125rem); // 13px
    @include light-mode-styles;
}

@include mixins.in(dark-mode) {
    :host {
        @include dark-mode-styles;
    }
}

.editor {
    display: flex;
    align-items: stretch;
    width: 100%;
    min-height: 2.5rem; // Like `limel-input-field`

    &.readonly {
        .CodeMirror-focused {
            .CodeMirror-cursors {
                visibility: visible !important;
            }
        }
    }
}

.cm-s-lime {
    &.CodeMirror {
        @include mixins.font-family(monospace);
        color: rgb(var(--code-editor-neutral-text-color));
        background-color: rgb(var(--code-editor-background-color));
        border-radius: 0.25rem;
        height: auto;
        width: 100%;
    }

    .CodeMirror-scroll {
        max-height: var(--code-editor-max-height, 10rem);
    }

    &.CodeMirror-focused {
        div.CodeMirror-selected {
            background: rgba(
                var(--code-editor-selection-highlight-color),
                0.15
            );
        }
    }
    div.CodeMirror-selected {
        background: rgba(var(--code-editor-selection-highlight-color), 0.05);
    }

    .CodeMirror {
        &-gutters {
            background-color: rgb(var(--code-editor-gutter-background-color));
            color: rgb(var(--code-editor-line-number-text-color));
            border: none;
        }

        &-guttermarker,
        &-guttermarker-subtle,
        &-linenumber {
            color: rgb(var(--code-editor-line-number-text-color));
        }

        &-cursor {
            border-left: 1px solid rgb(var(--code-editor-cursor-color));

            .editor.readonly & {
                border-color: rgba(var(--code-editor-neutral-text-color), 0.5);
                border-width: 0.125rem;
            }
        }

        &-lines {
            padding: 0.25rem 0;
        }

        &-line {
        }

        &-activeline-background {
            background: rgba(var(--code-editor-selection-lowlight-color), 0.5);
        }

        &-matchingbracket {
            font-weight: bold;
            color: rgb(var(--code-editor-neutral-text-color)) !important;
            background: rgba(
                var(--code-editor-selection-highlight-color),
                0.15
            );
            position: relative;

            &:before {
                content: '_';
                color: rgb(var(--code-editor-selection-highlight-color), 0.8);
                position: absolute;
                bottom: -0.4rem;
                left: 0;
                right: 0;
            }
        }
    }
    .CodeMirror-lint-marker-error,
    .CodeMirror-lint-message-error {
        background: {
            image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2032%2032'%3E%3Cdefs/%3E%3Cpath%20fill='rgb(255,255,255)'%20d='M7.219%205.781L5.78%207.22%2014.563%2016%205.78%2024.781%207.22%2026.22%2016%2017.437l8.781%208.782%201.438-1.438L17.437%2016l8.782-8.781L24.78%205.78%2016%2014.563z'/%3E%3C/svg%3E");
            color: rgb(var(--color-red-default));
            size: 0.75rem;
        }
        border-radius: 50%;
    }

    .CodeMirror-foldmarker {
        position: relative;
        @include mixins.is-elevated-clickable($color: transparent);
        text-shadow: none;

        padding: 0 0.5rem;
        border-radius: 1rem;

        background: {
            image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2032%2032'%20xml:space='preserve'%3E%3Ccircle%20fill='rgba(186,186,192,0.7)'%20cx='16'%20cy='16'%20r='2'/%3E%3Ccircle%20fill='rgba(186,186,192,0.7)'%20cx='26'%20cy='16'%20r='2'/%3E%3Ccircle%20fill='rgba(186,186,192,0.7)'%20cx='6'%20cy='16'%20r='2'/%3E%3C/svg%3E");
            size: contain;
            repeat: no-repeat;
            position: center;
        }
    }

    [class^='CodeMirror-foldgutter'] {
        color: var(--code-editor-neutral-text-color);
        transition: opacity 0.2s ease;
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }
    }

    .CodeMirror-foldgutter-folded {
        opacity: 0.7;
    }
}

limel-notched-outline {
    flex-grow: 1;
}

.copy-button {
    all: unset;
    @include mixins.is-elevated-clickable();
    @include mixins.visualize-keyboard-focus();
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    z-index: 1;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    font-size: 0.75rem;

    transition:
        mixins.$clickable-normal-state-transitions,
        opacity var(--limel-clickable-transition-speed, 0.4s) ease;
    opacity: 0;
    :host(limel-code-editor:hover) &,
    :host(limel-code-editor:focus-within) & {
        opacity: 1;
    }
}

@include mixins.hide-helper-line-when-not-needed(limel-code-editor);
