:host(limel-example-collapsible-section-css-props) {
    --closed-header-background-color: rgba(0, 0, 0, 0.05);
    --open-header-background-color: rgba(0, 0, 0, 0.1);
    --body-background-color: rgba(0, 0, 0, 0.05);
    --body-padding: 0 0 0 2rem;
}
