@import '../../style/internal/mdc-variables';

@import '@limetech/mdc-switch/mdc-switch';

:host {
    display: inline-flex;
    align-items: center;
}

.mdc-switch {
    @include mdc-switch-toggled-on-color(primary);

    margin-right: pxToRem(8);
}

label {
    @include mdc-typography(body2);
    line-height: normal;

    cursor: pointer;

    &.disabled {
        cursor: default;
    }
}
