@use '../../style/functions';
@use '../../style/internal/shared_input-select-picker';
@use '../../style/internal/lime-theme';

@use '@material/switch';

@include switch.core-styles;

:host {
    display: inline-flex;
    align-items: center;
}

.mdc-switch {
    @include switch.toggled-on-color(primary);
    margin-right: functions.pxToRem(8);
}

label {
    cursor: pointer;
    // below styles make it look like label of checkbox
    @include shared_input-select-picker.looks-like-input-value;
    font-size: functions.pxToRem(13);
    line-height: normal;
    color: var(--mdc-theme-text-primary-on-background);

    &.disabled {
        @include shared_input-select-picker.looks-disabled;
    }
}

@import './partial-styles/_readonly.scss';
