@use '../../style/functions';
@use '../../style/internal/mdc-variables';

@use '@material/switch';

@import './partial-styles/_readonly.scss';

:host {
    display: inline-flex;
    align-items: center;
}

.mdc-switch {
    @include switch.toggled-on-color(
        primary
    ); // @include mdc-switch-toggled-on-color(primary);
    margin-right: functions.pxToRem(8);
}

label {
    // @include mdc-variables.mdc-typography(body2);
    line-height: normal;

    cursor: pointer;

    &.disabled {
        cursor: default;
    }
}
