.inline-textfields {
    position: relative;

    limel-input-field {
        display: inline-block;
        width: calc(50% - 0.625*1rem);

        &:first-of-type {
            margin-right: 0.625*2rem;
        }
    }
}
