p {
    font-size: small;
}

section {
    position: relative;

    limel-input-field {
        display: inline-block;
        width: calc(50% - 10/1.6rem);

        &:first-of-type {
            margin-right: 20/1.6rem;
        }
    }
}
