:host {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

limel-example-controls {
    padding: 0.5rem;
    flex-grow: 1;
}

limel-slider {
    width: 100%;
}

.custom-progress-color {
    --chip-progress-color: rgb(var(--color-orange-default));
    --chip-max-width: 30rem;
}
