limel-chip-set[type='input'] {
    --icon-background-color: rgb(173, 173, 173);
    --icon-color: white;

    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% - 7rem);
}

limel-input-field {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 1rem;
    width: 6rem;
}

limel-flex-container {
    flex-wrap: wrap;
}
