@use '../../style/mixins';

:host(limel-email-viewer) {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
}

.email {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 0.5rem;
    box-shadow: var(--shadow-depth-8);
}

.email-headers {
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    dl,
    dt,
    dd {
        margin: 0;
    }

    dl {
        display: flex;
        flex-wrap: wrap;
        gap: 0 0.5rem;
        padding: 0.5rem 0.75rem;
        font-size: 0.75rem;

        &:nth-child(even) {
            background-color: rgb(var(--contrast-800), 0.1);
        }

        dt {
            opacity: 0.6;
            min-width: 3rem;

            &::after {
                content: ':';
            }
        }
        dd {
            &:not(:last-child) {
                &::after {
                    content: ',';
                    opacity: 0.6;
                }
            }
        }

        &.subject {
            dd {
                font-weight: bold;
            }
        }

        &.date {
            position: absolute;
            right: 0.25rem;
            transform: translateY(-50%);

            font-size: 0.625rem;
            border-radius: 9rem;
            padding: 0.25rem 0.5rem;

            background-color: rgb(var(--contrast-100), 0.3);

            dt {
                @include mixins.visually-hidden();
            }
        }
    }
}

.attachments {
    flex-shrink: 0;
    padding: 0.5rem;
    border-bottom: 1px dashed rgba(var(--contrast-700));

    span {
        padding-left: 0.25rem;
        font-size: 0.75rem;
        opacity: 0.6;
        &:first-child {
            &::after {
                content: ':';
            }
        }
    }

    ul {
        all: unset;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
        gap: 0.5rem;

        padding: 0.5rem 0;
    }

    li {
        all: unset;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        font-size: 0.6875rem;
        line-height: normal;

        padding: 0.5rem 0.5rem 1rem 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(var(--contrast-600));
        background-color: rgba(var(--contrast-400));
    }

    .attachment-filename {
        font-weight: 500;
    }

    .attachment-mime-type {
        opacity: 0.7;
    }

    limel-badge {
        --badge-max-width: auto;
        --badge-background-color: rgb(var(--contrast-1000), 0.7);
        --badge-text-color: rgb(var(--color-white));
        position: absolute;
        bottom: 0.125rem;
        right: 0.125rem;
        box-shadow: var(--shadow-brighten-edges-outside);
    }
}

section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-top: 1px dashed rgba(var(--contrast-700));
    min-height: 2rem;
    overflow-y: auto;
}

limel-collapsible-section {
    --closed-header-background-color: var(
        --lime-elevated-surface-background-color
    );
    flex-grow: 1;
    flex-shrink: 0;

    margin: 0.5rem;

    border-radius: 0.75rem;
    box-shadow: var(--shadow-depth-8);

    button {
        all: unset;
        flex-shrink: 0;
        border-radius: 0.375rem;
        padding: 0.25rem 0.5rem;

        font-size: var(--limel-theme-small-font-size);
        margin: 0 0.5rem;

        &.load-images {
            @include mixins.is-elevated-clickable(
                $color: var(
                        --lime-primary-color,
                        var(--limel-theme-primary-color)
                    )
            );
        }
    }

    limel-markdown {
        padding: 0.5rem;
    }
}

.body {
    flex-grow: 1;
    max-width: 100%;
    padding: 0.75rem;

    &.plain-text {
        white-space: pre-wrap;
        overflow-wrap: anywhere;
        margin: 0;
        font-family: inherit;
    }

    img {
        max-width: 100% !important;
    }
}
