:host(limel-portal) {
    // below is just needed for documentations page to work properly,
    // when when debugging a single component. Without this, the
    // isolated portal content will inherit its font styles from
    // Kompendium instead.
    font-family: var(--kompendium-example-font-family, inherit);
    font-size: var(--kompendium-example-font-size, inherit);
    line-height: var(--kompendium-example-line-height, inherit);
}

:host(limel-portal) {
    display: block;
    top: 0;
    bottom: 0;
    width: 100%;
}

[popover] {
    border: none;
    background: transparent;
    overflow: visible;
}
