:host(limel-portal:not(.limel-portal--fixed)) {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}
:host(limel-portal.limel-portal--fixed) {
    position: fixed;
}
