@use '../../../style/mixins';

div {
    @include mixins.is-resizable(
        $direction: both,
        $width: 12rem,
        $min-width: 8rem,
        $max-width: 40rem,
        $height: 12rem,
        $min-height: 8rem,
        $max-height: 40rem
    );
}
