@import '../../style/internal/mdc-variables';

:host {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: linear;
    border-radius: 50%;
    border-style: solid;
    border-top-color: transparent;
    border-width: pxToRem(2);
    display: inline-block;
    box-sizing: border-box;

    // size=mini is the default
    height: pxToRem(24);
    width: pxToRem(24);
}

:host([size="x-small"]) {
    height: pxToRem(32);
    width: pxToRem(32);
    border-width: pxToRem(3);
}
:host([size="small"]) {
    height: pxToRem(34);
    width: pxToRem(34);
}
:host([size="medium"]) {
    height: pxToRem(44);
    width: pxToRem(44);
}
:host([size="large"]) {
    height: pxToRem(64);
    width: pxToRem(64);

    // Increase width slightly. It becomes too thin otherwise.
    border-width: pxToRem(3);
}

:host([hidden]) {
    display: none;
}

:host(.dropdown--spinner){
    margin: pxToRem(10) 0;
    color: var(--lime-primary-color, #{$mdc-theme-primary});
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
