@import '../../style/variables';

:host {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: linear;
    border-radius: 50%;
    border-style: solid;
    border-top-color: transparent;
    border-width: pxToRem(2);
    display: inline-block;

    // size=mini is the default
    height: pxToRem(20);
    width: pxToRem(20);
}

:host([size="x-small"]) {
    height: pxToRem(26);
    width: pxToRem(26);
    border-width: pxToRem(3);
}
:host([size="small"]) {
    height: pxToRem(30);
    width: pxToRem(30);
}
:host([size="medium"]) {
    height: pxToRem(40);
    width: pxToRem(40);
}
:host([size="large"]) {
    height: pxToRem(58);
    width: pxToRem(58);

    // Increase width slightly. It becomes too thin otherwise.
    border-width: pxToRem(3);
}

:host([hidden]) {
    display: none;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
