@use '../../style/mixins';

/**
* @prop --profile-picture-border-radius: Border radius of the profile picture. Defaults to `100vw` to render a circular shape.
*/

:host {
    position: relative;

    display: inline-block;
    min-width: 1.5rem;
    min-height: 1.5rem;

    border-radius: var(--profile-picture-border-radius, 100vw);
    background-color: rgb(var(--contrast-400));
}

* {
    box-sizing: border-box;
}

limel-file-dropzone,
limel-file-input,
button.avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

button {
    all: unset;
    display: block;
    @include mixins.visualize-keyboard-focus();

    &.avatar {
        overflow: hidden;
        border-radius: var(--profile-picture-border-radius, 100vw);

        :host(:not([disabled]):not([disabled='true'])) & {
            @include mixins.is-flat-clickable();
        }

        :host([invalid]:not([invalid='false'])) & {
            box-shadow: var(--shadow-error-state);
        }
    }

    &.remove {
        @include mixins.clear-all-button();
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        :host(:hover) &,
        :host(:focus) &,
        :host(:focus-visible) &,
        :host(:focus-within) &,
        :host(:active) & {
            animation: show 0.4s ease-in-out forwards;
        }
    }
}

@keyframes show {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

// :host(limel-profile-picture[disabled]:not([disabled='false'])) {}
// :host(limel-profile-picture[readonly]:not([readonly='false'])) {}

button.avatar,
img,
limel-icon {
    border-radius: var(--profile-picture-border-radius, 100vw);
}

limel-icon {
    width: calc(100% - 1rem);
    min-width: 1rem;
    max-width: 4rem;
    color: var(--limel-theme-text-secondary-on-background-color);
    margin: auto;
}

img {
    object-fit: var(--limel-profile-picture-object-fit);
    width: 100%;
    height: 100%;
}

limel-spinner {
    position: absolute;
    inset: 0;
    margin: auto;
}
