/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
}

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --width-nav-panel: 16rem;
}

:host {
  display: block;
  font-family: var(--kompendium-font-primary);
  --size-show-nav-panel-button: 2.25rem;
}

header a {
  text-decoration: none;
  color: unset;
}

.nav-panel {
  transition: margin 0.2s ease;
  z-index: 100;
  width: var(--width-nav-panel);
  height: 100vh;
  position: fixed;
  background-color: rgb(var(--contrast-400));
  display: flex;
  flex-direction: column;
}
.nav-panel .panel-header {
  flex-direction: row;
  padding: 1rem;
  border-bottom: 1px solid rgb(var(--contrast-600));
  margin-bottom: 0.5rem;
}
.nav-panel .panel-header h1 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.5ch;
  color: rgb(var(--contrast-800));
  margin: 0.125rem 0 0.5rem 0;
}
.nav-panel .panel-list {
  overflow-y: auto;
}
.nav-panel .panel-list:not(.chapters) {
  padding: 0 0.25rem 2rem 0.25rem;
}

.nav-panel__responsive-menu {
  transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.1s ease-out;
  box-shadow: var(--button-shadow-normal);
  transition: all 0.2s ease;
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0.75rem;
  right: calc((var(--size-show-nav-panel-button) * -1) - 1rem);
  width: var(--size-show-nav-panel-button);
  height: var(--size-show-nav-panel-button);
  margin: 0.25rem;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  background-color: rgba(var(--contrast-200), 0.7);
  backdrop-filter: blur(0.25rem);
  color: rgb(var(--contrast-900));
}
.nav-panel__responsive-menu:hover {
  box-shadow: var(--button-shadow-hovered);
}
.nav-panel__responsive-menu:active {
  box-shadow: var(--button-shadow-pressed);
  transform: translate3d(0, 0.08rem, 0);
}
.nav-panel__responsive-menu span {
  transition: background-color 0.2s ease, transform 0.2s ease 0.3s, opacity 0.15s ease 0.3s;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 0.125rem;
  width: 1rem;
  border-radius: 0.25rem;
  background-color: rgb(var(--contrast-900));
}
.nav-panel__responsive-menu span:nth-child(1) {
  top: 0.75rem;
}
.nav-panel__responsive-menu span:nth-child(2), .nav-panel__responsive-menu span:nth-child(3) {
  top: 0;
  bottom: 0;
}
.nav-panel__responsive-menu span:nth-child(4) {
  bottom: 0.75rem;
}
.nav-panel__responsive-menu:hover span {
  background-color: rgb(var(--contrast-1200));
}

@media (max-width: 1400px) {
  .nav-panel {
    margin-left: calc(var(--width-nav-panel) * -1);
  }
  .nav-panel.display-nav-panel {
    margin-left: 0;
    box-shadow: 0 0.09375rem 0.225rem 0 rgba(0, 0, 0, 0.232), 0 0.01875rem 0.05625rem 0 rgba(0, 0, 0, 0.208);
  }
  .nav-panel.display-nav-panel .nav-panel__responsive-menu {
    right: calc((var(--size-show-nav-panel-button) * -1) - 0.3125rem);
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .nav-panel.display-nav-panel .nav-panel__responsive-menu span:nth-child(1), .nav-panel.display-nav-panel .nav-panel__responsive-menu span:nth-child(4) {
    transform: scaleX(0);
    opacity: 0;
  }
  .nav-panel.display-nav-panel .nav-panel__responsive-menu span:nth-child(2) {
    transform: rotate(45deg);
  }
  .nav-panel.display-nav-panel .nav-panel__responsive-menu span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .nav-panel__responsive-menu {
    display: block;
  }
}
.panel-item {
  transition: opacity 0.2s ease;
  width: 100%;
  padding-right: 0.75rem;
}

.panel-link {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.25rem 1fr;
  line-height: 1.75rem;
  color: rgb(var(--contrast-900));
  text-decoration: none;
  border-radius: 0.375rem;
}
.panel-link:hover, .panel-link.active {
  color: rgb(var(--color-blue-default));
}
.panel-link.active img {
  transform: rotate(90deg) scale(0.8);
}
.panel-link img {
  transition: transform 0.2s ease;
  transform: scale(0.8);
  height: 2rem;
}

.link-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  padding-left: 0.5rem;
}

.chapters {
  height: 0;
  transition: height 0.2s ease;
}
.chapters.active {
  height: 100%;
  padding-left: 1.25rem;
}
.chapters.active .panel-item {
  opacity: 1;
  transition-delay: 0.2s;
}
.chapters.active .panel-item:nth-child(1) {
  transition-delay: 0s;
}
.chapters.active .panel-item:nth-child(2) {
  transition-delay: 0.04s;
}
.chapters.active .panel-item:nth-child(3) {
  transition-delay: 0.06s;
}
.chapters.active .panel-item:nth-child(4) {
  transition-delay: 0.08s;
}
.chapters.active .panel-item:nth-child(5) {
  transition-delay: 0.1s;
}
.chapters.active .panel-item:nth-child(6) {
  transition-delay: 0.12s;
}
.chapters.active .panel-item:nth-child(7) {
  transition-delay: 0.14s;
}
.chapters.active .panel-item:nth-child(8) {
  transition-delay: 0.15s;
}
.chapters.active .panel-item:nth-child(9) {
  transition-delay: 0.16s;
}
.chapters.active .panel-item:nth-child(10) {
  transition-delay: 0.17s;
}
.chapters.active .panel-item:nth-child(11) {
  transition-delay: 0.18s;
}
.chapters.active .panel-item:nth-child(12) {
  transition-delay: 0.19s;
}
.chapters.active .panel-item:last-child {
  margin-bottom: 1rem;
}
.chapters img {
  visibility: hidden;
}
.chapters .panel-item {
  opacity: 0;
}
.chapters .panel-item .chapters {
  font-size: 0.8125rem;
  padding-left: 0.5rem;
}
.chapters .panel-item .chapters:first-child {
  margin-top: 0.25rem;
}
.chapters .panel-item .chapters:last-child {
  margin-bottom: 0.5rem;
}