@use '../../../style/mixins';

:host(limel-example-menu-surface-width) {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.is-resizable {
    @include mixins.is-resizable(
        $direction: horizontal,
        $min-width: 10rem,
        $width: clamp(10rem, 30rem, 100%),
        $min-height: 5rem
    );
}

limel-menu {
    width: 100%;
}

.highlight-limel-menu {
    box-sizing: border-box;
    border: 1px dashed rgb(var(--color-orange-light));
}
