@import "../../style/variables";
@import "@lime-material/theme/mdc-theme";
@import "@lime-material/select/mdc-select";

.mdc-select {
    width: 100%;

    &__native-control {
        padding-top: 2.5rem;
        padding-bottom: 0.2rem;
    }
}
