@import "@lime-material/select/mdc-select";

:host {
    display: block;
}

:host([hidden]) {
    display: none;
}

.mdc-select {
    width: 100%;
    background-size: 1.2rem 1.2rem;
    background-position: right 1.6rem center;

    &__native-control {
        padding-top: 2.5rem;
        padding-bottom: 0.2rem;
    }

    &:not(.mdc-select--disabled) {
        background-color: var(--background-color, white);
    }
}
