@use '../../style/functions';

@import '../list/list';

.mdc-menu {
    max-height: 70vh; // force tall menus render inside the viewport when menu is at the bottom of the screen
}

.mdc-deprecated-list {
    .mdc-deprecated-list-item[role='menuitem'] {
        font-size: functions.pxToRem(13);

        .mdc-deprecated-list-item__graphic {
            margin-right: functions.pxToRem(14);
        }
    }
}
