@import '../list/list';

:host(limel-menu-list) {
    display: block;
    --badge-background-color: var(
        --notification-badge-background-color,
        rgb(var(--color-red-default))
    );
    --badge-text-color: var(
        --notification-badge-text-color,
        rgb(var(--color-white))
    );
}

.mdc-menu {
    max-height: 70vh; // force tall menus render inside the viewport when menu is at the bottom of the screen
}

.mdc-deprecated-list {
    margin: 0.25rem; // space to visualize the focus ring
}
