@use '../../style/functions';

@import '../list/list';

:host(limel-menu-list) {
    display: block;
    --badge-background-color: var(
        --notification-badge-background-color,
        rgb(var(--color-red-default))
    );
    --badge-text-color: var(
        --notification-badge-text-color,
        rgb(var(--color-white))
    );
}

.mdc-menu {
    max-height: 70vh; // force tall menus render inside the viewport when menu is at the bottom of the screen
}

.mdc-deprecated-list {
    margin: functions.pxToRem(4);
    // added space to visualize keyboard-focused items
    .mdc-deprecated-list-item[role='menuitem'] {
        font-size: functions.pxToRem(13);

        .mdc-deprecated-list-item__graphic {
            margin-right: 0;
            margin-left: -0.75rem;
        }
    }

    hr.mdc-deprecated-list-divider {
        &.mdc-deprecated-list-divider--inset {
            display: none;
        }
    }
}

limel-badge {
    transform: translateX(0.75rem);
}

.sub-menu-icon {
    width: 1rem;
    transform: translateX(0.75rem);
    flex-shrink: 0;
}
