@import '../../style/variables';

@import "@lime-material/elevation/mdc-elevation";
@import "@lime-material/menu-surface/mdc-menu-surface";

:host {
    position: relative;
}

.dropdown--spinner {
    text-align: center;

    limel-spinner {
        margin: 1rem 0;
        color: var(--lime-primary-color, #{$mdc-theme-primary});
    }
}

.dropdown--spinner,
.dropdown--list {
    background-color: white;
    position: absolute;
    margin-top: -.8rem;
    max-height: 25rem;
    overflow-y: auto;
}
