.do,
.do-not {
    .relevant-button,
    limel-button {
        margin: 1rem;
    }

    .assign {
        padding-bottom: 0;
    }
}

#tooltip-example {
    width: 5rem;
}

#tooltip {
    cursor: help;
}

.button-icon {
    display: flex;
    align-items: center;
}

.split-example,
.relevant-buttons-example {
    limel-split-button {
        margin: 1rem;
    }
}
