/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
}

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --width-nav-panel: 16rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loading-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loading-screen-icon {
  animation: spin 0.35s linear infinite;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.125rem;
  border-color: rgb(var(--color-blue-default));
  border-top-color: transparent;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
}

.loading-screen-text {
  padding-left: 0.75rem;
  color: rgb(var(--contrast-1100));
}

:host {
  display: block;
  margin: 0;
  padding: 0;
}

main {
  padding: 1.25rem 2rem;
  margin-left: var(--width-nav-panel);
}
main kompendium-guide {
  display: block;
  width: 100%;
  max-width: 60rem;
}

@media (max-width: 1400px) {
  main {
    padding-top: 2.625rem;
    margin-left: 0;
  }
}