@import '../../../style/functions';
@import '../../../style/color-palette-extended';
@import './shared-styles';

.color-palette {
    grid-template-rows: repeat(2, 1fr) auto;
    grid-template-columns: repeat(20, 1fr) auto;
}
