@import '../../../style/functions';

.color-palette {
    display: grid;
    grid-gap: pxToRem(4);
    grid-auto-flow: column;
    margin: pxToRem(12) auto pxToRem(20) auto;
    padding: pxToRem(20) pxToRem(12);
    background-color: rgb(var(--contrast-300));
    border-radius: pxToRem(3);
}

.brightness-label,
.swatch {
    display: flex;
    align-items: center;
    position: relative;
}

.swatch {
    transition: border-radius 0.2s ease;
    border-radius: 3px;
    justify-content: center;
    color: rgba(var(--color-white), 0.4);
    font-size: pxToRem(20);

    &:after {
        // this makes the aspect ratio 1:1
        content: '';
        display: block;
        padding-top: 100%;
    }

    &.hue {
        font-family: 'Source Code Pro', monospace;
        font-size: pxToRem(12);
        position: relative;
        color: rgb(var(--contrast-900));
        padding-top: pxToRem(8);
        writing-mode: vertical-lr;
        justify-content: left;
    }
}

.brightness-label {
    font-family: 'Source Code Pro', monospace;
    font-size: pxToRem(12);
    color: rgb(var(--contrast-900));
    justify-content: start;
}

.brand-colors-tips {
    transition: opacity 0.2s ease 0.4s;
    opacity: 0;
    font-size: pxToRem(14);
    padding-left: pxToRem(44);
    margin-bottom: pxToRem(40);
}

.brand-colors {
    .brand-colors-tips {
        opacity: 1;
    }
}

@media (prefers-color-scheme: light) {
    .brand-colors {
        .--color-glaucous-default,
        .--color-gray-dark {
            border-radius: 50%;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .brand-colors {
        .--color-red-light,
        .--color-magenta-default,
        .--color-sky-light,
        .--color-teal-light,
        .--color-green-light,
        .--color-amber-light,
        .--color-amber-default,
        .--color-coral-light,
        .--color-gray-light {
            border-radius: 50%;
        }
    }
}

.--color-red-lighter {
    background-color: rgb(var(--color-red-lighter));
}
.--color-red-light {
    background-color: rgb(var(--color-red-light));
}
.--color-red-default {
    background-color: rgb(var(--color-red-default));
}
.--color-red-dark {
    background-color: rgb(var(--color-red-dark));
}
.--color-red-darker {
    background-color: rgb(var(--color-red-darker));
}
.--color-pink-lighter {
    background-color: rgb(var(--color-pink-lighter));
}
.--color-pink-light {
    background-color: rgb(var(--color-pink-light));
}
.--color-pink-default {
    background-color: rgb(var(--color-pink-default));
}
.--color-pink-dark {
    background-color: rgb(var(--color-pink-dark));
}
.--color-pink-darker {
    background-color: rgb(var(--color-pink-darker));
}
.--color-magenta-lighter {
    background-color: rgb(var(--color-magenta-lighter));
}
.--color-magenta-light {
    background-color: rgb(var(--color-magenta-light));
}
.--color-magenta-default {
    background-color: rgb(var(--color-magenta-default));
}
.--color-magenta-dark {
    background-color: rgb(var(--color-magenta-dark));
}
.--color-magenta-darker {
    background-color: rgb(var(--color-magenta-darker));
}
.--color-purple-lighter {
    background-color: rgb(var(--color-purple-lighter));
}
.--color-purple-light {
    background-color: rgb(var(--color-purple-light));
}
.--color-purple-default {
    background-color: rgb(var(--color-purple-default));
}
.--color-purple-dark {
    background-color: rgb(var(--color-purple-dark));
}
.--color-purple-darker {
    background-color: rgb(var(--color-purple-darker));
}
.--color-violet-lighter {
    background-color: rgb(var(--color-violet-lighter));
}
.--color-violet-light {
    background-color: rgb(var(--color-violet-light));
}
.--color-violet-default {
    background-color: rgb(var(--color-violet-default));
}
.--color-violet-dark {
    background-color: rgb(var(--color-violet-dark));
}
.--color-violet-darker {
    background-color: rgb(var(--color-violet-darker));
}
.--color-indigo-lighter {
    background-color: rgb(var(--color-indigo-lighter));
}
.--color-indigo-light {
    background-color: rgb(var(--color-indigo-light));
}
.--color-indigo-default {
    background-color: rgb(var(--color-indigo-default));
}
.--color-indigo-dark {
    background-color: rgb(var(--color-indigo-dark));
}
.--color-indigo-darker {
    background-color: rgb(var(--color-indigo-darker));
}
.--color-blue-lighter {
    background-color: rgb(var(--color-blue-lighter));
}
.--color-blue-light {
    background-color: rgb(var(--color-blue-light));
}
.--color-blue-default {
    background-color: rgb(var(--color-blue-default));
}
.--color-blue-dark {
    background-color: rgb(var(--color-blue-dark));
}
.--color-blue-darker {
    background-color: rgb(var(--color-blue-darker));
}
.--color-sky-lighter {
    background-color: rgb(var(--color-sky-lighter));
}
.--color-sky-light {
    background-color: rgb(var(--color-sky-light));
}
.--color-sky-default {
    background-color: rgb(var(--color-sky-default));
}
.--color-sky-dark {
    background-color: rgb(var(--color-sky-dark));
}
.--color-sky-darker {
    background-color: rgb(var(--color-sky-darker));
}
.--color-cyan-lighter {
    background-color: rgb(var(--color-cyan-lighter));
}
.--color-cyan-light {
    background-color: rgb(var(--color-cyan-light));
}
.--color-cyan-default {
    background-color: rgb(var(--color-cyan-default));
}
.--color-cyan-dark {
    background-color: rgb(var(--color-cyan-dark));
}
.--color-cyan-darker {
    background-color: rgb(var(--color-cyan-darker));
}
.--color-teal-lighter {
    background-color: rgb(var(--color-teal-lighter));
}
.--color-teal-light {
    background-color: rgb(var(--color-teal-light));
}
.--color-teal-default {
    background-color: rgb(var(--color-teal-default));
}
.--color-teal-dark {
    background-color: rgb(var(--color-teal-dark));
}
.--color-teal-darker {
    background-color: rgb(var(--color-teal-darker));
}
.--color-green-lighter {
    background-color: rgb(var(--color-green-lighter));
}
.--color-green-light {
    background-color: rgb(var(--color-green-light));
}
.--color-green-default {
    background-color: rgb(var(--color-green-default));
}
.--color-green-dark {
    background-color: rgb(var(--color-green-dark));
}
.--color-green-darker {
    background-color: rgb(var(--color-green-darker));
}
.--color-lime-lighter {
    background-color: rgb(var(--color-lime-lighter));
}
.--color-lime-light {
    background-color: rgb(var(--color-lime-light));
}
.--color-lime-default {
    background-color: rgb(var(--color-lime-default));
}
.--color-lime-dark {
    background-color: rgb(var(--color-lime-dark));
}
.--color-lime-darker {
    background-color: rgb(var(--color-lime-darker));
}
.--color-grass-lighter {
    background-color: rgb(var(--color-grass-lighter));
}
.--color-grass-light {
    background-color: rgb(var(--color-grass-light));
}
.--color-grass-default {
    background-color: rgb(var(--color-grass-default));
}
.--color-grass-dark {
    background-color: rgb(var(--color-grass-dark));
}
.--color-grass-darker {
    background-color: rgb(var(--color-grass-darker));
}
.--color-yellow-lighter {
    background-color: rgb(var(--color-yellow-lighter));
}
.--color-yellow-light {
    background-color: rgb(var(--color-yellow-light));
}
.--color-yellow-default {
    background-color: rgb(var(--color-yellow-default));
}
.--color-yellow-dark {
    background-color: rgb(var(--color-yellow-dark));
}
.--color-yellow-darker {
    background-color: rgb(var(--color-yellow-darker));
}
.--color-amber-lighter {
    background-color: rgb(var(--color-amber-lighter));
}
.--color-amber-light {
    background-color: rgb(var(--color-amber-light));
}
.--color-amber-default {
    background-color: rgb(var(--color-amber-default));
}
.--color-amber-dark {
    background-color: rgb(var(--color-amber-dark));
}
.--color-amber-darker {
    background-color: rgb(var(--color-amber-darker));
}
.--color-orange-lighter {
    background-color: rgb(var(--color-orange-lighter));
}
.--color-orange-light {
    background-color: rgb(var(--color-orange-light));
}
.--color-orange-default {
    background-color: rgb(var(--color-orange-default));
}
.--color-orange-dark {
    background-color: rgb(var(--color-orange-dark));
}
.--color-orange-darker {
    background-color: rgb(var(--color-orange-darker));
}
.--color-coral-lighter {
    background-color: rgb(var(--color-coral-lighter));
}
.--color-coral-light {
    background-color: rgb(var(--color-coral-light));
}
.--color-coral-default {
    background-color: rgb(var(--color-coral-default));
}
.--color-coral-dark {
    background-color: rgb(var(--color-coral-dark));
}
.--color-coral-darker {
    background-color: rgb(var(--color-coral-darker));
}
.--color-brown-lighter {
    background-color: rgb(var(--color-brown-lighter));
}
.--color-brown-light {
    background-color: rgb(var(--color-brown-light));
}
.--color-brown-default {
    background-color: rgb(var(--color-brown-default));
}
.--color-brown-dark {
    background-color: rgb(var(--color-brown-dark));
}
.--color-brown-darker {
    background-color: rgb(var(--color-brown-darker));
}
.--color-gray-lighter {
    background-color: rgb(var(--color-gray-lighter));
}
.--color-gray-light {
    background-color: rgb(var(--color-gray-light));
}
.--color-gray-default {
    background-color: rgb(var(--color-gray-default));
}
.--color-gray-dark {
    background-color: rgb(var(--color-gray-dark));
}
.--color-gray-darker {
    background-color: rgb(var(--color-gray-darker));
}
.--color-glaucous-lighter {
    background-color: rgb(var(--color-glaucous-lighter));
}
.--color-glaucous-light {
    background-color: rgb(var(--color-glaucous-light));
}
.--color-glaucous-default {
    background-color: rgb(var(--color-glaucous-default));
}
.--color-glaucous-dark {
    background-color: rgb(var(--color-glaucous-dark));
}
.--color-glaucous-darker {
    background-color: rgb(var(--color-glaucous-darker));
}

.--contrast-100 {
    color: rgb(var(--contrast-900));
    background-color: rgb(var(--contrast-100));
}
.--contrast-200 {
    color: rgb(var(--contrast-1000));
    background-color: rgb(var(--contrast-200));
}
.--contrast-300 {
    color: rgb(var(--contrast-1100));
    background-color: rgb(var(--contrast-300));
}
.--contrast-400 {
    color: rgb(var(--contrast-1200));
    background-color: rgb(var(--contrast-400));
}
.--contrast-500 {
    color: rgb(var(--contrast-1300));
    background-color: rgb(var(--contrast-500));
}
.--contrast-600 {
    color: rgb(var(--contrast-1400));
    background-color: rgb(var(--contrast-600));
}
.--contrast-700 {
    color: rgb(var(--contrast-1500));
    background-color: rgb(var(--contrast-700));
}
.--contrast-800 {
    color: rgb(var(--contrast-1600));
    background-color: rgb(var(--contrast-800));
}
.--contrast-900 {
    color: rgb(var(--contrast-1700));
    background-color: rgb(var(--contrast-900));
}
.--contrast-1000 {
    color: rgb(var(--contrast-100));
    background-color: rgb(var(--contrast-1000));
}
.--contrast-1100 {
    color: rgb(var(--contrast-200));
    background-color: rgb(var(--contrast-1100));
}
.--contrast-1200 {
    color: rgb(var(--contrast-300));
    background-color: rgb(var(--contrast-1200));
}
.--contrast-1300 {
    color: rgb(var(--contrast-400));
    background-color: rgb(var(--contrast-1300));
}
.--contrast-1400 {
    color: rgb(var(--contrast-500));
    background-color: rgb(var(--contrast-1400));
}
.--contrast-1500 {
    color: rgb(var(--contrast-600));
    background-color: rgb(var(--contrast-1500));
}
.--contrast-1600 {
    color: rgb(var(--contrast-700));
    background-color: rgb(var(--contrast-1600));
}
.--contrast-1700 {
    color: rgb(var(--contrast-800));
    background-color: rgb(var(--contrast-1700));
}
.--color-white {
    color: rgb(var(--color-black));
    background-color: rgb(var(--color-white));
}
.--color-black {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-black));
}
