:host(limel-example-dialog-heading) {
    --dialog-width: 40rem;
    --dialog-heading-subtitle-color: rgb(var(--contrast-1200));
    --dialog-heading-icon-color: rgb(var(--color-white));

    limel-input-field {
        margin-bottom: 1rem;
    }

    limel-dialog {
        &.company {
            --dialog-heading-icon-background-color: rgb(
                var(--color-sky-default)
            );
        }

        &.person {
            --dialog-heading-icon-background-color: rgb(
                var(--color-orange-default)
            );
        }

        &.deal {
            --dialog-heading-icon-background-color: rgb(
                var(--color-green-default)
            );
        }

        &.todo {
            --header-heading-color: rgb(var(--color-teal-dark));
            --dialog-heading-supporting-text-color: rgb(var(--color-red-dark));
            --dialog-heading-icon-color: rgb(var(--color-teal-default));
        }
    }
}
