:host {
    --dialog-heading-icon-background-color: rgb(var(--color-red-default));
    --dialog-heading-icon-color: rgb(var(--color-yellow-lighter));
    --dialog-width: 40rem;
}

.button {
    &:first-of-type {
        // these styles will align the targeted button to the left.
        margin-right: auto;
        margin-top: 0;
    }
    &.primary--neutral {
        --lime-primary-color: rgb(var(--contrast-1100));
    }
    &.primary--caution {
        --lime-on-primary-color: rgb(var(--color-glaucous-darker));
        --lime-primary-color: rgb(var(--color-amber-default));
    }
    &.primary--danger {
        --lime-primary-color: rgb(var(--color-red-default));
    }
}

@media screen and (max-width: 760px) {
    .button {
        &:first-of-type {
            // these styles will add a gap between "back button" and "discard" in a mobile view
            // and put all buttons in a column.
            margin-top: 1rem;
            margin-right: 0;
        }
    }
}
