:host(limel-example-dialog-heading) {
    --dialog-width: 40rem;
    --dialog-heading-supporting-text-color: rgb(var(--color-orange-dark));

    limel-input-field {
        margin-bottom: 1rem;
    }

    limel-dialog {
        &.company {
            --dialog-heading-icon-color: rgb(var(--color-sky-default));
            --dialog-heading-icon-background-color: rgb(
                var(--color-sky-default)
            );
        }

        &.person {
            --dialog-heading-icon-color: rgb(var(--color-orange-default));
            --dialog-heading-icon-background-color: rgb(
                var(--color-orange-default)
            );
        }

        &.deal {
            --dialog-heading-icon-color: rgb(var(--color-green-default));
            --dialog-heading-icon-background-color: rgb(
                var(--color-green-default)
            );
        }

        &.todo {
            --dialog-heading-icon-color: rgb(var(--color-teal-default));
            --dialog-heading-icon-background-color: rgb(
                var(--color-teal-default)
            );
        }

        &.badge {
            --dialog-heading-icon-color: rgb(var(--color-white));
        }
    }
}
