@use '../../../style/internal/shared_input-select-picker.scss';

:host(limel-prosemirror-adapter) {
    display: block;
}

* {
    box-sizing: border-box;
}

.ProseMirror-menubar-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
}

.ProseMirror-textblock-dropdown {
    min-width: 3em;
}

.ProseMirror-tooltip {
    .ProseMirror-menu {
        width: -webkit-fit-content;
        width: fit-content;
        white-space: pre;
    }
}

limel-action-bar {
    --action-bar-border-radius: 0.25rem;

    position: sticky;
    z-index: 1;
    top: 1px;
    background-color: shared_input-select-picker.$background-color-normal;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);

    // prevents visual defects that can appears
    // due to the backdrop-filter and closeness to borders
    margin: 0 1px;
    width: calc(100% - 2px);
}

@import './partial-styles/prosemirror.scss';

@import '../../markdown/partial-styles/blockquotes';
@import '../../markdown/partial-styles/body-text';
@import '../../markdown/partial-styles/definition-lists';
@import '../../markdown/partial-styles/headings';
@import '../../markdown/partial-styles/lists';
@import '../../markdown/partial-styles/pre-code';
@import '../../markdown/partial-styles/tables';
