@use '../../../style/internal/shared_input-select-picker.scss';

:host(limel-prosemirror-adapter) {
    display: flex;
    flex-direction: column;

    .toolbar {
        order: 1;
    }

    div#editor {
        order: 2;
        height: 100%;
        flex-grow: 1;
    }

    div[contenteditable='true'] {
        height: 100%;
    }
}

* {
    box-sizing: border-box;
}

:host(limel-prosemirror-adapter:hover),
:host(limel-prosemirror-adapter:focus-within) {
    .toolbar {
        will-change: grid-template-rows;
    }
    limel-action-bar {
        will-change: opacity, padding;
    }
}

.ProseMirror-menubar-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
}

.ProseMirror-textblock-dropdown {
    min-width: 3em;
}

.ProseMirror-tooltip {
    .ProseMirror-menu {
        width: -webkit-fit-content;
        width: fit-content;
        white-space: pre;
    }
}

.toolbar {
    --action-bar-border-radius: 0.25rem;
    border-radius: var(--action-bar-border-radius);
    flex-shrink: 0;

    position: sticky;
    z-index: 1;
    top: 0;

    width: 100%;

    display: grid;
    grid-template-rows: var(
        --limel-prosemirror-adapter-toolbar-grid-template-rows
    );
    transition-property: grid-template-rows;
    transition-duration: var(
        --limel-prosemirror-adapter-toolbar-grid-template-rows-transition-duration
    );
    transition-timing-function: var(
        --limel-prosemirror-adapter-toolbar-transition-timing-function
    );
    background-color: shared_input-select-picker.$background-color-normal;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
}

limel-action-bar {
    min-width: 0;
    transition-property: padding, opacity;
    transition-duration: var(
        --limel-prosemirror-adapter-toolbar-grid-template-rows-transition-duration
    );
    transition-timing-function: var(
        --limel-prosemirror-adapter-toolbar-transition-timing-function
    );
    opacity: var(--limel-prosemirror-adapter-toolbar-opacity);
    padding: var(
            --limel-prosemirror-adapter-action-bar-padding-top-bottom,
            0.125rem
        )
        0.25rem;
    background-color: transparent;

    overflow: hidden;
}

.ProseMirror {
    position: relative;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: break-spaces;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    font-feature-settings: 'liga' 0;

    padding: var(--limel-text-editor-padding);

    [draggable][contenteditable='false'] {
        user-select: text;
    }

    &:focus-visible {
        outline: none;
    }
}

.ProseMirror-hideselection {
    * {
        &::selection {
            background: transparent;
        }

        &::-moz-selection {
            background: transparent;
        }
    }

    caret-color: transparent;
}

.ProseMirror-selectednode {
    outline: 0.125rem solid rgb(var(--color-sky-light));
}

li.ProseMirror-selectednode {
    outline: none;

    &:after {
        content: '';
        position: absolute;
        left: -2rem;
        right: -0.125rem;
        top: -0.125rem;
        bottom: -0.125rem;
        border: 0.125rem solid rgb(var(--color-sky-light));
        pointer-events: none;
    }
}

img.ProseMirror-separator {
    display: inline !important;
    border: none !important;
    margin: 0 !important;
}

limel-portal {
    width: 25rem;
}

@import '../../markdown/partial-styles/blockquotes';
@import '../../markdown/partial-styles/body-text';
@import '../../markdown/partial-styles/definition-lists';
@import '../../markdown/partial-styles/headings';
@import '../../markdown/partial-styles/lists';
@import '../../markdown/partial-styles/pre-code';
@import '../../markdown/partial-styles/tables';
@import '../../markdown/partial-styles/kbd';
@import '../../markdown/partial-styles/img';
@import 'plugins/image/view.scss';
