:host(limel-prosemirror-adapter) {
    isolation: isolate;
    display: block;
}

* {
    box-sizing: border-box;
}

.ProseMirror-menubar-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
}

.ProseMirror-textblock-dropdown {
    min-width: 3em;
}

.ProseMirror-tooltip {
    .ProseMirror-menu {
        width: -webkit-fit-content;
        width: fit-content;
        white-space: pre;
    }
}

@import './partial-styles/prosemirror.scss';
@import './partial-styles/prosemirror-menu.scss';

@import '../../markdown/partial-styles/blockquotes';
@import '../../markdown/partial-styles/body-text';
@import '../../markdown/partial-styles/definition-lists';
@import '../../markdown/partial-styles/headings';
@import '../../markdown/partial-styles/lists';
@import '../../markdown/partial-styles/pre-code';
@import '../../markdown/partial-styles/tables';
