.mdc-switch {
    &.lime-switch--readonly {
        --mdc-switch-disabled-selected-track-color: var(--mdc-theme-primary);
        --mdc-switch-disabled-unselected-track-color: rgb(
            var(--color-red-default)
        );
        --mdc-switch-handle-surface-color: transparent;
        --mdc-switch-disabled-selected-handle-color: transparent;
        --mdc-switch-disabled-unselected-handle-color: transparent;

        --mdc-switch-disabled-track-opacity: 1;

        + label.disabled {
            cursor: default;
            opacity: 1;
        }
    }
}
