@import '../../../style/functions';

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(#{pxToRem(200)}, 1fr));
    grid-gap: pxToRem(8);
}

.tile {
    color: white;
    text-align: center;
    line-height: pxToRem(60);
    border-radius: pxToRem(4);

    pre {
        margin: 0;
        padding: 0;
    }
}
