@use '../../style/functions';

/**
 * @prop --icon-background-color: Background color when attribute `badge` is set to `true`. Defaults to `transparent`.
 */

:host {
    background-color: var(--icon-background-color, transparent);
    border-radius: 50%;
    display: inline-block;
    line-height: 0;
    box-sizing: border-box;

    svg {
        fill: currentColor;
        height: 100%;
        pointer-events: none;
        width: 100%;
    }

    div {
        margin: var(--limel-icon-svg-margin, 0);
    }
}

:host([hidden]) {
    display: none;
}

:host([size='x-small']) {
    height: functions.pxToRem(15) !important;
    width: functions.pxToRem(15) !important;
}
:host([size='small']) {
    height: functions.pxToRem(20) !important;
    width: functions.pxToRem(20) !important;
}
:host([size='medium']) {
    height: functions.pxToRem(25) !important;
    width: functions.pxToRem(25) !important;
}
:host([size='large']) {
    height: functions.pxToRem(30) !important;
    width: functions.pxToRem(30) !important;
}

:host([badge][size='x-small']) {
    height: functions.pxToRem(23) !important;
    width: functions.pxToRem(23) !important;

    --limel-icon-svg-margin: #{functions.pxToRem(4)};
}
:host([badge][size='small']) {
    height: functions.pxToRem(30) !important;
    width: functions.pxToRem(30) !important;

    --limel-icon-svg-margin: #{functions.pxToRem(5)};
}
:host([badge][size='medium']) {
    height: functions.pxToRem(40) !important;
    width: functions.pxToRem(40) !important;

    --limel-icon-svg-margin: #{functions.pxToRem(8)};
}
:host([badge][size='large']) {
    height: functions.pxToRem(46) !important;
    width: functions.pxToRem(46) !important;

    --limel-icon-svg-margin: #{functions.pxToRem(8)};
}
