@import '../../style/variables';

:host {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    line-height: 0;

    svg {
        fill: currentColor;
        height: 100%;
        pointer-events: none;
        width: 100%;
    }
}

:host([hidden]) {
    display: none;
}

:host([size="x-small"]) {
    &,
    > div {
        height: pxToRem(15);
        width: pxToRem(15);
    }
    padding: pxToRem(4);
}
:host([size="small"]) {
    &,
    > div {
        height: pxToRem(20);
        width: pxToRem(20);
    }
    padding: pxToRem(5);
}
:host([size="medium"]) {
    &,
    > div {
        height: pxToRem(25);
        width: pxToRem(25);
    }
    padding: pxToRem(8);
}
:host([size="large"]) {
    &,
    > div {
        height: pxToRem(30);
        width: pxToRem(30);
    }
    padding: pxToRem(8);
}
