@import '../../style/variables';

:host {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    line-height: 0;
    box-sizing: border-box;

    svg {
        fill: currentColor;
        height: 100%;
        pointer-events: none;
        width: 100%;
    }
}

:host([hidden]) {
    display: none;
}

:host([size="x-small"]) {
    height: pxToRem(15) !important;
    width: pxToRem(15) !important;
}
:host([size="small"]) {
    height: pxToRem(20) !important;
    width: pxToRem(20) !important;
}
:host([size="medium"]) {
    height: pxToRem(25) !important;
    width: pxToRem(25) !important;
}
:host([size="large"]) {
    height: pxToRem(30) !important;
    width: pxToRem(30) !important;
}

:host([badge][size="x-small"]) {
    height: pxToRem(23) !important;
    width: pxToRem(23) !important;

    > div {
        margin: pxToRem(4);
    }
}
:host([badge][size="small"]) {
    height: pxToRem(30) !important;
    width: pxToRem(30) !important;

    > div {
        margin: pxToRem(5);
    }
}
:host([badge][size="medium"]) {
    height: pxToRem(40) !important;
    width: pxToRem(40) !important;

    > div {
        margin: pxToRem(8);
    }
}
:host([badge][size="large"]) {
    height: pxToRem(46) !important;
    width: pxToRem(46) !important;

    > div {
        margin: pxToRem(8);
    }
}
