@use '../../../style/mixins';

:host(limel-example-text-editor-size) {
    @include mixins.is-resizable(
        $direction: both,
        $min-width: 10rem,
        $min-height: 5rem
    );
    display: block;
}

limel-text-editor {
    max-height: 15rem;
}
