:host(limel-text-editor-link-menu) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    max-width: calc(100vw - 2rem);
    border-radius: 0.5rem;
    background-color: var(--lime-elevated-surface-background-color);
    box-shadow: var(--shadow-depth-16);
}

.actions {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}
