@use '../../../style/functions';
@use './button-shadows';
@use './surface-shadows';
@use './surface-shadows-inflated';

.shadow-example-grid {
    display: grid;
    grid-gap: functions.pxToRem(28);
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding: functions.pxToRem(20) 0;
}

.visualization {
    display: flex;
    flex-direction: column;

    code {
        font-size: functions.pxToRem(12);
        background-color: rgb(var(--kompendium-contrast-500));
        color: rgb(var(--kompendium-contrast-1100));
        padding: 0 functions.pxToRem(4);
        border-radius: functions.pxToRem(3);
        margin-top: functions.pxToRem(12);
    }
}
