@use '../../../style/functions';

.surface-shadows-bad-usage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: functions.pxToRem(40);
    padding: functions.pxToRem(20);
}

.content {
    padding: functions.pxToRem(8) functions.pxToRem(20);
}

.box {
    padding: functions.pxToRem(8) functions.pxToRem(20);
    border-radius: functions.pxToRem(8);
}

limel-icon {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-sky-light));
    display: inline-block;
    margin-right: functions.pxToRem(8);
    transform: translateY(functions.pxToRem(3));
}
