@use '../../../style/functions';

.shadow-example-grid {
    &.inflated-examples {
        background-color: rgb(var(--contrast-600));
        padding: functions.pxToRem(60);
        gap: functions.pxToRem(60);

        .surface {
            border-radius: functions.pxToRem(16);
            background-color: rgb(var(--contrast-300));
            height: functions.pxToRem(112);
            margin-bottom: functions.pxToRem(20);
        }
    }
}

.shadow-inflated-8 {
    box-shadow: var(--shadow-inflated-8);
}
.shadow-inflated-16 {
    box-shadow: var(--shadow-inflated-16);
}
.shadow-inflated-64 {
    box-shadow: var(--shadow-inflated-64);
}
