@use '../../../style/functions';

.shadow-depth-8 {
    box-shadow: var(--shadow-depth-8);
}

.shadow-depth-8-focused {
    box-shadow: var(--shadow-depth-8-focused);
}

.shadow-depth-8-error {
    box-shadow: var(--shadow-depth-8-error);
}

.shadow-depth-8-reversed {
    box-shadow: var(--shadow-depth-8-reversed);
}

.shadow-depth-16 {
    box-shadow: var(--shadow-depth-16);
}

.shadow-depth-16-focused {
    box-shadow: var(--shadow-depth-16-focused);
}

.shadow-depth-64 {
    box-shadow: var(--shadow-depth-64);
}

.shadow-depth-64-focused {
    box-shadow: var(--shadow-depth-64-focused);
}

.surface {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: functions.pxToRem(3);

    height: functions.pxToRem(80);
    width: 100%;
    padding: 0 functions.pxToRem(16);

    font-size: var(--limel-theme-default-font-size);
    background-color: var(--lime-elevated-surface-background-color);
    z-index: 1;
}
