@use '../../../style/functions';

.surface-shadows-bad-usage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: functions.pxToRem(40);
    padding: functions.pxToRem(20);
}

.content {
    padding: functions.pxToRem(8) functions.pxToRem(20);
}

.box {
    padding: functions.pxToRem(8) functions.pxToRem(20);
    border-radius: functions.pxToRem(8);
}

.do {
    .box {
        background-color: rgb(var(--contrast-400));
        margin: functions.pxToRem(32) 0;
        padding-top: functions.pxToRem(4);
    }
}

.do-not {
    .box {
        box-shadow: var(--shadow-depth-64);
    }
}

limel-icon {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-sky-light));
    display: inline-block;
    margin-right: functions.pxToRem(8);
    transform: translateY(functions.pxToRem(3));
}

@import '../../_generic-example-styles/_do-dont';
