@use '../../../style/functions';

:host(.has-grid-layout) {
    --gap: var(--list-grid-gap, 0.5rem);
    padding: var(--gap);

    // Prettier's linting doesn't like the `grid-template-columns` below
    /* prettier-ignore */
    .mdc-deprecated-list {
        display: grid;
        gap: var(--gap);
        grid-template-columns: repeat(
            auto-fit,
            minmax(
                min(100%, max(calc(var(--list-grid-item-max-width, 10rem) - var(--gap)), var(--list-grid-item-min-width, 7.5rem))), 1fr)
            );
        max-width: var(--list-grid-max-width, 100%);

        limel-list-item {
            border-radius: var(--limel-list-border-radius) !important;
        }
    }

    .mdc-deprecated-list-divider {
        grid-column: 1/-1; // makes the divider span through all columns
    }
}
