
:host(.has-striped-rows) {
    .mdc-list {
        border: 1px solid rgb(var(--contrast-400));
    }

    .mdc-list-item {
        &:nth-child(even) {
            background-color: rgb(var(--contrast-200));
        }
        &:nth-child(odd) {
            background-color: rgb(var(--contrast-100));
        }
    }
}

:host(.has-interactive-items) {
    .mdc-list-item {
        &:not(.mdc-list-item--disabled) {
            @include is-flat-clickable();

            &:hover {
                z-index: $limel-list--has-interactive-items--mdc-list-item--hover--z-index;
                background-color: rgb(var(--contrast-100));

                &:before {
                    background-color: rgb(var(--contrast-100));
                }
            }
        }
    }
}
