@use '../../../style/mixins';

:host(.has-striped-rows) {
    .mdc-deprecated-list {
        border: 1px solid rgb(var(--contrast-400));
    }
}

:host(.has-striped-rows),
:host(.has-striped-rows.has-interactive-items) {
    limel-list-item:not([disabled]):not([disabled='true']):not(:hover) {
        &:nth-child(even) {
            background-color: var(
                --list-background-color-of-odd-interactive-items,
                rgb(var(--contrast-200))
            );
        }
        &:nth-child(odd) {
            background-color: var(
                --list-background-color-of-even-interactive-items,
                rgb(var(--contrast-100))
            );
        }
    }
}

:host(.has-interactive-items) {
    limel-list-item:not([disabled]):not([disabled='true']) {
        @include mixins.is-flat-clickable();
    }
}
