@use '../../../style/functions';

$scale-factor: 3.5;

:host {
    display: block;
    background-color: rgb(var(--contrast-200));
    border-radius: functions.pxToRem(4);
}

* {
    box-sizing: border-box;
}

#size-rhythm-edge-case-example {
    position: relative;
    background-color: rgb(var(--contrast-400));
    color: rgb(var(--contrast-1100));
    padding: functions.pxToRem(40) 0 functions.pxToRem(40) functions.pxToRem(80);

    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50%;
        background-image: linear-gradient(
            to right,
            rgba(var(--contrast-300), 0),
            rgb(var(--contrast-300))
        );
    }
}

.grid {
    display: grid;
    grid-auto-flow: row;
    border-radius: functions.pxToRem(12) 0 0 functions.pxToRem(12);
    overflow: hidden;
    border: 1px solid rgb(var(--contrast-500));
}

.row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns:
        functions.pxToRem(12 * $scale-factor) functions.pxToRem(
            48 * $scale-factor
        )
        auto;
    gap: functions.pxToRem(8 * $scale-factor);

    background-color: rgb(var(--contrast-200));
    padding: functions.pxToRem(6 * $scale-factor);

    &:not(first-of-type) {
        border-bottom: 1px solid rgb(var(--contrast-500));
    }
}

.cell {
    font-size: functions.pxToRem(20);
    line-height: functions.pxToRem(12 * $scale-factor);
    white-space: nowrap;

    &.picture {
        background-color: rgb(var(--contrast-400));
        border-radius: functions.pxToRem(6);
        width: functions.pxToRem(12 * $scale-factor);
        height: functions.pxToRem(12 * $scale-factor);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        .row-1 & {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill-rule='evenodd'%20stroke-linejoin='round'%20stroke-miterlimit='2'%20clip-rule='evenodd'%20viewBox='0%200%20512%20512'%3E%3Cdefs/%3E%3Cpath%20fill='rgb(255,%2087,%2034)'%20fill-rule='nonzero'%20d='M414.784%20512.09H97.218v-63.14c-.06-60.442%2038.812-114.482%2096.134-133.646%201.911-.693%20123.387-.658%20125.298.035%2057.322%2019.165%2096.195%2073.204%2096.134%20133.646v63.104z'/%3E%3Cpath%20fill='rgb(255,%20204,%20188)'%20fill-rule='nonzero'%20d='M256.001%20369.652a88.178%2088.178%200%2001-56.38-20.315c-44.608-36.998-69.596-92.69-67.575-150.61l.688-19.474c2.228-66.055%2057.175-119.18%20123.267-119.18s121.04%2053.125%20123.267%20119.18l.689%2019.474c2.02%2057.92-22.968%20113.612-67.576%20150.61A88.178%2088.178%200%2001256%20369.652z'/%3E%3C/svg%3E");
        }

        .row-2 & {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill-rule='evenodd'%20stroke-linejoin='round'%20stroke-miterlimit='2'%20clip-rule='evenodd'%20viewBox='0%200%20512%20512'%3E%3Cdefs/%3E%3Cpath%20fill='rgb(139,%20195,%2074)'%20fill-rule='nonzero'%20d='M414.784%20512.09H97.218v-63.14c-.06-60.442%2038.812-114.482%2096.134-133.646%201.911-.693%20123.387-.658%20125.298.035%2057.322%2019.165%2096.195%2073.204%2096.134%20133.646v63.104z'/%3E%3Cpath%20fill='rgb(255,%20204,%20188)'%20fill-rule='nonzero'%20d='M256.001%20369.652a88.178%2088.178%200%2001-56.38-20.315c-44.608-36.998-69.596-92.69-67.575-150.61l.688-19.474c2.228-66.055%2057.175-119.18%20123.267-119.18s121.04%2053.125%20123.267%20119.18l.689%2019.474c2.02%2057.92-22.968%20113.612-67.576%20150.61A88.178%2088.178%200%2001256%20369.652z'/%3E%3C/svg%3E");
        }
    }
}

#size-rhythm-edge-case-example,
.row,
.cell {
    position: relative;
    &:before,
    &:after {
        transition: opacity 0.4s ease;
        z-index: 1;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: functions.pxToRem(12);
        color: rgb(var(--contrast-1100));
        box-sizing: border-box;
        opacity: 0;
    }
}

#size-rhythm-edge-case-example {
    &:before {
        content: '24';
        height: functions.pxToRem(24 * $scale-factor);
        width: functions.pxToRem(20);
        top: functions.pxToRem(40);
        left: functions.pxToRem(52);
        background-color: rgba(var(--color-gray-dark), 0.7);
        color: rgb(var(--color-gray-lighter));
    }
}

.row-2 {
    &:before {
        content: '6';
        background-color: rgba(var(--color-cyan-light), 0.5);
        left: functions.pxToRem(1);
        top: 0;
        bottom: 0;
        margin: auto;
        width: functions.pxToRem(20);
        height: functions.pxToRem(6 * $scale-factor);
        transition-delay: 0.2s;
    }

    .picture {
        &:before,
        &:after {
            content: '6';
            background-color: rgba(var(--color-cyan-light), 0.5);
            left: 0;
            right: 0;
            margin: auto;
            width: functions.pxToRem(20);
            height: functions.pxToRem(6 * $scale-factor);
            transition-delay: 0.2s;
        }

        &:before {
            top: functions.pxToRem(-21);
        }

        &:after {
            bottom: functions.pxToRem(-21);
        }
    }
}

.row-1 {
    .picture,
    .name {
        &:after {
            content: '12';
            height: functions.pxToRem(12 * $scale-factor);
            right: functions.pxToRem(-20);
            top: 0;
            background-color: rgba(var(--color-orange-default), 0.5);
            transition-delay: 0.1s;
        }
    }
}

.visualize-sizes {
    .row,
    .cell {
        &:before,
        &:after {
            opacity: 1;
        }
    }
    &#size-rhythm-edge-case-example {
        &:before {
            opacity: 1;
        }
    }
}
