@use '@material/menu-surface';
@use '@material/elevation';
@use '@material/menu';

:host(limel-menu-surface) {
    display: block;
    max-height: inherit;
}

@include menu-surface.core-styles;
@include menu.core-styles;

.mdc-menu-surface {
    max-height: inherit;
    position: relative;
    --mdc-menu-max-width: var(
        --menu-surface-width,
        min(calc(100vw - 2rem), 20rem)
    );
    background-color: var(--lime-elevated-surface-background-color);
}

:host(limel-menu-surface.has-grid-layout) {
    .mdc-menu-surface {
        width: var(--menu-surface-width, min(calc(100vw - 2rem), 40rem));
        max-width: unset;
    }
}
