@use '@material/menu-surface';
@use '@material/elevation';
@use '@material/menu';

:host {
    display: block;
}

@include menu-surface.core-styles;
@include menu.core-styles;

.mdc-menu-surface {
    max-height: 100%;
    position: relative;
    margin: 0 0.25rem;
    --mdc-menu-max-width: var(
        --menu-surface-width,
        min(calc(100vw - 2rem), 20rem)
    );
}

:host(limel-menu-surface.has-grid-layout) {
    .mdc-menu-surface {
        width: var(--menu-surface-width, min(calc(100vw - 2rem), 40rem));
        max-width: unset;
    }
}
