@import '../../style/internal/mdc-variables';
@import '@limetech/mdc-menu-surface/mdc-menu-surface';
@import '@limetech/mdc-elevation/mdc-elevation';
@import '@limetech/mdc-menu/mdc-menu';

/**
 * @prop --menu-surface-width: Width of the menu surface. Defaults to `auto`
 */

:host {
    display: block;
}

.mdc-menu-surface {
    width: var(--menu-surface-width, auto);
    max-height: 100%;
    position: relative;
}
