$tab-content-background-color: #fff;

limel-example-tab-panel-content {
    display: flex;
    height: 10rem;
    background-color: $tab-content-background-color;
    justify-content: center;
    align-items: center;
}
