.text {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    margin: 0;
}

limel-icon {
    margin-right: 1rem;
}
