.select-all,
.limel-table--row-selector {
    --limel-checkbox-min-height: 1.25rem; // as big as the box itself
    display: inline-flex !important;
    align-items: center;
    justify-content: center;

    text-overflow: unset !important; // Otherwise a `…` will be rendered besides the checkbox, since we truncate all cells
    padding: 0 !important;
}

.select-all {
    position: absolute;
    z-index: $table--limel-table--row-selector;
    left: 0.375rem;
    top: 0.1875rem;
}

.limel-table--row-selector {
    position: sticky !important; // otherwise will be overwritten from `.tabulator-row .tabulator-cell`
    left: 0;
    border-width: 0;
    z-index: $table--limel-table--row-selector;

    &:before {
        content: '';
        inset: 0.25rem 0;
        position: absolute;
        background-image: linear-gradient(
            to right,
            rgb(var(--limel-table-row-background-color)) 70%,
            rgb(var(--limel-table-row-background-color), 0)
        );
    }

    limel-checkbox {
        transition: opacity 0.2s ease;
        opacity: 0.3;

        .tabulator-row:hover & {
            opacity: 1;
        }

        .has-selection & {
            opacity: 1;
        }
    }

    // make the row selector column non-resizable by hiding
    // the resize handles between the frozen column and the
    // column next to it
    .tabulator-col-resize-handle {
        display: none;
    }
    & + .tabulator-col,
    & + .tabulator-cell {
        .tabulator-col-resize-handle.prev {
            display: none;
        }
    }
}

.has-movable-columns
    .tabulator-header
    .tabulator-col.limel-table--row-selector {
    border: none;
    cursor: default !important;
    pointer-events: none;
    background-color: transparent;
    background-image: linear-gradient(
        to right,
        rgb(var(--table-header-background-color--hover)) 70%,
        rgb(var(--table-header-background-color--hover), 0)
    );
    left: 0;
}

.tabulator-calcs {
    .tabulator-cell {
        .has-selection & {
            color: var(
                --table-arrow-color--active
            ); // to indicate that aggregated numbers are coming from the selcted rows not all rows
        }
    }
}
