// common styles are written in `_row-selection.scss` and imported in `table.scss`
.limel-table-drag-handle {
    transition: opacity 0.3s ease;
    left: 0;
    width: var(--limel-table-drag-handle-width) !important;
    height: 2rem !important;
    user-select: none;

    .has-rowselector & {
        background-image: none !important;
        background-color: rgb(
            var(--limel-table-row-background-color)
        ) !important;
    }

    .tabulator-block-select & {
        pointer-events: none;
        opacity: 0.3;
    }
}

.tabulator-row.tabulator-moving
    .limel-table-drag-handle
    limel-drag-handle
    button:last-of-type {
    display: none; /** tabulator will make a copy of limel-drag-handle on move. So hide the 2nd child */
}
