@use '../../../style/internal/z-index';
@use '../../../style/functions';

// .has-rowselector {} // Mabe useful later

.select-all,
.limel-table--row-selector {
    --mdc-checkbox-ripple-size: 1rem; // prevent the checkbox affecting the row height
}

.select-all {
    position: absolute;
    z-index: z-index.$table--limel-table--row-selector;
    left: 0;
    top: functions.pxToRem(7);
    width: functions.pxToRem(41); // width of the selector column

    display: flex !important;
    align-items: center;
    justify-content: center;

    limel-checkbox {
        transform: translate(-0.25rem, 0);
    }
}

.limel-table--row-selector {
    position: sticky !important; // otherwise will be overwritten from `.tabulator-row .tabulator-cell`
    left: 0;
    border-width: 0;
    justify-content: center;
    z-index: z-index.$table--limel-table--row-selector;

    .tabulator-row-odd & {
        background-image: linear-gradient(
            to right,
            rgb(var(--table-row-background-color--odd)) 70%,
            rgb(var(--table-row-background-color--odd), 0)
        );
    }

    .tabulator-row-even & {
        background-image: linear-gradient(
            to right,
            rgb(var(--table-row-background-color--even)) 70%,
            rgb(var(--table-row-background-color--even), 0)
        );
    }

    .tabulator-row.active &,
    .tabulator-row.active:hover & {
        background-image: linear-gradient(
            to right,
            rgb(var(--table-row-background-color--active)) 70%,
            rgb(var(--table-row-background-color--active), 0)
        );
    }

    .tabulator-row:not(.tabulator-calcs):hover & {
        will-change: background-image;
        background-image: linear-gradient(
            to right,
            rgb(var(--table-row-background-color--hover)) 70%,
            rgb(var(--table-row-background-color--hover), 0)
        );
    }

    limel-checkbox {
        transition: opacity 0.2s ease;
        align-self: center;
        opacity: 0.3;
        transform: translate(-0.25rem, 0);

        .tabulator-row:hover & {
            opacity: 1;
        }

        .has-selection & {
            opacity: 1;
        }
    }

    // make the row selector column non-resizeable by hiding
    // the resize handles between the frozen column and the
    // column next to it
    .tabulator-col-resize-handle {
        display: none;
    }
    & + .tabulator-col,
    & + .tabulator-cell {
        .tabulator-col-resize-handle.prev {
            display: none;
        }
    }
}

.tabulator.has-movable-columns
    .tabulator-header
    .tabulator-col.limel-table--row-selector {
    border: none;
    cursor: default;
    pointer-events: unset;
    background-color: transparent;
    background-image: linear-gradient(
        to right,
        rgb(var(--table-header-background-color--hover)) 70%,
        rgb(var(--table-header-background-color--hover), 0)
    );
    position: sticky;
    left: 0;
}
