.tabulator {
    .tabulator-footer {
        transition:
            transform 0.5s ease-out,
            opacity 0.35s ease; //For some reason the footer is not animated when it gets hidden/removed
        color: var(--table-text-color);
        background-color: rgb(var(--table-header-background-color--hover));
        border: none;
        user-select: auto;

        .tabulator-footer-contents {
            padding: 0 0.25rem;
        }

        .tabulator-calcs-holder {
            border-color: rgb(var(--contrast-500));
            background: rgb(var(--contrast-500)) !important;
            margin-top: 0;
            margin-bottom: 0;

            .tabulator-row {
                height: $height-of-aggregations-row;
                background: transparent !important;
            }

            .tabulator-calcs {
                cursor: default;
            }

            .tabulator-cell {
                height: $height-of-aggregations-row !important;
                padding-top: 0.25rem;
                padding-bottom: 0;
            }
        }
    }
}
