#tabulator-container,
#tabulator-table {
    height: 100%;
    width: 100%;
}

.tabulator {
    display: flex;
    flex-direction: column;

    * {
        box-sizing: border-box;
    }

    .tabulator-header {
        flex-shrink: 0;
    }

    .tabulator-tableholder {
        isolation: isolate;
        flex-grow: 1;
        $unset-tabulators-calculated-and-hardcoded-height: unset !important; // tabulator calculates (not so precisely) height of the scrollable area of the table and adds it inline.
        height: $unset-tabulators-calculated-and-hardcoded-height;
        max-height: $unset-tabulators-calculated-and-hardcoded-height;
        min-height: $unset-tabulators-calculated-and-hardcoded-height;
        padding-bottom: 5rem;
    }

    .tabulator-footer {
        flex-shrink: 0;
    }
}
