@use '../../../style/mixins';
@use '../../../style/functions';

.lime-col-title__custom-component {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: functions.pxToRem(20);
    gap: 0.25rem;
}

.title-component-text {
    @include mixins.truncate-text();
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
}

.title-component-slot  {
    flex-shrink: 0;
}
