.tabulator-col-sorter {
    right: pxToRem(16) !important;
}
.tabulator-arrow {
    position: absolute;
    transition: border 0.2s ease;
    top: pxToRem(4);

    [aria-sort='none'] & {
        border-bottom-color: $tabulator-arrow-color !important;
    }
    [aria-sort='desc'] & {
        border-top-color: $tabulator-arrow-color-active !important;
    }
    [aria-sort='asc'] & {
        border-bottom-color: $tabulator-arrow-color-active !important;
    }

    &:before,
    &:after {
        display: block;
        content: '';

        position: absolute;
        bottom: 0;
    }
    &:before {
        z-index: $limel-table--tabulator-arrow--before--z-index;
        background-color: $table-header-background-color;
        width: pxToRem(8);
        height: pxToRem(8);
        transform: rotate(45deg);
        left: pxToRem(-4);
        top: pxToRem(4);
    }
    &:after {
        z-index: $limel-table--tabulator-arrow--after--z-index;
        width: pxToRem(2);
        background-color: $tabulator-arrow-color;
        height: pxToRem(9);
        top: pxToRem(2);
        left: pxToRem(-1);
    }

    [aria-sort='desc'] & {
        top: pxToRem(10);

        &:before {
            top: pxToRem(-12);
        }

        &:after {
            top: pxToRem(-11);
        }
    }

    [aria-sort='desc'] &,
    [aria-sort='asc'] & {
        &:after {
            background-color: $tabulator-arrow-color-active;
        }
    }
}

@keyframes indicate-sortable-column {
    0%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(0, pxToRem(-1.4), 0);
    }
    60% {
        transform: translate3d(0, pxToRem(1.4), 0);
    }
}

.tabulator-col.tabulator-sortable:hover {
    .tabulator-arrow {
        animation: indicate-sortable-column 0.5s ease;
    }
}
