@use '../../../style/mixins';
@use '../../../style/functions';

#tabulator-container {
    &:not(.has-pagination) {
        // When there is no pagination, Tabulator still displays the pagination bar,
        // but with only 1 page in it. This is why we hide it:
        .tabulator-paginator {
            display: none !important;
        }
    }
}

.tabulator {
    .tabulator-footer {
        .tabulator-paginator {
            box-sizing: border-box;
            display: grid;
            grid-auto-flow: column;
            justify-content: end;
            padding-top: functions.pxToRem(4);
            padding-bottom: functions.pxToRem(4);

            .tabulator-pages {
                margin: 0 functions.pxToRem(8);

                .tabulator-page {
                    margin: 0 functions.pxToRem(0);
                }
            }

            .tabulator-page {
                &:not([disabled]) {
                    @include mixins.is-flat-clickable(
                        $color: rgb(var(--contrast-1200)) !important
                    );
                }
                position: relative;
                height: functions.pxToRem(28);
                min-width: functions.pxToRem(28);
                padding: 0 functions.pxToRem(8);
                margin: 0;

                border: none;
                border-radius: functions.pxToRem(40);

                background-color: transparent; // has to be here, otherwise disabled buttons will also get a background

                &.active {
                    background-color: var(
                        --limel-theme-surface-background-color
                    );
                    box-shadow: var(--button-shadow-inset);
                }

                &:disabled {
                    cursor: not-allowed;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

// Interactivity effects for buttons
button.tabulator-page {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;

    &[data-page='first'],
    &[data-page='prev'],
    &[data-page='next'],
    &[data-page='last'] {
        font-size: 0;
        color: transparent !important;

        &:before,
        &:after {
            content: '';
            transition: transform 0.2s ease;
            display: block;

            position: absolute;
        }

        &:after {
            border: {
                style: solid;
                color: transparent;
                width: 0.25rem 0 0.25rem 0.4rem;
                left-color: var(--limel-theme-on-surface-color);
            }
        }
    }

    &[data-page='first'],
    &[data-page='last'] {
        &:before {
            height: 0.5rem;
            width: 0.125rem;
            background-color: var(--limel-theme-on-surface-color);
        }
    }

    &[data-page='first'] {
        &:before {
            left: 0.375rem;
        }
    }

    &[data-page='last'] {
        &:before {
            right: 0.375rem;
        }
    }

    &[data-page='first'],
    &[data-page='prev'] {
        &:after {
            transform: rotateZ(180deg);
        }
    }

    &[data-page='next']:not([disabled]),
    &[data-page='last']:not([disabled]) {
        &:hover {
            &:after {
                transform: translate3d(functions.pxToRem(1.5), 0, 0);
            }
        }
    }

    &[data-page='first']:not([disabled]),
    &[data-page='prev']:not([disabled]) {
        &:hover {
            &:after {
                transform: translate3d(functions.pxToRem(-1.5), 0, 0)
                    rotateZ(180deg);
            }
        }
    }
}
