@use '../../../style/mixins';
@use '../../../style/functions';

.interactive-feedback {
    // This is a div, injected by us into all rows.
    // We use it to visualize interactive feedback.
    position: absolute;
    inset: 0;
    min-height: 0.125rem;

    // We could use `@include mixins.is-flat-clickable()`,
    // But the "arguments" of the mixin would make the CSS for
    // even and odd row colors and background color very complicated.
    // So instead, I've copy/pasted the useful parts of the mixin here
    transition: color 0.2s ease, background-color 0.2s ease,
        box-shadow 0.2s ease, transform 0.1s ease-out;
}

.tabulator-row:not(.tabulator-calcs) {
    .tabulator-cell {
        // We don't want the cells to block
        // the hovering possibility of `interactive-feedback` div.
        pointer-events: none;
        // but we want the content in them
        // (e.g. links, phone numbers, chips, components)
        // to remain interactive.
        > * {
            pointer-events: auto;
        }
    }

    &.tabulator-selectable {
        &:hover {
            z-index: $table--has-interactive-rows--selectable-row--hover;
        }

        &.active {
            .interactive-feedback {
                background-color: rgb(
                    var(--table-row-background-color--active)
                );
                box-shadow: var(--button-shadow-inset-pressed);
            }

            &:before {
                $width-of-selected-row-indicator: 0.2rem;
                content: '';
                display: inline-block;
                box-sizing: border-box;
                position: sticky;
                z-index: $table--has-interactive-rows--selectable-row--hover + 1;
                inset: 0 0 auto 0;
                border: $width-of-selected-row-indicator solid
                    var(--mdc-theme-primary);
                border-radius: 1rem;
                margin-right: -$width-of-selected-row-indicator * 2;
            }
        }
    }
}

:host(.has-interactive-rows) {
    .tabulator-row:not(.tabulator-calcs) {
        &.tabulator-selectable {
            .interactive-feedback {
                &:hover {
                    box-shadow: var(--button-shadow-hovered);
                }
            }

            &:active {
                .interactive-feedback {
                    box-shadow: var(--button-shadow-pressed);

                    transform: translate3d(0, 0.08rem, 0);
                }
            }
            &:not(.active) {
                .interactive-feedback {
                    &:hover {
                        background-color: var(
                            --table-row-background-color--hover
                        );
                    }
                }
            }
        }
    }
}

:host(.has-low-density) {
    $row-border-radius: 0.5rem;

    #tabulator-container {
        width: max-content;
        max-width: 100%;
        margin: auto;
    }

    .tabulator-table {
        background-color: transparent;
    }

    .tabulator-header {
        border-radius: functions.pxToRem(6);
    }

    .tabulator-footer {
        border-radius: $row-border-radius;
    }

    .tabulator-calcs-holder {
        border-radius: $row-border-radius $row-border-radius 0 0;
    }

    .tabulator-row {
        border-radius: $row-border-radius;

        &:not(.tabulator-calcs-bottom) {
            margin-bottom: functions.pxToRem(4);

            &:first-child {
                margin-top: functions.pxToRem(12);
            }

            .tabulator-cell {
                height: functions.pxToRem(44) !important;

                &:first-child {
                    border-radius: $row-border-radius 0 0 $row-border-radius;
                }
                &:last-child {
                    border-radius: 0 $row-border-radius $row-border-radius 0;
                }
            }
        }
    }
}

:host(.has-pagination-on-top) {
    .tabulator {
        .tabulator-header {
            order: 2;
        }

        .tabulator-tableHolder {
            order: 3;
        }

        .tabulator-footer {
            order: 1;
            background-color: transparent;
        }

        .tabulator-calcs-holder {
            position: absolute;
            bottom: 0;
        }
    }

    .has-aggregation {
        .tabulator-tableHolder {
            margin-bottom: functions.pxToRem(
                24
            ); // makes sure aggregations row doesn't cover the last table row, and horizontal scroll bar is shown on windows
        }
    }

    .select-all {
        top: functions.pxToRem(42);
    }

    #tabulator-container {
        &:not(.has-pagination) {
            .tabulator-paginator {
                display: grid !important;
                opacity: 0;
            }
        }
    }
}
