@use '../../../style/mixins';
@use '../../../style/functions';

.interactive-feedback {
    // This is a div, injected by us into all rows.
    // We use it to visualize interactive feedback.
    position: absolute;
    inset: 0;
    min-height: 0.125rem;

    // We could use `@include mixins.is-flat-clickable()`,
    // But the "arguments" of the mixin would make the CSS for
    // even and odd row colors and background color very complicated.
    // So instead, I've copy/pasted the useful parts of the mixin here
    transition:
        color var(--limel-clickable-transition-speed, 0.4s) ease,
        // background-color var(--limel-clickable-transition-speed, 0.4s) ease,
        box-shadow var(--limel-clickable-transform-speed, 0.4s) ease,
        transform var(--limel-clickable-transform-speed, 0.4s)
            var(--limel-clickable-transform-timing-function, ease);

    background-color: rgb(var(--limel-table-row-background-color));

    .tabulator-row:active & {
        --limel-clickable-transform-timing-function: cubic-bezier(
            0.83,
            -0.15,
            0.49,
            1.16
        );
    }

    .tabulator-row:hover &,
    .tabulator-row:active & {
        --limel-clickable-transition-speed: 0.2s;
        --limel-clickable-transform-speed: 0.16s;
    }
}

.tabulator-row:not(.tabulator-calcs) {
    background-color: transparent;

    &.tabulator-row-odd {
        --limel-table-row-background-color: var(
            --table-row-background-color--odd
        );
    }

    &.tabulator-row-even {
        --limel-table-row-background-color: var(
            --table-row-background-color--even
        );
    }

    .tabulator-cell {
        // We don't want the cells to block
        // the hovering possibility of `interactive-feedback` div.
        pointer-events: none;
        // but we want the content in them
        // (e.g. links, phone numbers, chips, components)
        // to remain interactive.
        > * {
            pointer-events: auto;
        }
    }

    &.tabulator-selectable {
        &:hover {
            background-color: var(--table-row-background-color--hover);
            z-index: var(
                --limel-table-interactive-selectable-row-z-index-hover
            );
        }

        &.active {
            &:before {
                $width-of-selected-row-indicator: 0.2rem;
                content: '';
                display: inline-block;
                box-sizing: border-box;
                position: sticky;
                z-index: calc(
                    var(
                            --limel-table-interactive-selectable-row-z-index-hover
                        ) +
                        1
                );
                inset: 0 0 auto 0;
                border: $width-of-selected-row-indicator solid
                    var(--lime-primary-color, var(--limel-theme-primary-color));
                border-radius: 1rem;
                margin-right: -$width-of-selected-row-indicator * 2;
            }
        }
    }
}

:host(.has-interactive-rows) {
    .tabulator-row:not(.tabulator-calcs) {
        &.tabulator-selectable {
            .interactive-feedback {
                &:hover {
                    box-shadow: var(--button-shadow-hovered);
                }
            }

            &:active {
                .interactive-feedback {
                    box-shadow: var(--button-shadow-pressed);

                    transform: translate3d(0, 0.05rem, 0);
                }
            }

            &.active {
                --limel-table-row-background-color: var(
                    --table-row-background-color--active
                );
                .interactive-feedback {
                    opacity: 0.2;
                    background-color: var(--table-row-background-color--active);
                    box-shadow: var(--button-shadow-inset-pressed);

                    &:hover {
                        opacity: 0.3;
                    }
                }
            }

            &:not(.active) {
                .interactive-feedback {
                    &:hover {
                        background-color: var(
                            --table-row-background-color--hover
                        );
                    }
                }
            }
        }
    }
}

:host(.has-low-density) {
    $row-border-radius: 0.5rem;

    #tabulator-container {
        width: max-content;
        max-width: 100%;
        margin: auto;
    }

    .tabulator-table {
        background-color: transparent;
    }

    .tabulator-header {
        border-radius: functions.pxToRem(6);
    }

    .tabulator-footer {
        border-radius: $row-border-radius;
    }

    .tabulator-calcs-holder {
        border-radius: $row-border-radius $row-border-radius 0 0;
    }

    .tabulator-row {
        border-radius: $row-border-radius;

        &:not(.tabulator-calcs-bottom) {
            margin-bottom: functions.pxToRem(4);

            &:first-child {
                margin-top: functions.pxToRem(12);
            }

            .tabulator-cell {
                height: functions.pxToRem(44) !important;

                &:first-child {
                    border-radius: $row-border-radius 0 0 $row-border-radius;
                }
                &:last-child {
                    border-radius: 0 $row-border-radius $row-border-radius 0;
                }
            }
        }
    }
}

:host(.has-pagination-on-top) {
    .tabulator {
        .tabulator-header {
            order: 2;
        }

        .tabulator-tableholder {
            order: 3;
        }

        .tabulator-footer {
            order: 1;
            background-color: transparent;
        }

        .tabulator-calcs-holder {
            position: absolute;
            bottom: 0;
        }
    }

    &:has(.tabulator-calcs-holder) {
        .tabulator-tableholder {
            // makes sure aggregations row doesn't cover the last table row,
            // and the horizontal scroll bar which is shown on windows
            margin-bottom: var(--limel-table-height-of-aggregations-row);
        }
    }

    .select-all {
        top: 2.5rem;
    }
}
