@use '../../../style/functions';

.tabulator {
    .tabulator-header .tabulator-col .tabulator-col-content {
        .tabulator-col-sorter {
            position: relative;
            cursor: pointer;
            transition: opacity 0.2s ease;
            right: 0;
        }
    }
}

.tabulator-sortable {
    &[aria-sort='none'] {
        .tabulator-col-sorter {
            opacity: 0;
        }
        &:hover {
            .tabulator-col-sorter {
                opacity: 1;

                .tabulator-arrow {
                    animation: indicate-sortable-unsorted-column 2s ease
                        forwards;
                }
            }
        }
    }

    &[aria-sort='desc'],
    &[aria-sort='asc'] {
        .tabulator-col-sorter {
            opacity: 1;
        }

        &:hover {
            .tabulator-col-sorter {
                opacity: 1;
                animation: indicate-sortable-sorted-column 0.5s ease;
            }
        }
    }
}

.tabulator-arrow {
    rotate: 180deg; // changes the direction of the arrow, according to our sorting direction convention

    transition: border 0.2s ease;
    border-left: 0.25rem solid transparent !important;
    border-right: 0.25rem solid transparent !important;

    .tabulator#tabulator-table
        .tabulator-header
        .tabulator-col.tabulator-sortable[aria-sort='none']
        & {
        height: 0.75rem;
        border-top: {
            width: 0.25rem;
            style: solid;
            color: rgb(var(--table-arrow-color));
        }
        border-bottom: {
            width: 0.25rem;
            style: solid;
            color: rgb(var(--table-arrow-color));
        }
    }

    .tabulator#tabulator-table
        .tabulator-header
        .tabulator-col.tabulator-sortable[aria-sort='desc']
        & {
        height: 0;
        transform: translate3d(0, -0.2rem, 0);
        border-top-width: 0.25rem;
        border-bottom-width: 0;
        border-top-color: var(--table-arrow-color--active);
    }

    .tabulator#tabulator-table
        .tabulator-header
        .tabulator-col.tabulator-sortable[aria-sort='asc']
        & {
        height: 0;
        transform: translate3d(0, 0.2rem, 0);
        border-top-width: 0;
        border-bottom-width: 0.25rem;
        border-bottom-color: var(--table-arrow-color--active);
    }
}

@keyframes indicate-sortable-sorted-column {
    0%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(0, functions.pxToRem(-1.4), 0);
    }
    60% {
        transform: translate3d(0, functions.pxToRem(1.4), 0);
    }
}

@keyframes indicate-sortable-unsorted-column {
    0%,
    15%,
    45%,
    75% {
        border-top-color: transparent;
        border-bottom-color: transparent;
        transform: translate3d(0, 0, 0);
    }
    30% {
        border-top-color: transparent;
        border-bottom-color: var(--table-arrow-color--active);
        transform: translate3d(0, functions.pxToRem(-5), 0);
    }
    60% {
        border-top-color: var(--table-arrow-color--active);
        border-bottom-color: transparent;
        transform: translate3d(0, functions.pxToRem(5), 0);
    }
    100% {
        border-top-color: rgb(var(--table-arrow-color));
        border-bottom-color: rgb(var(--table-arrow-color));
    }
}
