@use '../../../style/internal/z-index';
@use '../../../style/mixins';
@use '../../../style/functions';

:host(.has-interactive-rows) {
    .tabulator-row:not(.tabulator-calcs) {
        &.tabulator-selectable {
            @include mixins.is-flat-clickable();
            &:hover {
                z-index: z-index.$table--has-interactive-rows--selectable-row--hover;
            }
            &:not(.active) {
                &:hover {
                    background-color: rgb(
                        var(--table-row-background-color--hover)
                    );
                }
            }
        }
    }
}

:host(.has-low-density) {
    $row-border-radius: 0.5rem;
    $cell-padding-left: 0.5rem;

    #tabulator-container {
        width: max-content;
        max-width: 100%;
        margin: auto;
    }

    .tabulator-table {
        background-color: transparent;
    }

    .tabulator-header {
        border-radius: functions.pxToRem(6);

        .tabulator-col-content {
            padding-left: $cell-padding-left;
        }
    }

    .tabulator-footer {
        border-radius: $row-border-radius;
    }

    .tabulator-calcs-holder {
        border-radius: $row-border-radius $row-border-radius 0 0;
    }

    .tabulator-row {
        border-radius: $row-border-radius;

        &:not(.tabulator-calcs-bottom) {
            margin-bottom: functions.pxToRem(4);

            &:first-child {
                margin-top: functions.pxToRem(12);
            }

            .tabulator-cell {
                height: functions.pxToRem(44) !important;
                padding-left: functions.pxToRem(12);
                padding-right: $cell-padding-left;

                &:first-child {
                    border-radius: $row-border-radius 0 0 $row-border-radius;
                }
                &:last-child {
                    border-radius: 0 $row-border-radius $row-border-radius 0;
                }
            }
        }
    }
}

:host(.has-pagination-on-top) {
    .tabulator {
        .tabulator-header {
            order: 2;
        }

        .tabulator-tableHolder {
            order: 3;
        }

        .tabulator-footer {
            order: 1;
            background-color: transparent;
        }

        .tabulator-calcs-holder {
            position: absolute;
            bottom: 0;
        }
    }

    .has-aggregation {
        .tabulator-tableHolder {
            padding-bottom: functions.pxToRem(
                28
            ); // makes sure aggregations row doesn't cover the last table row
        }
    }

    .select-all {
        top: functions.pxToRem(42);
    }

    #tabulator-container {
        &:not(.has-pagination) {
            .tabulator-paginator {
                display: grid !important;
                opacity: 0;
            }
        }
    }
}
