@use '../../../style/functions';

.tabulator-col-sorter {
    right: functions.pxToRem(16) !important;
}
.tabulator-arrow {
    position: absolute;
    transition: border 0.2s ease;
    top: functions.pxToRem(4);
    cursor: pointer;

    [aria-sort='none'] & {
        border-bottom-color: rgb(var(--table-arrow-color)) !important;
    }
    [aria-sort='desc'] & {
        border-top-color: rgb(var(--table-arrow-color--active)) !important;
    }
    [aria-sort='asc'] & {
        border-bottom-color: rgb(var(--table-arrow-color--active)) !important;
    }

    &:before,
    &:after {
        display: block;
        content: '';

        position: absolute;
        bottom: 0;
    }
    &:before {
        background-color: rgb(var(--table-header-background-color));
        width: functions.pxToRem(8);
        height: functions.pxToRem(8);
        transform: rotate(45deg);
        left: functions.pxToRem(-4);
        top: functions.pxToRem(4);
    }
    &:after {
        width: functions.pxToRem(2);
        background-color: rgb(var(--table-arrow-color));
        height: functions.pxToRem(9);
        top: functions.pxToRem(2);
        left: functions.pxToRem(-1);
    }

    [aria-sort='desc'] & {
        top: functions.pxToRem(10);

        &:before {
            top: functions.pxToRem(-12);
        }

        &:after {
            top: functions.pxToRem(-11);
        }
    }

    [aria-sort='desc'] &,
    [aria-sort='asc'] & {
        &:after {
            background-color: rgb(var(--table-arrow-color--active));
        }
    }
}

@keyframes indicate-sortable-column {
    0%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(0, functions.pxToRem(-1.4), 0);
    }
    60% {
        transform: translate3d(0, functions.pxToRem(1.4), 0);
    }
}

.tabulator-col.tabulator-sortable:hover {
    .tabulator-arrow {
        animation: indicate-sortable-column 0.5s ease;
    }
}
