:host {
  display: inline;
}

.anchor {
  display: inline;
  margin-left: 0.25em;
  color: rgb(var(--kompendium-contrast-700));
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  opacity: var(--kompendium-anchor-opacity, 0);
  transition: opacity 0.2s ease, color 0.2s ease;
}
.anchor:hover, .anchor:focus-visible {
  color: rgb(var(--kompendium-color-blue-default));
  opacity: 1;
}
.anchor.active {
  color: rgb(var(--kompendium-color-blue-default));
  opacity: 1;
}