:host {
    --popover-surface-width: min(100vw, 40rem);

    --dock-item-background-color--selected: rgb(var(--color-sky-dark));
    --dock-item-text-color--selected: rgb(var(--contrast-200));
    --dock-item-icon-color--deselected: rgb(var(--color-teal-default));
}

.application {
    background-color: rgb(var(--contrast-400));
    border: 1px solid rgb(var(--contrast-700));
    overflow: hidden;
    border-radius: 0.5rem;
    height: 30rem;
}
