:host {
    display: block;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: rgb(var(--contrast-100));
}
limel-input-field {
    margin-bottom: 1rem;
}

limel-button {
    margin-left: 0.5rem;
}
