@use '../../style/mixins';

:host([hidden]) {
    display: none;
}

@include mixins.visualize-aria-expanded('button');

button {
    all: unset;
    &:not(:disabled) {
        @include mixins.is-flat-clickable(
            $background-color: var(--icon-background-color, transparent)
        );
        @include mixins.visualize-keyboard-focus;
    }

    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;

    &:disabled {
        cursor: not-allowed;

        color: var(--limel-theme-text-disabled-on-background-color);
    }
}

:host([elevated]) {
    button {
        &:not(:hover):not(:active):not(:disabled):not(:focus-visible) {
            box-shadow: var(--button-shadow-normal);
        }

        &:disabled {
            box-shadow: var(--button-shadow-normal);
        }
    }
}

limel-icon {
    padding: 0.25rem;
    width: 1.75rem;
}
