@use '../../style/mixins';
@use '../../style/functions';
@use '@material/icon-button/styles';

/**
 * @prop --icon-background-color: Background color when attribute `elevated` is set to `true`.
 */

:host {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

:host([hidden]) {
    display: none;
}

:host([disabled]) {
    pointer-events: none;
}

:host([elevated]) {
    .mdc-icon-button {
        padding: functions.pxToRem(9);
    }

    limel-icon {
        @include mixins.is-elevated-clickable;
    }
}

.mdc-icon-button {
    &:disabled {
        color: var(--mdc-theme-text-disabled-on-background);
    }
    &:focus-visible {
        // only when non-pointer input is being used,
        // e.g. tabbed into using keyboard
        box-shadow: var(--shadow-depth-8-focused);
        border-radius: 50%;
    }
}
