@mixin theme-color-variables() {
    --mdc-theme-primary: var(
        --lime-primary-color,
        rgb(var(--color-teal-default))
    );
    --mdc-theme-secondary: var(
        --lime-secondary-color,
        rgb(var(--contrast-1100))
    );
    --mdc-theme-on-primary: var(
        --lime-on-primary-color,
        rgb(var(--contrast-100))
    );
    --mdc-theme-on-secondary: var(
        --lime-on-secondary-color,
        rgb(var(--contrast-100))
    );
    --mdc-theme-text-disabled-on-background: var(
        --lime-text-disabled-on-background-color,
        rgba(var(--contrast-1700), 0.38)
    );
    --mdc-theme-text-primary-on-background: var(
        --lime-text-primary-on-background-color,
        rgba(var(--contrast-1700), 0.87)
    );
    --mdc-theme-text-secondary-on-background: var(
        --lime-text-secondary-on-background-color,
        rgba(var(--contrast-1700), 0.54)
    );
    --lime-error-text-color: rgb(var(--color-red-darker));
    --mdc-theme-surface: var(
        --lime-surface-background-color,
        rgb(var(--contrast-100))
    );
    --mdc-theme-on-surface: var(
        --lime-on-surface-color,
        var(--lime-text-primary-on-background-color)
    );
}
