$lime-deep-red: #f05750;
$lime-red: #ff7043;
$lime-orange: #ffb03b;
$lime-yellow: #ffcf3d;
$lime-green: #66bb6a;
$lime-turquoise: #26a69a;
$lime-blue: #29b6f6;
$lime-dark-blue: #57879f;
$lime-magenta: #ff3195;
$lime-light-grey: #adadad;
$lime-dark-grey: #575756;
$lime-text-field-bottom-line-color: rgba(0,0,0,0.12);
