@import './brand-color-definitions';

:root {
    --lime-deep-red: #{$lime-deep-red};
    --lime-red: #{$lime-red};
    --lime-orange: #{$lime-orange};
    --lime-yellow: #{$lime-yellow};
    --lime-green: #{$lime-green};
    --lime-turquoise: #{$lime-turquoise};
    --lime-blue: #{$lime-blue};
    --lime-dark-blue: #{$lime-dark-blue};
    --lime-magenta: #{$lime-magenta};
    --lime-light-grey: #{$lime-light-grey};
    --lime-dark-grey: #{$lime-dark-grey};
}
