/**
 * Note! This file is exported to `dist/scss/` in the published
 * node module, for consumer projects to import.
 * That means this file cannot import from any file that isn't
 * also exported, keeping the same relative path.
 *
 * Or, just don't import anything, that works too.
 */

@mixin visualize-keyboard-focus {
    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: none;
        box-shadow: var(--shadow-depth-8-focused);
    }
}

/**
* This can be used on a trigger element that opens a dropdown menu or a popover.
*/

@mixin visualize-aria-expanded($trigger-element) {
    :host([aria-expanded='true']),
    :host([aria-expanded]:not([aria-expanded='false'])) {
        #{$trigger-element} {
            box-shadow: var(--button-shadow-inset-pressed) !important;
        }
    }
}

@mixin in($media) {
    // ⛔️ As long as we don't have a script that generates a
    // `.css` files automatically, we cannot use this mixin.
    // we need to manually write the dark-mode CSS variables
    // inside this file: /style/color-palette-extended.css
    //
    // ⚠️ Also note that this mixin only puts styles
    // on the `:root` which means the `<html` level.
    // Therefore, it cannot be used inside components
    // to generate custom dark-mode styles.

    @if $media == dark-mode {
        @media (prefers-color-scheme: dark) {
            :root:not([data-theme='force-light']) {
                @content;
            }
        }
        :root[data-theme='force-dark'] {
            @content;
        }

        // @media (prefers-color-scheme: dark) {
        //     :host(:not([data-theme='force-light'])) & {
        //         @content;
        //     }
        // }
        // :host([data-theme='force-dark']) & {
        //     @content;
        // }
    }
}

$clickable-normal-state-transitions: (
    color var(--limel-clickable-transition-speed, 0.4s) ease,
    background-color var(--limel-clickable-transition-speed, 0.4s) ease,
    box-shadow var(--limel-clickable-transform-speed, 0.4s) ease,
    transform var(--limel-clickable-transform-speed, 0.4s)
        var(--limel-clickable-transform-timing-function, ease)
);

@mixin is-elevated-clickable(
    $color: var(--mdc-theme-on-surface),
    $color--hovered: var(--mdc-theme-on-surface),
    $background-color: var(--lime-elevated-surface-background-color),
    $background-color--hovered: var(--lime-elevated-surface-background-color)
) {
    transition: $clickable-normal-state-transitions;

    cursor: pointer;
    color: $color;
    background-color: $background-color;
    box-shadow: var(--button-shadow-normal);

    &:hover,
    &:focus,
    &:focus-visible {
        will-change: color, background-color, box-shadow, transform;
    }

    &:hover {
        transform: translate3d(0, -0.04rem, 0);
        color: $color--hovered;
        background-color: $background-color--hovered;
        box-shadow: var(--button-shadow-hovered);
    }

    &:active {
        --limel-clickable-transform-timing-function: cubic-bezier(
            0.83,
            -0.15,
            0.49,
            1.16
        );
        transform: translate3d(0, 0.05rem, 0);
        box-shadow: var(--button-shadow-pressed);
    }

    &:hover,
    &:active {
        --limel-clickable-transition-speed: 0.2s;
        --limel-clickable-transform-speed: 0.16s;
    }
}

@mixin is-elevated-inset-clickable(
    $color: var(--mdc-theme-on-surface),
    $color--hovered: var(--mdc-theme-on-surface),
    $background-color: var(--lime-elevated-surface-background-color),
    $background-color--hovered: var(--lime-elevated-surface-background-color),
    $background-color--inset: var(--mdc-theme-surface)
) {
    transition: $clickable-normal-state-transitions;

    cursor: pointer;
    color: $color;
    background-color: $background-color;
    box-shadow: var(--button-shadow-normal);

    &:hover,
    &:focus,
    &:focus-visible {
        will-change: color, background-color, box-shadow, transform;
    }

    &:hover {
        transform: translate3d(0, 0.01rem, 0);
        color: $color--hovered;
        background-color: $background-color--hovered;
        box-shadow: var(--button-shadow-hovered);
    }

    &:active {
        --limel-clickable-transform-timing-function: cubic-bezier(
            0.83,
            -0.15,
            0.49,
            1.16
        );
        transform: translate3d(0, 0.05rem, 0);
        background-color: $background-color--inset;
        box-shadow: var(--button-shadow-inset-pressed);
    }

    &:hover,
    &:active {
        --limel-clickable-transition-speed: 0.2s;
        --limel-clickable-transform-speed: 0.16s;
    }
}

@mixin is-flat-clickable(
    $color: var(--mdc-theme-on-surface),
    $background-color: transparent,
    $color--hovered: var(--mdc-theme-on-surface),
    $background-color--hovered: var(--lime-elevated-surface-background-color)
) {
    transition: $clickable-normal-state-transitions;

    cursor: pointer;
    color: $color;
    background-color: $background-color;

    &:hover,
    &:focus,
    &:focus-visible {
        will-change: color, background-color, box-shadow, transform;
    }

    &:hover {
        transform: translate3d(0, 0.01rem, 0);
        color: $color--hovered;
        background-color: $background-color--hovered;
        box-shadow: var(--button-shadow-hovered);
    }

    &:active {
        --limel-clickable-transform-timing-function: cubic-bezier(
            0.83,
            -0.15,
            0.49,
            1.16
        );
        transform: translate3d(0, 0.05rem, 0);
        box-shadow: var(--button-shadow-pressed);
    }

    &:hover,
    &:active {
        --limel-clickable-transition-speed: 0.2s;
        --limel-clickable-transform-speed: 0.16s;
    }
}

@mixin is-flat-inset-clickable(
    $color: var(--mdc-theme-on-surface),
    $background-color: transparent,
    $color--hovered: var(--mdc-theme-on-surface),
    $background-color--hovered: var(--lime-elevated-surface-background-color),
    $background-color--inset: var(--mdc-theme-surface)
) {
    transition: $clickable-normal-state-transitions;

    cursor: pointer;
    color: $color;
    background-color: $background-color;

    &:hover,
    &:focus,
    &:focus-visible {
        will-change: color, background-color, box-shadow, transform;
    }

    &:hover {
        transform: translate3d(0, -0.04rem, 0);
        color: $color--hovered;
        background-color: $background-color--hovered;
        box-shadow: var(--button-shadow-hovered);
    }

    &:active {
        --limel-clickable-transform-timing-function: cubic-bezier(
            0.83,
            -0.15,
            0.49,
            1.16
        );
        transform: translate3d(0, 0.05rem, 0);
        background-color: $background-color--inset;
        box-shadow: var(--button-shadow-inset-pressed);
    }

    &:hover,
    &:active {
        --limel-clickable-transition-speed: 0.2s;
        --limel-clickable-transform-speed: 0.16s;
    }
}

@mixin clear-all-button() {
    // NOTE: you may need to specify "position: absolute" and align the position where you use this mixin
    @include is-flat-clickable(
        $background-color: rgb(var(--contrast-900)),
        $background-color--hovered: rgb(var(--contrast-1100))
    );

    cursor: pointer;

    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;

    background: {
        repeat: no-repeat;
        position: center;
        size: 0.75rem;
        image: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><defs/><path fill='rgb(255,255,255)' d='M7.219 5.781L5.78 7.22 14.563 16 5.78 24.781 7.22 26.22 16 17.437l8.781 8.782 1.438-1.438L17.437 16l8.782-8.781L24.78 5.78 16 14.563z'/></svg>");
    }
}

@mixin truncate-text() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/**
 * This mixin will mask out the content that is close to
 * the edges of a scrollable area.
 * - If the scrollable content has `overflow-y`, use `vertically`
 * as an argument for `$direction`.
 - If the scrollable content has `overflow-x`, use `horizontally`
 * as an argument for `$direction`.
 *
 * For the visual effect to work smoothly, we need to make sure that
 * the size of the fade-out edge effect is the same as the
 * internal paddings of the scrollable area. Otherwise, content of a
 * scrollable area that does not have a padding will fade out before
 * any scrolling has been done.
 * This is why this mixin already adds paddings, which automatically
 * default to the size of the fade-out effect.
 * This size defaults to `1rem`, but to override the size use
 * `--limel-top-edge-fade-height` & `--limel-bottom-edge-fade-height`
 * when `vertically` argument is set, and use
 * `--limel-left-edge-fade-width` & `--limel-right-edge-fade-width`
 * when `horizontally` argument is set.
 * Of course you can also programmatically increase and decrease the
 * size of these variables for each edge, based on the amount of
 * scrolling that has been done by the user. In this case, make sure
 * to add a custom padding where the mixin is used, to override
 * the paddings that are automatically added by the mixin in the
 * compiled CSS code.
 */
@mixin fade-out-overflowed-content-on-edges($direction) {
    @if $direction == vertically {
        --limel-overflow-mask-vertical: linear-gradient(
            to bottom,
            transparent 0%,
            black calc(0% + var(--limel-top-edge-fade-height, 1rem)),
            black calc(100% - var(--limel-bottom-edge-fade-height, 1rem)),
            transparent 100%
        );

        -webkit-mask-image: var(--limel-overflow-mask-vertical);
        mask-image: var(--limel-overflow-mask-vertical);

        padding-top: var(--limel-top-edge-fade-height, 1rem);
        padding-bottom: var(--limel-bottom-edge-fade-height, 1rem);
    } @else if $direction == horizontally {
        --limel-overflow-mask-horizontal: linear-gradient(
            to right,
            transparent 0%,
            black calc(0% + var(--limel-left-edge-fade-width, 1rem)),
            black calc(100% - var(--limel-right-edge-fade-width, 1rem)),
            transparent 100%
        );

        -webkit-mask-image: var(--limel-overflow-mask-horizontal);
        mask-image: var(--limel-overflow-mask-horizontal);

        padding-left: var(--limel-left-edge-fade-width, 1rem);
        padding-right: var(--limel-right-edge-fade-width, 1rem);
    } @else {
        @error "Please specify the direction #{$direction}!";
    }
}

@mixin hide-helper-line-when-not-needed($component-tag) {
    // This is when:
    // - the component is not focused, or
    // - an interactive element within the component is not focused, or
    // - the component is valid

    :host(#{$component-tag}:focus),
    :host(#{$component-tag}:focus-visible),
    :host(#{$component-tag}:focus-within),
    :host(#{$component-tag}[invalid]:not([invalid='false'])),
    :host(#{$component-tag}[invalid='true']) {
        --limel-h-l-grid-template-rows-transition-speed: 0.46s;
        --limel-h-l-grid-template-rows: 1fr;
    }

    :host(#{$component-tag}) {
        --limel-h-l-grid-template-rows-transition-speed: 0.3s;
        --limel-h-l-grid-template-rows: 0fr;
    }

    :host(#{$component-tag}:focus),
    :host(#{$component-tag}:focus-visible),
    :host(#{$component-tag}:focus-within),
    :host(#{$component-tag}:hover) {
        limel-helper-line {
            will-change: grid-template-rows;
        }
    }
}

/**
* This mixin will add an animated underline to the bottom of an `a` elements.
* Note that you may need to add `all: unset;` –depending on your use case–
* before using this mixin.
*/
@mixin hyperlink(
    $color: rgb(var(--color-blue-default)),
    $color--hovered: rgb(var(--color-blue-default))
) {
    position: relative;
    cursor: pointer;
    transition: color 0.2s ease;
    color: $color;

    &:before {
        transition:
            opacity 0.2s ease,
            transform 0.3s ease-out;
        content: '';
        position: absolute;
        inset: auto 0 0 0;
        width: calc(100% - 0.5rem);
        margin: auto;
        height: 0.125rem;
        border-radius: 1rem;

        background-color: currentColor;
        opacity: 0;
        transform: scale(0.6);
    }

    &:hover {
        color: $color--hovered;
        &:before {
            opacity: 0.3;
            transform: scale(1);
        }
    }
}

/**
* This mixin creates a cross-browser font stack.
* - `sans-serif` can be used for the UI of the components.
* - `monospace` can be used for code.
*
* ⚠️ If we change the font stacks, we need to update
* 1. the consumer documentation in `README.md`, and
* 2. the CSS variables of `--kompendium-example-font-family`
* in the `<style>` tag of `index.html`.
*/
@mixin font-family($letterform) {
    @if $letterform == sans-serif {
        font-family: ui-sans-serif, system-ui, sans-serif;
    } @else if $letterform == monospace {
        font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo,
            Consolas, 'DejaVu Sans Mono', monospace;
    } @else {
        @error "Please specify the font-family #{$letterform}!";
    }
}

/**
* This mixin is a hack, using old CSS syntax
* to enable you to truncate a piece of text,
* after a certain number of lines.
*/
@mixin truncate-text-on-line($max-lines) {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $max-lines;
}

// Hide element visually while keeping it accessible to assistive technologies
// See: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
// See: https://hugogiraudel.com/2016/10/13/css-hide-and-seek/
@mixin visually-hidden {
    position: absolute;
    width: 0;
    height: 0;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

// This mixin designed to enhance the visual effects,
// when the `tiltFollowingTheCursor` utility function from `3d-tilt-hover-effect.ts`
// is implemented in a component.
// This adds styles to a `<div class"limel-3d-hover-effect-glow" />`, needed to create
// a glow effect on a 3D element when the parent element is hovered.
// when the `tiltFollowingTheCursor` utility function from `3d-tilt-hover-effect.ts`
// Parts of these styles are controlled by the `titleFollowingTheCursor` function.
@mixin limel-3d-hover-effect-glow($the3dElement, $border-radius) {
    .limel-3d-hover-effect-glow {
        transition:
            background 0.4s ease,
            opacity 0.4s ease;
        pointer-events: none;

        position: absolute;
        inset: 0;
        border-radius: $border-radius;

        opacity: 0.1;
        #{$the3dElement}:hover & {
            opacity: 0.5;
            @media (prefers-reduced-motion) {
                opacity: 0.2;
            }
        }

        background-image: radial-gradient(
            circle at var(--limel-3d-hover-effect-glow-position, 50% -20%),
            rgb(var(--color-white), 0.3),
            rgb(var(--color-white), 0)
        );

        mix-blend-mode: plus-lighter;
    }
}

// These mixins below are designed to apply the necessary visual effects,
// when the `tiltFollowingTheCursor` utility function from `3d-tilt-hover-effect.ts`
// is implemented in a component.
@mixin parent-of-the-3d-element {
    isolation: isolate;
    transform-style: preserve-3d;

    perspective: 1000px;
    @media (prefers-reduced-motion) {
        perspective: 2000px;
    }
}

@mixin the-3d-element {
    position: relative;

    transition-duration: 0.8s;
    transition-property: transform, box-shadow, background-color;
    transition-timing-function: ease-out;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 0, 0deg);

    &:focus {
        outline: none;
    }

    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        will-change: background-color, box-shadow, transform;
    }

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
        transition-duration: 0.2s;
    }

    &:hover,
    &:focus-visible {
        box-shadow: var(--button-shadow-hovered), var(--shadow-depth-16);
    }

    &:hover {
        transform: scale3d(1.01, 1.01, 1.01)
            rotate3d(var(--limel-3d-hover-effect-rotate3d));
    }
    &:focus-visible {
        outline: none;
        transform: scale3d(1.01, 1.01, 1.01);
    }

    &:hover {
        limel-3d-hover-effect-glow {
            --limel-3d-hover-effect-glow-opacity: 0.5;
            @media (prefers-reduced-motion) {
                --limel-3d-hover-effect-glow-opacity: 0.2;
            }
        }
    }
}

@mixin the-3d-element--clickable {
    cursor: pointer;
    box-shadow: var(--button-shadow-normal);

    &:hover,
    &:focus-visible {
        // seems repetitive. But it's required for some scenarios, like for info tiles.
        box-shadow: var(--button-shadow-hovered), var(--shadow-depth-16);
    }

    &:active {
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 0, 0deg);
        box-shadow: var(--button-shadow-pressed);
    }

    &:focus-visible {
        box-shadow: var(--shadow-depth-8-focused), var(--button-shadow-hovered);
    }

    &:focus-visible:active {
        box-shadow: var(--shadow-depth-8-focused), var(--button-shadow-pressed);
    }
}
