@import './functions';
@import './mixins';

:root {
    // Good for buttons and clickables such as select dropdowns, or slider grabbers
    --button-shadow-normal: 0 #{pxToRem(1.5)} #{pxToRem(3.6)} 0
            rgba(0, 0, 0, 0.232),
        0 #{pxToRem(0.3)} #{pxToRem(0.9)} 0 rgba(0, 0, 0, 0.208);
    --button-shadow-hovered: 0 #{pxToRem(2)} #{pxToRem(6)} rgba(0, 0, 0, 0.15),
        0 #{pxToRem(6)} #{pxToRem(10)} rgba(0, 0, 0, 0.05);
    --button-shadow-pressed: 0 #{pxToRem(1)} #{pxToRem(3)} 0
            rgba(0, 0, 0, 0.132),
        0 #{pxToRem(0.3)} #{pxToRem(0.9)} 0 rgba(0, 0, 0, 0.108);
    --button-shadow-inset: 0 #{pxToRem(0.5)} #{pxToRem(3.5)} 0
            rgba(0, 0, 0, 0.132) inset,
        0 #{pxToRem(0.3)} #{pxToRem(0.9)} 0 rgba(0, 0, 0, 0.108) inset,
        0 0 #{pxToRem(4)} rgba(255, 255, 255, 0.9);
    --button-shadow-inset-pressed: 0 #{pxToRem(0.5)} #{pxToRem(5.5)} 0
            rgba(0, 0, 0, 0.132) inset,
        0 #{pxToRem(0.3)} #{pxToRem(1.9)} 0 rgba(0, 0, 0, 0.12) inset,
        0 0 #{pxToRem(3)} rgba(255, 255, 255, 0.9);

    // Good for Command bars, Command dropdowns, Context menus
    --shadow-depth-8: 0 #{pxToRem(3.2)} #{pxToRem(7.2)} 0 rgba(0, 0, 0, 0.132),
        0 #{pxToRem(0.6)} #{pxToRem(1.8)} 0 rgba(0, 0, 0, 0.108);

    // Like above but light source is below the element, good for bottom bars, etc...
    --shadow-depth-8-reversed: 0 #{pxToRem(-3.2)} #{pxToRem(7.2)} 0
            rgba(0, 0, 0, 0.132),
        0 #{pxToRem(-0.6)} #{pxToRem(1.8)} 0 rgba(0, 0, 0, 0.108);

    // Good for Teaching callouts, Search results dropdown, cards, Tooltips
    --shadow-depth-16: 0 #{pxToRem(6.4)} #{pxToRem(14.4)} 0 rgba(0, 0, 0, 0.132),
        0 #{pxToRem(1.2)} #{pxToRem(3.6)} 0 rgba(0, 0, 0, 0.108);

    // Good for Pop up dialogs
    --shadow-depth-64: 0 #{pxToRem(25.6)} #{pxToRem(57.6)} 0 rgba(0, 0, 0, 0.22),
        0 #{pxToRem(4.8)} #{pxToRem(14.4)} 0 rgba(0, 0, 0, 0.18);
}
