$zIndexDialogs: 20;

$mdc-theme-primary: #00a69c;
$mdc-theme-secondary: #212121;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;

$mdc-typography-font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;

$mdc-typography-styles-headline1: (
    font-size: 9.6rem,
    line-height: 9.6rem
);
$mdc-typography-styles-headline2: (
    font-size: 6.0rem,
    line-height: 6.0rem
);
$mdc-typography-styles-headline3: (
    font-size: 4.8rem,
    line-height: 5.0rem
);
$mdc-typography-styles-headline4: (
    font-size: 3.4rem,
    line-height: 4.0rem
);
$mdc-typography-styles-headline5: (
    font-size: 2.4rem,
    line-height: 3.2rem
);
$mdc-typography-styles-headline6: (
    font-size: 2.0rem,
    line-height: 3.2rem
);
$mdc-typography-styles-subtitle1: (
    font-size: 1.4rem,
    line-height: 2.8rem
);
$mdc-typography-styles-subtitle2: (
    font-size: 1.4rem,
    line-height: 2.2rem
);
$mdc-typography-styles-body1: (
    font-size: 1.6rem,
    line-height: 2.4rem
);
$mdc-typography-styles-body2: (
    font-size: 1.4rem,
    line-height: 2.0rem
);
$mdc-typography-styles-caption: (
    font-size: 1.2rem,
    line-height: 2.0rem
);
$mdc-typography-styles-button: (
    font-size: 1.4rem,
    line-height: 3.6rem,
    text-transform: none,
);
$mdc-typography-styles-overline: (
    font-size: 1.2rem,
    line-height: 3.2rem
);
