.node {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 1rem;
    min-width: 12rem;
}

.flex-1 {
    flex: 1;
}

.field {
    min-width: 8rem;
}

.no-wrap {
    flex-wrap: nowrap;
}

:host {
    position: relative;

    .nested-nodes {
        position: relative;
        padding-left: 1rem;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            border-top: 1px solid #ccc;
            height: 50%;
            width: 1em;
        }
    }

    .child-node {
        position: relative;
        margin-left: 1rem;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -1rem;
            border-top: 1px solid #ccc;
            height: 50%;
            width: 1em;
        }
    }

    .first-node {
        padding-left: 1rem;
        padding-bottom: 0.5rem;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            height: 50%;
            width: 1em;
        }
    }

    .second-node {
        padding-left: 1rem;
        padding-top: 0.5rem;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 50%;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            height: 50%;
            width: 1em;
        }
    }
}
