@import '../../style/variables';

$mdc-textarea-background: $mdc-theme-background;
// $mdc-textarea-disabled-background: $mdc-theme-background;

$mdc-text-field-background: $mdc-theme-background;
// $mdc-text-field-disabled-background: $mdc-theme-background;

$mdc-text-field-bottom-line-idle: $lime-text-field-bottom-line-color;
$mdc-text-field-bottom-line-hover: $lime-text-field-bottom-line-color;
$mdc-text-field-fullwidth-bottom-line-color: $lime-text-field-bottom-line-color;

@import '@lime-material/textfield/mdc-text-field';
@import '@lime-material/ripple/mdc-ripple';
@import '@lime-material/list/mdc-list';
@import '@lime-material/elevation/mdc-elevation';
@import "@lime-material/menu-surface/mdc-menu-surface";

/**
 * @prop --background-color: Background color of the field.
 */

:host {
    display: block;
}

:host([hidden]) {
    display: none;
}

.mdc-text-field {
    width: 100%;
    @include mdc-states-hover-opacity(0);
    @include mdc-states-focus-opacity(0, true);
}

.mdc-text-field__formatted_input {
    display: None;
}

:not(.mdc-text-field--focused):not(.mdc-text-field--invalid) {
    .mdc-text-field__formatted_input {
        color: rgba(0, 0, 0, 0.87);
        font-weight: 400;
        left: 1.2rem;
        line-height: 2.8rem;
        position: absolute;
        top: 2rem;
        z-index: 1;
        display: block;
    }

    .mdc-text-field__input[type='number'] {
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
}

.mdc-text-field--disabled {
    .mdc-text-field__formatted_input {
        color: rgba(0, 0, 0, 0.37);
    }
}

.autocomplete-list-container {
    position: relative;
}

.autocomplete-list {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 20rem;
    overflow-y: auto;
}

.mdc-list-item {
    cursor: pointer;
}

.mdc-text-field__icon {
    width: 2.4rem;
    height: 2.4rem;
}
