@import '../../style/internal/mdc-variables';

$mdc-textarea-background: $mdc-theme-background;
// $mdc-textarea-disabled-background: $mdc-theme-background;

$mdc-text-field-background: $mdc-theme-background;
// $mdc-text-field-disabled-background: $mdc-theme-background;

$mdc-text-field-bottom-line-idle: $lime-text-field-bottom-line-color;
$mdc-text-field-bottom-line-hover: $lime-text-field-bottom-line-color;
$mdc-text-field-fullwidth-bottom-line-color: $lime-text-field-bottom-line-color;

@import '@limetech/mdc-textfield/mdc-text-field';
@import '@limetech/mdc-ripple/mdc-ripple';
@import '@limetech/mdc-list/mdc-list';
@import '@limetech/mdc-elevation/mdc-elevation';
@import "@limetech/mdc-menu-surface/mdc-menu-surface";

/**
 * @prop --background-color: Background color of the field.
 * @prop --textarea-height: Height of the field when type is set to `textarea`
 */

:host {
    display: block;
}

:host([hidden]) {
    display: none;
}

.mdc-text-field {
    width: 100%;
    @include mdc-states-hover-opacity(0);
    @include mdc-states-focus-opacity(0, true);
}

.mdc-text-field__formatted_input {
    display: None;
}

:not(.mdc-text-field--focused):not(.mdc-text-field--invalid) {
    .mdc-text-field__formatted_input {
        color: rgba(0, 0, 0, 0.87);
        font-weight: 400;
        left: pxToRem(12);
        line-height: pxToRem(28);
        position: absolute;
        top: pxToRem(20);
        z-index: 1;
        display: block;
    }

    .mdc-text-field__input[type='number'] {
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
}

.mdc-text-field--disabled {
    .mdc-text-field__formatted_input {
        color: rgba(0, 0, 0, 0.37);
    }
}

.autocomplete-list-container {
    position: relative;
}

.autocomplete-list {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: pxToRem(200);
    overflow-y: auto;
}

.mdc-list-item {
    cursor: pointer;
}

.mdc-text-field__icon {
    width: pxToRem(24);
    height: pxToRem(24);
}

.mdc-text-field.mdc-text-field--textarea {
    textarea {
        height: var(--textarea-height);
    }
}
