@use '../../style/internal/z-index';
@use '../../style/functions';
@use '../../style/internal/shared_input-select-picker';
@use '../../style/mixins';

@use '../../style/internal/lime-theme';

@use '@material/textfield';
@use '@material/textfield/icon';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/floating-label';
@use '@material/floating-label/mdc-floating-label';
@use '@material/ripple';
@use '@material/list';
@use '@material/elevation';
@use '@material/menu-surface';

/**
 * @prop --textarea-height: Height of the field when type is set to `textarea`
 */

:host {
    position: relative;
    display: block;
}

:host([hidden]) {
    display: none;
}

:host([type='textarea']) {
    height: var(--textarea-height, 100%);

    .mdc-text-field.mdc-text-field--textarea {
        height: var(--textarea-height, 100%);

        .mdc-text-field__input {
            margin-top: functions.pxToRem(8);
            margin-bottom: 0;
        }

        &.has-helper-line {
            --heightOfHelperText: 0.9375rem;
            height: calc(
                var(--textarea-height, 100%) - var(--heightOfHelperText)
            );
        }
    }
}

@include textfield.core-styles;
@include icon.icon-core-styles;

@include shared_input-select-picker.outlined-style-overrides;
@include shared_input-select-picker.readonly-overrides;
@include shared_input-select-picker.cropped-label-hack;
@include shared_input-select-picker.disabled-overrides;
@include shared_input-select-picker.leading-icon;
@include shared_input-select-picker.trailing-icon;

.mdc-text-field--with-trailing-icon {
    .mdc-text-field__icon--trailing {
        margin-right: functions.pxToRem(8);
    }
}

.mdc-text-field {
    width: 100%;
}

.lime-empty-value-for-readonly {
    width: calc(100% - #{functions.pxToRem(20)});
    z-index: z-index.$input-field--formatted-value;
}

.lime-looks-like-input-value {
    @include shared_input-select-picker.looks-like-input-value;

    .mdc-text-field--disabled & {
        @include shared_input-select-picker.looks-disabled;
    }
}

.lime-formatted-input {
    width: calc(100% - #{functions.pxToRem(20)});
    z-index: z-index.$input-field--formatted-value;

    display: none;
    :not(.mdc-text-field--focused):not(.mdc-text-field--invalid) & {
        display: block;
    }

    + .mdc-text-field__input {
        z-index: z-index.$input-field--input-with-formatted-value;
    }
}

:not(.mdc-text-field--focused):not(.mdc-text-field--invalid) {
    .mdc-text-field__input[type='number'] {
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
}

.autocomplete-list-container {
    position: relative;
}

.autocomplete-list {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: functions.pxToRem(200);
    overflow-y: auto;
}

.mdc-deprecated-list-item {
    cursor: pointer;
}

input.mdc-text-field__input {
    &::-webkit-search-cancel-button {
        @include mixins.clear-all-button;

        -webkit-appearance: none;

        position: absolute;
        right: functions.pxToRem(8);
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.mdc-text-field {
    &:not(.mdc-text-field--disabled) .mdc-text-field-character-counter,
    &:not(.mdc-text-field--disabled)
        + .mdc-text-field-helper-line
        .mdc-text-field-character-counter,
    &:not(.mdc-text-field--disabled)
        + .mdc-text-field-helper-line
        .mdc-text-field-helper-text {
        color: shared_input-select-picker.$helper-text-color;
    }
}

.mdc-text-field-character-counter {
    transition: opacity 0.2s ease;
    opacity: 0;

    .mdc-text-field--focused + .mdc-text-field-helper-line & {
        opacity: 1;
    }

    &:before {
        height: shared_input-select-picker.$height-of-helper-text-pseudo-before;
    }
}

.mdc-text-field-helper-text {
    &:before {
        height: shared_input-select-picker.$height-of-helper-text-pseudo-before;
    }
}

@import './partial-styles/trailing-icon.scss';
@import './partial-styles/readonly';
