:host {
    display: block;
    width: 100%;
    height: 100%;
}

.custom-component {
    position: relative;
    width: 100%;
    height: 100%;
}

.label {
    display: inline-block;

    z-index: 1;
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;

    border-radius: 0.25rem;
    width: fit-content;
    padding: 0 0.25rem;
    background-color: rgba(var(--contrast-300), 0.9);
    color: rgb(var(--contrast-1100));

    font-size: var(--limel-theme-default-font-size);
}

iframe {
    z-index: 0;
    position: relative;
    border: 0;
    width: 100%;
    height: 100%;
}
