.lime-green {
    limel-icon {
        color: var(--lime-green);
    }
}

.loving-magenta {
    limel-icon {
        color: var(--lime-magenta);
    }
}

.simply-blue {
    limel-icon {
        color: var(--lime-blue);
    }
}

.sellable-orange {
    limel-icon {
        color: var(--lime-orange);
    }
}

.custom-size {
    limel-icon {
        height: 10rem;
        width: 10rem;
    }
}
