:host(limel-example-card-nested-component) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

limel-slider {
    width: 100%;
}

limel-action-bar {
    --action-bar-background-color: transparent;
}

:host(limel-example-card-nested-component.on-pink-background) {
    --lime-primary-color: rgb(var(--color-purple-default));

    limel-action-bar {
        --action-bar-item-text-color: rgb(var(--color-white));
    }
}
