@use '../../../style/mixins';

:host {
    @include mixins.is-resizable(
        $direction: both,
        $min-width: 10rem,
        $width: 20rem,
        $min-height: 5rem,
        $height: auto
    );
    display: block;
}

:host(limel-example-card-orientation),
:host(limel-example-card-slot),
:host(limel-example-card-styling) {
    width: 100%;
}
