limel-flex-container {
    margin-bottom: 1.25rem;

    &.container {
        height: 37.5rem;
        border: 0.0625rem solid var(--lime-dark-grey);
        border-radius: 0.1875rem;
    }

    div {
        display: block;
        padding: 1.5625rem 3.125rem;

        text-align: center;
        color: white;
        font-size: 1.25rem;
        line-height: 0;

        &:nth-child(1) {
            background-color: rgb(var(--color-coral-light));
            padding: 0.78125rem 3.125rem;
        }
        &:nth-child(2) {
            background-color: rgb(var(--color-amber-default));
            padding: 3.125rem;
        }
        &:nth-child(3) {
            background-color: rgb(var(--color-green-light));
        }
        &:nth-child(4) {
            background-color: rgb(var(--color-sky-light));
            padding: 1.5625rem 6.25rem;
        }
        &:nth-child(5) {
            background-color: rgb(var(--color-magenta-default));
            padding: 1.5625rem;
        }
    }
}
