@import '../../../style/mixins';
@import '../../../style/functions';

:host {
    width: 100%;
    overflow-y: clip;

    --step-height: 2.5rem;
    --step-background--active: var(--progress-flow-active-step-background-color, var(--mdc-theme-primary));
    --step-background--inactive: var(--progress-flow-inactive-step-background-color, rgb(var(--contrast-600)));
    --step-background--passed: var(--progress-flow-passed-step-background-color, var(--step-background--active));
    --progress-flow-step-divider-color: rgb(var(--contrast-100));
}

.btn-flow {
    transition: background-color 0.2s ease;
    position: relative;
    width: 100%;
    height: var(--step-height);
    border: none;
    background-color: var(--step-background--inactive);
    z-index: 2;
    font-size: pxToRem(14);

    &:not(.active) {
        cursor: pointer;

        &:hover {
            filter: brightness(1.05);
        }
    }

    &:not(.end-phase, .first) {
        padding-left: var(--step-height);
    }

    &:not(.end-phase, .last) {
        &:after {
            transition: background-color 0.2s ease;
            border-top: solid pxToRem(2) var(--progress-flow-step-divider-color);
            border-right: solid pxToRem(2) var(--progress-flow-step-divider-color);

            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: calc(var(--step-height) / 2 * -1);
            bottom: 0;
            margin: auto;
            width: var(--step-height);
            height: var(--step-height);
            background-color: var(--step-background--inactive);
            border-radius: 0 pxToRem(6) 0 0;
            transform: rotate(45deg);
            z-index: -1;
        }
    }

    &.end-phase {
        border-radius: pxToRem(4);
        padding: 0 pxToRem(12);
    }
    &.active {
        color: var(--mdc-theme-on-primary);
        background-color: var(--step-background--active);
        &:after {
            background-color: var(--step-background--active);
        }
    }
    &.passed-phase {
        color: var(--mdc-theme-on-primary);
        background-color: var(--step-background--passed);
        &:after {
            background-color: var(--step-background--passed);
        }
    }
    &.first {
        border-top-left-radius: var(--step-height);
        border-bottom-left-radius: var(--step-height);
        padding-left: pxToRem(20);
    }
    &.last {
        border-top-right-radius: var(--step-height);
        border-bottom-right-radius: var(--step-height);
        padding-right: pxToRem(20);
    }
}

.btn-flow-text {
    width: 100%;
    @include truncate-text();
}
