@import '../../../style/mixins';
@import '../../../style/functions';

:host {
    width: 100%;
    overflow-y: clip;

    --progress-flow-step-height: 2.5rem;
    --progress-flow-active-step-divider-color: rgb(var(--contrast-100));
    --progress-flow-active-step-background-color: var(--mdc-theme-primary);
    --progress-flow-inactive-step-background-color: rgb(var(--contrast-600));
    --progress-flow-inactive-step-background-color--hover: rgb(var(--contrast-400));
}

.btn-flow {
    transition: background-color 0.2s ease;
    position: relative;
    width: 100%;
    height: var(--progress-flow-step-height);
    border: none;
    background-color: var(--progress-flow-inactive-step-background-color);
    z-index: 2;
    font-size: pxToRem(14);

    &:not(.active) {
        cursor: pointer;

        &:hover {
            &,
            &::after {
                transition: background-color 0.2s ease;
                background-color: var(--progress-flow-inactive-step-background-color--hover);
            }
        }
    }

    &:not(.end-phase, .first) {
        padding-left: var(--progress-flow-step-height);
    }

    &:not(.end-phase, .last) {
        &:after {
            border-top: solid pxToRem(2) var(--progress-flow-active-step-divider-color);
            border-right: solid pxToRem(2) var(--progress-flow-active-step-divider-color);

            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: calc(var(--progress-flow-step-height) / 2 * -1);
            bottom: 0;
            margin: auto;
            width: var(--progress-flow-step-height);
            height: var(--progress-flow-step-height);
            background-color: inherit;
            border-radius: 0 pxToRem(6) 0 0;
            transform: rotate(45deg);
            z-index: -1;
        }
    }

    &.end-phase {
        border-radius: pxToRem(4);
        padding: 0 pxToRem(12);
    }
    &.active {
        color: var(--mdc-theme-on-primary);
        background-color: var(--progress-flow-active-step-background-color);
    }
    &.first {
        border-top-left-radius: var(--progress-flow-step-height);
        border-bottom-left-radius: var(--progress-flow-step-height);
        padding-left: pxToRem(20);
    }
    &.last {
        border-top-right-radius: var(--progress-flow-step-height);
        border-bottom-right-radius: var(--progress-flow-step-height);
        padding-right: pxToRem(20);
    }
}

.btn-flow-text {
    width: 100%;
    @include truncate-text();
}
