@import '../../../style/mixins';
@import '../../../style/functions';
@import './partial-styles/_active-indicator';
@import './partial-styles/_colors';

:host {
    width: 100%;

    --step-height: 2.5rem;
    --step-background--inactive: var(
        --progress-flow-step-background-color--inactive,
        rgb(var(--contrast-600))
    );
    --step-background--active: var(
        --progress-flow-step-background-color--active,
        var(--mdc-theme-primary)
    );
    --step-background--passed: var(
        --progress-flow-step-background-color--passed,
        var(--step-background--active)
    );

    --step-text--inactive: var(
        --progress-flow-step-text-color--inactive,
        rgb(var(--contrast-1200))
    );
    --step-text--active: var(
        --progress-flow-step-text-color--active,
        var(--mdc-theme-on-primary)
    );
    --step-text--passed: var(
        --progress-flow-step-text-color--passed,
        var(--mdc-theme-on-primary)
    );

    --step-divider-color: var(
        --progress-flow-step-divider-color,
        rgb(var(--contrast-100))
    );

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.btn-flow {
    transition: background-color 0.2s ease;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: var(--step-height);
    border: none;
    font-size: pxToRem(14);

    &:focus {
        outline: none;
    }

    &:focus-visible {
        box-shadow: var(--shadow-depth-8-focused);
    }

    &:not(.active) {
        &:not(.disabled) {
            cursor: pointer;
            &:hover {
                filter: brightness(1.05);
            }
        }
    }

    &:not(.off-progress-step, .first) {
        padding-left: calc(var(--step-height) / 2);
    }

    &:not(.off-progress-step, .last) {
        .btn-flow-divider {
            &:after {
                content: '';
            }
        }
    }

    &.off-progress-step {
        border-radius: pxToRem(4);
        padding: 0 pxToRem(12);

        .btn-flow-icon {
            margin-left: 0;
        }
    }
    &.first {
        border-top-left-radius: var(--step-height);
        border-bottom-left-radius: var(--step-height);
        padding-left: pxToRem(20);
    }
    &.last {
        border-top-right-radius: var(--step-height);
        border-bottom-right-radius: var(--step-height);
        padding-right: pxToRem(20);
    }
}

.btn-flow-divider {
    height: var(--step-height);
    overflow-y: clip;
    position: absolute;
    right: 0;
    z-index: -1;

    &:after {
        box-sizing: border-box;
        transition: background-color 0.2s ease;
        border: {
            style: solid;
            width: pxToRem(2) pxToRem(2) 0 0;
        }

        display: block;
        position: absolute;
        top: 0;
        right: calc((var(--step-height) / 2 * -1) + var(--progress-flow-gap));
        bottom: 0;
        margin: auto;

        width: calc(var(--step-height) * 0.9);
        height: calc(var(--step-height) * 0.9);
        border-radius: 0 pxToRem(6) 0 0;
        transform: rotate(45deg);
    }
}

.btn-flow-text,
.btn-flow-seconday-text {
    @include truncate-text();
    max-width: pxToRem(156);
}

.btn-flow-seconday-text {
    font-size: pxToRem(12);
    text-align: center;
    margin: auto;
}

.btn-flow-icon {
    margin: 0 pxToRem(8) 0 pxToRem(4);
}
