@import '../../style/functions';
@import '../../style/mixins';
@import '../../style/internal/variables';

@import './partial-styles/ui-controls.scss';


:host {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

img,
video,
audio,
object[type='application/pdf'],
object[type='text/plain'] {
    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

img {
    min-width: pxToRem(100);
    object-fit: contain; // increases or decreases the size of the image to fill the box whilst preserving its aspect-ratio.
}

video {
    width: 100%;
    height: auto;
}

audio {
    width: 100%;
}

object[type='application/pdf'] {
    width: 100%;
    height: 100%;
    min-height: pxToRem(300); // makes sure to get browsers' native controls for the PDF
}

object[type='text/plain'] {
    border-radius: pxToRem(4);
    padding: pxToRem(12) $size-of-buttons pxToRem(12) pxToRem(12);

    width: 100%;
    height: 100%;
    overflow-y: auto;

    color: rgb(var(--contrast-1300));
    background-color: rgb(var(--contrast-200));
}


:host(:fullscreen) {
    background-color: rgb(var(--color-gray-darker));

    object[type='text/plain'] {
        max-width: pxToRem(800);
        max-height: calc(100% - 2rem)
    }
}
