@use '../../style/internal/lime-theme';
@use '@material/checkbox';
@use '@material/form-field';

:host {
    --mdc-checkbox-checked-color: var(--mdc-theme-primary);
}

@include checkbox.core-styles;
@include form-field.core-styles;

.mdc-form-field {
    display: flex;

    .mdc-checkbox {
        &.mdc-checkbox--invalid {
            .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate)
                ~ .mdc-checkbox__background {
                border-color: var(--lime-error-text-color);
            }
        }
        &.mdc-ripple-upgraded {
            .mdc-checkbox__native-control {
                &:focus-visible {
                    + .mdc-checkbox__background {
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: -0.75rem;
                            right: -0.75rem;
                            bottom: -0.75rem;
                            left: -0.75rem;
                            border-radius: 50%;
                            box-shadow: var(--shadow-depth-8-focused);
                        }
                    }
                }
            }
        }
    }

    label {
        cursor: pointer;
        line-height: normal;
        padding-left: 0;

        &.mdc-checkbox--disabled {
            opacity: 0.37;
        }

        &.mdc-checkbox--required::after {
            margin-left: 0.0625rem;
            content: '*';
        }

        &.mdc-checkbox--invalid {
            color: var(--lime-error-text-color);
        }
    }
}

.mdc-form-field {
    .mdc-checkbox {
        &.mdc-ripple-upgraded {
            .mdc-checkbox__ripple {
                &:before {
                    animation: fade-out-focus-style 1s ease forwards;
                }
            }
        }
    }
}

@keyframes fade-out-focus-style {
    0% {
        opacity: 0.12; // What Material Design sets
    }
    100% {
        opacity: 0; // What we like it to become, a moment after it gets focused
    }
}
