@use '../../style/internal/z-index';
@use '../../style/functions';

.limel-popover-surface {
    position: relative;
    display: flex;
    flex-direction: column;

    width: var(--popover-surface-width, auto);
    max-height: calc(100vh - 2rem);
    max-width: calc(100vw - 2rem);
    margin: 0 0.25rem;

    border-radius: var(--popover-border-radius, functions.pxToRem(12));
    box-shadow: var(--shadow-depth-16);

    backdrop-filter: blur(functions.pxToRem(5));
    -webkit-backdrop-filter: blur(functions.pxToRem(5));

    &:after {
        // allows using `--popover-body-background-color` while
        // getting the blurred backdrop effect
        transition: opacity 0.4s ease;
        pointer-events: none;

        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: z-index.$popover-before;

        opacity: 0.75;

        border-radius: var(--popover-border-radius, functions.pxToRem(12));
        background-color: var(
            --popover-body-background-color,
            rgb(var(--contrast-100))
        );
    }

    &:focus,
    &:focus-within {
        outline: none;

        &:after {
            opacity: 1;
        }
    }

    &:focus-visible {
        // only when non-pointer input is being used,
        // e.g. tabbed into using keyboard
        box-shadow: var(--shadow-depth-16-focused);
    }
}
