@import '../../style/functions';

.limel-popover-surface {
    position: relative;
    display: flex;
    flex-direction: column;

    width: var(--popover-surface-width, auto);
    max-height: calc(100vh - 2rem);
    max-width: calc(100vw - 2rem);

    border-radius: var(--popover-border-radius, pxToRem(12));
    box-shadow: var(--shadow-depth-16);
    background-color: var(
        --popover-body-background-color,
        rgb(var(--contrast-100))
    );
}
