@import '../../style/functions';
$size-of-arrow: pxToRem(10);

:host {
    display: block;
    filter: drop-shadow(0 pxToRem(4) pxToRem(4) rgba(var(--color-black), 0.4));

    &:before {
        content: '';
        visibility: hidden;

        transform: rotate(45deg);
        position: absolute;
        width: $size-of-arrow;
        height: $size-of-arrow;
        margin: auto;
        background-color: var(
            --popover-body-background-color,
            rgb(var(--contrast-100))
        );
    }
}

:host(.has-arrow) {
    &:before {
        visibility: visible;
    }
}

.limel-popover-surface {
    position: relative;
    display: flex;
    flex-direction: column;

    width: var(--popover-surface-width, auto);
    max-height: calc(100vh - 2rem);
    max-width: calc(100vw - 2rem);

    border-radius: pxToRem(7);
    background-color: var(
        --popover-body-background-color,
        rgb(var(--contrast-100))
    );
}
