/**
 * @private
 *
 * @prop --example-controls-gap: Column gap between items. Defaults to `1rem`.
 * Row gap is fixed at `0.25rem`.
 */

:host(limel-example-controls) {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem var(--example-controls-gap, 1rem);
    align-items: center;

    margin: 1rem 0 0 0;
    padding: 0.5rem 0.75rem;
    border: rgb(var(--contrast-700), 0.5) 1px dashed;
    border-radius: 1rem;

    background-color: rgb(var(--contrast-500), 0.6);
}
