@use './example-value';
@use '../style/functions';

.events-display {
    max-height: 20rem;
    overflow: auto;
}

h5 {
    margin: 0;
}

details {
    font-size: functions.pxToRem(14);
}

summary {
    cursor: pointer;
}

code {
    font-size: functions.pxToRem(10);
}
