/**
 * @prop --example-controls-max-columns-width: Defines maximum width of columns. Defaults to `6rem`.
 * @prop --example-controls-column-layout: Defines how columns take up the available space. By default, it is set to be `auto-fill`, which fills the row with as many columns as it can. But it can also be set it to `auto-fit` stretches the columns to occupy all the available space.
 */

:host(limel-example-controls) {
    display: flex;
    flex-wrap: wrap;

    gap: 0.25rem 1.5rem;
    align-items: center;

    margin: 1rem 0 0 0;
    padding: 0.5rem 0.75rem;
    border: rgb(var(--contrast-700), 0.5) 1px dashed;
    border-radius: 1rem;

    background-color: rgb(var(--contrast-500), 0.6);
}
