@use '../style/functions';

code {
    font-family: 'Source Code Pro', monospace;
    font-size: functions.pxToRem(12);

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    display: inline-block;
    border-radius: functions.pxToRem(3);
    padding: functions.pxToRem(1) functions.pxToRem(5);
    color: rgb(var(--kompendium-contrast-1300));
    background-color: rgb(var(--kompendium-contrast-600));
}

pre > code {
    display: block;
    border-radius: functions.pxToRem(8);
    margin: functions.pxToRem(8) 0;
    padding: functions.pxToRem(16);
    overflow: auto;
    white-space: pre-wrap;

    color: rgb(var(--kompendium-contrast-800));
    background-color: rgb(var(--kompendium-contrast-1600));
}
