@use 'prismjs/themes/prism';

.example {
    border: 1px solid #ced4de;
    border-bottom-width: 0;
    border-radius: 5px 5px 0 0;
    padding: 1.5em;
}

@media (min-width: 420px) {
    .example {
        padding: 2em;
    }
}

.code {
    border: 1px solid #ced4de;
    border-bottom-width: 0;
    margin: 0;
    overflow: hidden;

    &:first-child {
        border-radius: 5px 5px 0 0;
    }

    &:last-child {
        border-bottom-width: 1px;
        border-radius: 0 0 5px 5px;
    }
}

.hidden {
    display: none;
}
