@use '../style/functions';

limel-flex-container {
    margin-top: functions.pxToRem(20);
    flex-wrap: wrap;
}

limel-switch {
    height: functions.pxToRem(48);
    margin-right: functions.pxToRem(15);
}
