@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

h2 {
    margin: 50px 0 20px;
    line-height: 1.5em;
    font-size: 32px;
    font-weight: 400;
}

.bxmZti {
    padding: 0;

    .fsncwJ {
        // Markdown generated tables
        padding: 0;
        display: table;
    }
}

.bxmZti table.fsncwJ,
table {
    font-family: "Source Sans Pro",sans-serif;
    width: 100%;
    padding: 0;
    margin-bottom: 50px;

    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;
    border-radius: 4px;

    color: var(--contrast-1400);
    -webkit-font-smoothing: antialiased;
    background-color: var(--contrast-200);
    box-shadow: 0 0 0 1px var(--contrast-400);

    thead {
        border-radius: 4px 4px 0 0;
        border-bottom: 1px solid var(--contrast-400);
        color: var(--contrast-900);
        font-weight: 400;
        background: var(--contrast-200);

        th {
            text-align: left;
            padding: 4px 8px 4px 12px;
            font-size: 14px;
            line-height: normal;

            &:first-child {
                border-top-left-radius: 4px;
            }

            &:last-child {
                border-top-right-radius: 4px;
            }
        }
    }

    tbody {
        td {
            padding: 8px 12px 12px 12px;
            vertical-align: top;
            font-size: 14px;
            line-height: normal;
        }
        tr {
            display: table-row;
            border: none; // only for markdown generated tables
            &:nth-child(odd) {
                background-color: var(--contrast-300);
            }
            &:last-child {
                td {
                    &:first-child {
                        border-bottom-left-radius: 4px;
                    }
                    &:last-child {
                        border-bottom-right-radius: 4px;
                    }
                }
            }
        }
    }
}

.bxmZti table,
code.hwCYSS,
table code,
code {
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
    background-color: var(--contrast-600);
    color: var(--contrast-1300);
    border-radius: 3px;
    padding: 1px 5px;
    font-size: 11px;
}
