@use '../../style/functions';

@use '../../style/internal/lime-theme';

@use '@material/dialog';

/**
 * @prop --dialog-width: Width of the dialog.
 * @prop --dialog-height: Height of the dialog.
 * @prop --dialog-z-index: z-index of the dialog container, including the scrim.
 * @prop --dialog-heading-title-color: Color of the title.
 * @prop --dialog-heading-subtitle-color: Color of the subtitle.
 * @prop --dialog-heading-supporting-text-color: Color of the supporting text.
 * @prop --dialog-heading-icon-color: Color of the icon.
 * @prop --dialog-heading-icon-background-color: Background color of the icon when displayed as a badge.
 */

:host {
    --dialog-background-color: rgb(var(--contrast-100));
    --header-heading-color: var(--dialog-heading-title-color);
    --header-subheading-color: var(--dialog-heading-subtitle-color);
    --header-supporting-text-color: var(--dialog-heading-supporting-text-color);
    --header-icon-color: var(--dialog-heading-icon-color);
    --header-icon-background-color: var(--dialog-heading-icon-background-color);
}

@include dialog.core-styles;

.mdc-dialog {
    @include dialog.max-width(16000px, dialog.$margin);

    z-index: var(--dialog-z-index, dialog.$z-index);

    &.full-screen {
        @include dialog.max-height(16000px, dialog.$margin);
        .mdc-dialog__container {
            height: 100%;
            width: 100%;

            .mdc-dialog__surface {
                height: 100%;
                width: 100%;
            }
        }
    }
    .mdc-dialog__container {
        height: 100%;
    }

    .mdc-dialog__surface {
        width: var(--dialog-width, auto);
        height: var(--dialog-height, auto);
        background-color: var(--dialog-background-color);
        box-shadow: var(--shadow-depth-64);
    }
}

.scrollbox {
    --dialog-background-color-transparent: rgba(var(--contrast-100), 0);
    --dialog-scroll-shadow-color: rgba(var(--color-black), 0.2);
    --dialog-scroll-shadow-color-transparent: rgba(var(--color-black), 0);

    // Credit to the ever fantastic Lea Verou!
    // http://lea.verou.me/2012/04/background-attachment-local/

    /* prettier-ignore */
    background:
        /* Shadow covers */
        linear-gradient(
            var(--dialog-background-color) 30%,
            var(--dialog-background-color-transparent)
        ),
        linear-gradient(
            var(--dialog-background-color-transparent),
            var(--dialog-background-color) 70%
        )
        0 100%,

        /* Shadows */
        radial-gradient(
            farthest-side at 50% 0,
            var(--dialog-scroll-shadow-color),
            var(--dialog-scroll-shadow-color-transparent)
        ),
        radial-gradient(
            farthest-side at 50% 100%,
            var(--dialog-scroll-shadow-color),
            var(--dialog-scroll-shadow-color-transparent)
        )
        0 100%;

    background-repeat: no-repeat;
    background-color: var(--dialog-background-color);
    background-size: 100% functions.pxToRem(40), 100% functions.pxToRem(40),
        100% functions.pxToRem(14), 100% functions.pxToRem(14);

    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}

#initialFocusElement {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

slot[name='header'] {
    display: none;
}

slot[name='button'] {
    display: flex;
    gap: 0.5rem; // Makes sure buttons get some default distance
    width: 100%;
    justify-content: flex-end;
}
