@import '../../../style/functions';

.custom-made-button {
    box-sizing: border-box;
    position: relative;

    display: inline-block;
    border: none;
    border-radius: pxToRem(8);

    height: pxToRem(40);
    line-height: pxToRem(40);
    padding: 0 pxToRem(16);
    margin: 0 pxToRem(6);

    font-size: pxToRem(16);
    background-color: #fff;
    box-shadow: 0 #{pxToRem(1.5)} #{pxToRem(3.6)} 0 rgba(0, 0, 0, 0.232),
        0 #{pxToRem(0.3)} #{pxToRem(0.9)} 0 rgba(0, 0, 0, 0.208);

    cursor: pointer;

    &:after {
        content: '12';
        font-size: pxToRem(8);
        position: absolute;
        right: pxToRem(-12);
        width: pxToRem(12);
        background-color: #b2ebf2;
    }

    &:first-of-type {
        margin-left: 0;
    }
}
