* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

limel-switch {
    margin-top: 0.25rem;

    &:not(:last-child) {
        margin-bottom: 0.75rem;
    }
}

.action-bar {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: flex-end;
}

hr {
    opacity: 0.1;
}
