@use '../../style/internal/shared_input-select-picker';
@use '../../style/mixins.scss';

/**
 * @prop --text-editor-max-height: the tallest height the text editor can become when auto-resizing itself. Defaults to `calc(100vh - (env(safe-area-inset-top) + env(safe-area-inset-bottom)) - 4rem)`.
 * @prop --text-editor-fade-out-background-color: the color of the fade-out effect at the top and bottom of the text editor, when the text-editor is in readonly state. Defaults to rgb(var(--contrast-100)).
 */

@include shared_input-select-picker.lime-looks-like-input-value;
.lime-looks-like-input-value {
    padding: var(--limel-text-editor-padding);
}

* {
    box-sizing: border-box;
}

:host(limel-text-editor) {
    --limel-text-editor-outline-color: #{shared_input-select-picker.$lime-text-field-outline-color};
    --limel-text-editor-background-color: #{shared_input-select-picker.$background-color-normal};
    --limel-text-editor-label-color: #{shared_input-select-picker.$label-color};
    --limel-prosemirror-adapter-toolbar-opacity: 0.6;
    --limel-text-editor-padding: 0.25rem 1rem 0.75rem 1rem;
    --limel-prosemirror-adapter-toolbar-grid-template-rows: 1fr;
    --limel-prosemirror-adapter-toolbar-grid-template-rows-transition-duration: 0.3s;
    --limel-prosemirror-adapter-toolbar-transition-timing-function: cubic-bezier(
        0.19,
        0.23,
        0.26,
        0.89
    );

    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 5rem;
    min-height: 5rem;
    height: 100%;
    max-height: var(
        --text-editor-max-height,
        calc(
            100vh - (env(safe-area-inset-top) + env(safe-area-inset-bottom)) -
                4rem
        )
    );
    padding: 1px; // prevents visual defects that can appear due to the backdrop-filter and closeness to borders
}

:host(limel-text-editor:focus-within),
:host(limel-text-editor:not([ui='minimal']):hover) {
    --limel-prosemirror-adapter-toolbar-opacity: 1;
}

:host(limel-text-editor[ui='minimal']:not(:focus-within)) {
    --limel-text-editor-padding: 0.75rem 1rem 0.75rem 1rem;
    --limel-prosemirror-adapter-toolbar-grid-template-rows: 0fr;
    --limel-prosemirror-adapter-toolbar-grid-template-rows-transition-duration: 0.46s;
    --limel-prosemirror-adapter-action-bar-padding-top-bottom: 0;
    --limel-prosemirror-adapter-toolbar-opacity: 0;
    --limel-text-editor-placeholder-top: 0;
    min-height: 2.5rem;
}

:host(limel-text-editor:hover) {
    --limel-text-editor-outline-color: #{shared_input-select-picker.$lime-text-field-outline-color--hovered};
}

:host(limel-text-editor:focus-within) {
    --limel-text-editor-outline-color: #{shared_input-select-picker.$lime-text-field-outline-color--focused};
}

:host(limel-text-editor:focus-within),
:host(limel-text-editor:focus) {
    .placeholder {
        opacity: 0;
    }
}

:host(limel-text-editor[disabled]:not([disabled='false'])) {
    @include shared_input-select-picker.looks-disabled;

    limel-prosemirror-adapter {
        pointer-events: none;
    }
}

:host(limel-text-editor[invalid]:not([invalid='false'])) {
    --limel-text-editor-outline-color: var(--lime-error-text-color);
}

:host(limel-text-editor[readonly]:not([readonly='false'])) {
    --limel-text-editor-padding: 0.75rem 1rem 0.75rem 1rem;
    --limel-text-editor-placeholder-top: 0;
    --limel-text-editor-outline-color: transparent;
    --limel-text-editor-background-color: transparent;

    limel-markdown {
        // displayed when `readonly` instead of the adapter
        display: block;
        padding: var(--limel-text-editor-padding);
        overflow-y: auto;

        &:before,
        &:after {
            z-index: 1;
            pointer-events: none;
            content: '';
            display: block;
            position: absolute;
            width: 100%;
        }
        &:after {
            height: 1.75rem;
            top: 0;
            background: linear-gradient(
                var(
                    --text-editor-fade-out-background-color,
                    rgb(var(--contrast-100))
                ),
                transparent
            );
        }

        &:before {
            height: 2rem;
            bottom: -0.25rem;
            background: linear-gradient(
                transparent,
                var(
                    --text-editor-fade-out-background-color,
                    rgb(var(--contrast-100))
                )
            );
        }
    }
}

.notched-outline {
    transition: bottom
        var(--limel-h-l-grid-template-rows-transition-speed, 0.46s)
        cubic-bezier(1, 0.09, 0, 0.89);
    pointer-events: none;
    position: absolute;
    inset: 0;
    bottom: var(--limel-text-editor-notched-outline-bottom, 0);

    display: flex;
    background-color: var(--limel-text-editor-background-color);
}

.leading-outline,
.notch,
.trailing-outline {
    transition: border-color 0.2s ease;
    border-width: 1px;
    border-style: solid;
    border-color: var(--limel-text-editor-outline-color);
}

.leading-outline {
    flex-shrink: 0;
    width: 0.75rem;
    border-right-width: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.notch {
    flex-shrink: 0;

    position: relative;
    z-index: 2;

    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;

    max-width: calc(100% - 1.5rem);
}

.trailing-outline {
    flex-grow: 1;
    border-left-width: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

label {
    transform: translateY(-50%);

    @include mixins.truncate-text;
    display: block;
    padding: 0 0.25rem;

    color: var(--limel-text-editor-label-color);
    font-size: 0.65rem; // `10.4px` similar to MDC's floating label
    letter-spacing: var(--mdc-typography-subtitle1-letter-spacing, 0.009375em);

    :host(limel-text-editor[required]:not([required='false'])) & {
        &::after {
            content: '*';
        }
    }
}

.placeholder {
    transition-property: top, padding;
    transition-duration: var(
        --limel-prosemirror-adapter-toolbar-grid-template-rows-transition-duration
    );
    transition-timing-function: var(
        --limel-prosemirror-adapter-toolbar-transition-timing-function
    );
    @include mixins.truncate-text;
    pointer-events: none;
    position: absolute;
    top: var(--limel-text-editor-placeholder-top, 2.25rem);
    left: 0;
    right: 0;

    padding: var(--limel-text-editor-padding);
    font-style: italic;
    font-size: 0.875rem;
    color: shared_input-select-picker.$input-placeholder-color;
}

limel-prosemirror-adapter {
    flex-grow: 1;

    min-width: 0;
    min-height: 0;
    height: 100%;
    overflow: hidden auto;
}

@include mixins.hide-helper-line-when-not-needed(limel-text-editor);
:host(limel-text-editor.has-helper-text:focus-within),
:host(limel-text-editor.has-helper-text[invalid]:not([invalid='false'])) {
    .notched-outline {
        --limel-text-editor-notched-outline-bottom: 1rem;
    }
}

:host(limel-text-editor[allow-resize]) {
    limel-prosemirror-adapter {
        resize: vertical;
    }
}
