.grid {
    display: grid;
    grid-template-columns: 250/1.6rem 250/1.6rem 250/1.6rem;
    grid-template-rows: 150/1.6rem 150/1.6rem 150/1.6rem 150/1.6rem;
    grid-gap: 10/1.6rem;
}

.tile {
    color: white;
    text-align: center;
    line-height: 150/1.6rem;
    border-radius: 3/1.6rem;

    pre {
        margin: 0;
        padding: 0;
    }
}
