.grid {
    display: grid;

    grid-template-rows: 9.375rem 9.375rem 9.375rem 9.375rem;
    grid-gap: .625rem;
}

.tile {
    color: white;
    text-align: center;
    line-height: 9.375rem;
    border-radius: .1875rem;

    pre {
        margin: 0;
        padding: 0;
    }
}
