@use '../../../style/mixins';

.avatar-container {
    @include mixins.is-resizable(
        $direction: horizontal,

        $min-width: 3rem,
        $height: auto,
        $min-height: 2rem
    );
    transition: background-color 0.3s ease;
}

limel-ai-avatar {
    margin: auto;
    background-color: rgb(var(--color-glaucous-default));

    &:hover {
        --ai-avatar-animation-play-state: running;
    }
}
