:host(.has-detached-steps) {
    --selected-indicator-right: 0.5rem;
    --step-height: 1.75rem;
    padding-top: var(--step-height);

    .flow-item {
        align-items: center;
        --step-background: var(
            --progress-flow-step-background-color,
            rgb(var(--contrast-400))
        );

        &:not(.selected) {
            .step:not(.disabled) {
                &:before {
                    box-shadow: var(--button-shadow-normal);
                }

                &:hover {
                    box-shadow: none;

                    &:before {
                        box-shadow: var(--button-shadow-hovered);
                    }
                }

                &:active {
                    &:before {
                        box-shadow: var(--button-shadow-pressed);
                    }
                }
            }
        }
    }

    .step {
        border-radius: var(--step-height);
        background-color: transparent;
        padding: 0 !important;

        &:after {
            // selected indicator
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            height: calc(var(--step-height) + #{functions.pxToRem(8)});
            width: calc(var(--step-height) + #{functions.pxToRem(8)});
            border-width: functions.pxToRem(2);
            border-style: solid;
            background-color: transparent;
            opacity: 0.5;
        }

        &:before {
            transition: box-shadow 0.2s ease, background-color 0.2s ease;
            content: '';
            width: var(--step-height);
            height: var(--step-height);
            border-radius: var(--step-height);

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }

    .divider {
        width: 100%;
        z-index: z-index.$limel-progress-flow-divider-has-detached-steps;
        overflow: unset;
        transform: unset;

        &:after {
            border: none;
            height: functions.pxToRem(4);
            border-radius: 0;

            width: calc(100% - var(--step-height));
            transform: translateX(calc(50% + (var(--step-height) / 5)));
        }
    }
    .off-progress-item {
        .icon {
            margin-left: auto;
        }
    }

    .icon {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    .text,
    .secondary-text {
        padding: 0 functions.pxToRem(4);
    }
    .text {
        transform: translateY(calc(-100% - #{functions.pxToRem(12)}));
        font-size: functions.pxToRem(13);
    }

    .secondary-text {
        padding-left: 0;
        opacity: 0.6;
    }

    //  colors
    .flow-item {
        .step {
            &:before {
                background-color: var(--step-background);
            }
        }

        &.selected {
            .step {
                color: var(--step-text);

                .divider:after {
                    background-image: linear-gradient(
                        to right,
                        var(--step-background--selected),
                        var(--step-background)
                    );
                }

                &:after {
                    // selected indicator
                    border-color: var(--step-background--selected);
                }

                &:before {
                    background-color: var(--step-background--selected);
                }
            }
        }

        &.passed {
            .step {
                color: var(--step-text);

                &:before {
                    background-color: var(--step-background--passed);
                }
            }
        }
    }
}
