@use '../../../../style/functions';

.step {
    // `before` is circle

    &:before,
    .lock-icon {
        pointer-events: none;
        box-sizing: border-box;
        z-index: $limel-progress-flow-step-content;
    }

    &::before {
        position: absolute;
        right: var(--selected-indicator-right);
        border-radius: 50%;
    }

    .last & {
        &:before,
        .lock-icon {
            right: 0.5rem;
        }
    }
}

.flow-item:not(.off-progress-item) {
    .step {
        &.selected {
            &:before {
                content: '';
                width: functions.pxToRem(6);
                height: functions.pxToRem(6);
                background-color: rgb(var(--contrast-700));
                opacity: 0.7;
            }
        }
    }
}

.lock-icon {
    margin-left: 0.25rem;
    margin-right: -0.5rem;
    width: 0.75rem;
    color: currentColor;
    scale: 0.8;
}
