dialog {
    --limel-dialog-display-speed: 0.2s;
    transition:
        opacity 0.2s ease,
        display var(--limel-dialog-display-speed) ease,
        transform var(--limel-dialog-display-speed) ease;
    transition-behavior: allow-discrete;
    opacity: 0;
    transform: translate3d(0, 1rem, 0);

    &::backdrop {
        transition: background-color 0.6s ease;
        transition-behavior: allow-discrete;
        background-color: rgb(var(--color-black), 0);
    }

    &[open] {
        --limel-dialog-display-speed: 0.4s;
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);

        @starting-style {
            opacity: 0;
            transform: translate3d(0, -1rem, 0) scale(0.9);
        }

        &::backdrop {
            transition-delay: var(--limel-dialog-display-speed);
            background-color: rgb(var(--color-black), 0.4);

            @starting-style {
                background-color: rgb(var(--color-black), 0);
            }
        }
    }
}

dialog {
    // Animations work fine, but as long as you close the dialog
    // by keyboard or by pressing a close button inside the dialog.
    // Scrim-clicking causes a glitch in the close animation,
    // without the line below. That's because user agent
    // changes `position: fixed;` to `position: absolute;`
    // and removes the `inset` values when the dialog is not `[open]`,
    // causing the glitch.
    position: fixed;
    inset: 0;
}
