div.code-toolbar {
	position: relative;
}

div.code-toolbar > .toolbar {
	position: absolute;
	top: .3em;
	right: .2em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

div.code-toolbar:hover > .toolbar {
	opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
	opacity: 1;
}

div.code-toolbar > .toolbar > .toolbar-item {
	display: inline-block;
}

div.code-toolbar > .toolbar > .toolbar-item > a {
	cursor: pointer;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	-ms-user-select: none;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
	color: #bbb;
	font-size: .8em;
	padding: 0 .5em;
	background: #f5f2f0;
	background: rgba(224, 224, 224, 0.2);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	border-radius: .5em;
}

div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus {
	color: inherit;
	text-decoration: none;
}

:host {
  display: flex;
  font-size: 1rem;
}

slot {
  display: none;
}

.root {
  width: 100%;
}

div.code-toolbar {
  z-index: 1;
  display: flex;
  height: 100%;
}
div.code-toolbar > .toolbar {
  padding-right: 0.25rem;
}
div.code-toolbar > .toolbar .toolbar-item button,
div.code-toolbar > .toolbar .toolbar-item span {
  all: unset;
}
div.code-toolbar > .toolbar .toolbar-item button {
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.1s ease-out;
  box-shadow: var(--kompendium-button-shadow-normal);
}
div.code-toolbar > .toolbar .toolbar-item button:hover {
  box-shadow: var(--kompendium-button-shadow-hovered);
}
div.code-toolbar > .toolbar .toolbar-item button:active {
  box-shadow: var(--kompendium-button-shadow-pressed);
  transform: translate3d(0, 0.08rem, 0);
}
div.code-toolbar > .toolbar .toolbar-item button:focus {
  outline: none;
}
div.code-toolbar > .toolbar .toolbar-item button:focus-visible {
  outline: none;
  box-shadow: var(--kompendium-shadow-depth-8-focused);
}
div.code-toolbar > .toolbar .toolbar-item button {
  background-color: rgb(var(--kompendium-contrast-100));
  color: rgb(var(--kompendium-contrast-1100));
  padding: 0.125rem 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.75rem;
}

/* PrismJS 1.19.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+less+jsx+tsx+scss+typescript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
code,
pre {
  font-family: var(--kompendium-font-code);
  font-size: 0.8125rem;
}

code[class*=language-],
pre[class*=language-] {
  color: rgb(var(--kompendium-color-code-gray-lighter));
  background: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-] {
  padding: 1.5rem 1rem 2rem 1rem;
  position: relative;
  margin: 0;
  overflow: auto;
  flex-grow: 1;
  border-radius: 0.5625rem;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: rgb(var(--kompendium-color-code-background));
}

/* Inline code */
:not(pre) > code[class*=language-] {
  white-space: normal;
}

.token.comment {
  color: var(--kompendium-color-code-gray-light);
}

.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--kompendium-color-code-gray-lighter);
}

.token.punctuation {
  color: var(--kompendium-color-code-gray-dark);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: rgb(var(--kompendium-color-code-pink));
}

.token.function-name {
  color: rgb(var(--kompendium-color-code-blue));
}

.token.boolean,
.token.number,
.token.function {
  color: rgb(var(--kompendium-color-code-orange));
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: rgb(var(--kompendium-color-code-yellow));
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: rgb(var(--kompendium-color-code-purple));
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: rgb(var(--kompendium-color-code-green-light));
}

.token.operator {
  color: rgb(var(--kompendium-color-code-purple));
}

.token.entity,
.token.url {
  color: rgb(var(--kompendium-color-code-turquoise));
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: rgb(var(--kompendium-color-code-green-dark));
}