:host(limel-example-icon-background) {
    display: flex;
    flex-direction: column;

    limel-icon {
        color: white;
        margin-bottom: 0.625rem;

        &.company {
            background-color: var(--lime-blue);
        }
        &.person {
            background-color: var(--lime-orange);
        }
        &.deal {
            background-color: var(--lime-green);
        }
        &.campaign {
            background-color: var(--lime-deep-red);
        }
    }
}
