.lime-green {
    limel-icon {
        color: rgb(var(--lime-brand-color-lime-green));
    }
}

.loving-magenta {
    limel-icon {
        color: rgb(var(--lime-brand-color-loving-magenta));
    }
}

.simple-blue {
    limel-icon {
        color: rgb(var(--lime-brand-color-simple-blue));
    }
}

.sellable-orange {
    limel-icon {
        color: rgb(var(--lime-brand-color-sellable-orange));
    }
}

.custom-size {
    limel-icon {
        height: 6.25rem;
        width: 6.25rem;
    }
}
