:host(limel-example-icon-color) {
    display: grid;
    gap: 1rem;
}

limel-icon {
    color: rgb(var(--color-white)); /* For all icons in this example */

    &.company {
        --icon-background-color: rgb(var(--color-sky-default));
    }
    &.person {
        --icon-background-color: rgb(var(--color-orange-default));
    }
    &.deal {
        --icon-background-color: rgb(var(--color-green-default));
    }
    &.todo {
        color: rgb(var(--color-teal-default));
    }
    &.campaign {
        --icon-background-color: rgb(var(--color-pink-default));
    }
}
