:host(limel-example-icon-background) {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;

    limel-icon {
        color: rgb(var(--color-white)); /* For all icons in this example */

        &.company {
            background-color: rgb(var(--color-sky-default));
        }
        &.person {
            background-color: rgb(var(--color-orange-default));
        }
        &.deal {
            background-color: rgb(var(--color-green-default));
        }
        &.todo {
            color: rgb(var(--contrast-1100));
            /*
                Since `background-color` is not specified here, it defaults to `transparent`.
                Therefore we must ensure that the `color` of this icon is visible
                on its background.
            */
        }
        &.campaign {
            background-color: rgb(var(--color-pink-default));
        }
    }
}
