@import '../../../node_modules/tabulator-tables/src/scss/tabulator.scss';
@import '../../style/mixins';
@import '../../style/internal/variables';

$table-header-background-color: #ededee;
$table-header-background-color-hover: #f1f1f3;
$tabulator-arrow-color: #babac0;
$tabulator-arrow-color-active: var(--lime-turquoise);

@import './partial-styles/tabulator-arrow';
@import './partial-styles/tabulator-paginator';
@import './partial-styles/tabulator-custom-styles';

:host {
    display: block;
}

:host([hidden]) {
    display: none;
}

#tabulator-container,
#tabulator-table {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
}

.tabulator {
    .tabulator-header {
        border-bottom: 0;
        background-color: $table-header-background-color;

        .tabulator-col {
            transition: background-color 0.2s ease;
            background-color: $table-header-background-color;
            border-right-color: #fafafb;

            .tabulator-col-content {
                padding-top: pxToRem(8);
                padding-bottom: pxToRem(8);
            }

            &.tabulator-sortable {
                &:hover {
                    background-color: $table-header-background-color-hover;
                }
            }
        }

        .tabulator-col-title {
            font-weight: 500;
            padding-left: pxToRem(2);
        }
    }

    .tabulator-footer {
        background-color: $table-header-background-color;
        border: none;

        .tabulator-calcs-holder {
            border-color: #e8e8ea;
        }
    }
}

.tabulator-row {
    &.tabulator-selectable {
        transition: background-color 0.2s ease;
        &:not(.active) {
            &:hover {
                background-color: $table-header-background-color;
            }
        }
    }
    &.tabulator-row-odd {
        background-color: #fafafb;
    }

    &.tabulator-row-even {
        background-color: #fff;
    }

    &.active,
    &.active:hover {
        background-color: rgba(#26a69a, 0.16);
    }

    .tabulator-cell {
        border-right: transparent;
        padding: pxToRem(8);
    }
}

.tabulator-col,
.tabulator-cell {
    max-width: pxToRem(600);
    font-size: pxToRem(13);
}
