@use '../../style/mixins';
@use '../../style/functions';
@use '../../style/internal/lime-typography';
@import '../../../node_modules/tabulator-tables/src/scss/tabulator.scss';

:host {
    display: block;
    --table-header-background-color: var(--contrast-500);
    --table-header-background-color--hover: var(--contrast-400);
    --table-header-background-color-when-being-dragged: var(--contrast-100);

    --table-row-background-color--odd: var(--contrast-200);
    --table-row-background-color--even: var(--contrast-100);
    --table-row-background-color--hover: var(--contrast-100);
    --table-row-background-color--active: var(--color-teal-lighter);

    --table-arrow-color: var(--contrast-800);
    --table-arrow-color--active: var(--mdc-theme-primary);
}

@import './partial-styles/_table-main-layout';

#tabulator-container {
    position: relative;
}

#tabulator-container,
#tabulator-table {
    @include lime-typography.base;
    background-color: transparent;
    border: none;
}

.tabulator {
    .tabulator-header {
        border-bottom: 0;
        background-color: rgb(var(--table-header-background-color));

        .tabulator-headers {
            width: fit-content;
        }

        .tabulator-col {
            transition: background-color 0.2s ease;
            background-color: rgb(var(--table-header-background-color));
            border-right-color: rgb(var(--contrast-200));

            &.tabulator-sortable {
                &:hover {
                    background-color: rgb(
                        var(--table-header-background-color--hover)
                    );
                }
            }
        }

        .tabulator-col-title {
            font-weight: 500;
            padding-left: functions.pxToRem(2);
            line-height: functions.pxToRem(20);
        }
    }
}

.tabulator-row {
    &.tabulator-selectable {
        transition: background-color 0.2s ease;
        &:not(.active) {
            &:hover {
                background-color: rgb(var(--table-header-background-color));
            }
        }
    }
    &.tabulator-row-odd {
        background-color: rgb(var(--table-row-background-color--odd));
    }

    &.tabulator-row-even {
        background-color: rgb(var(--table-row-background-color--even));
    }

    &.active,
    &.active:hover {
        background-color: rgb(var(--table-row-background-color--active));
    }

    .tabulator-cell {
        border-right: transparent;
        padding: functions.pxToRem(8);

        display: inline-flex;
        align-items: center;
        &[style*='text-align: right;'] {
            justify-content: flex-end;
        }
        &[style*='text-align: center;'] {
            justify-content: center;
        }
    }
}

.tabulator-col,
.tabulator-cell {
    max-width: functions.pxToRem(600);
    font-size: functions.pxToRem(13);
}

#tabulator-loader,
#tabulator-empty-text {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tabulator-loader {
    background-color: rgba(var(--contrast-100), 0.6);
    cursor: wait;
}

#tabulator-empty-text {
    color: rgb(var(--contrast-800));
    font-weight: bold;
    font-size: functions.pxToRem(20);
    pointer-events: none;
}

@import './partial-styles/tabulator-arrow';
@import './partial-styles/tabulator-paginator';
@import './partial-styles/tabulator-loader';
@import './partial-styles/tabulator-custom-styles';
@import './partial-styles/header-component';
@import './partial-styles/movable-columns';
@import './partial-styles/_tabulator-footer';
@import './partial-styles/_row-selection';
