@import '../../../node_modules/tabulator-tables/src/scss/tabulator.scss';
@import '../../style/mixins';
@import '../../style/internal/variables';

$table-header-background-color: #ededee;
$table-header-background-color-hover: #f1f1f3;
$tabulator-arrow-color: #babac0;
$tabulator-arrow-color-active: var(--lime-turquoise);

@import './partial-styles/tabulator-arrow';
@import './partial-styles/tabulator-custom-styles';

:host {
    display: block;
}

#tabulator-table {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
}

.tabulator {
    .tabulator-header {
        border-bottom: 0;
        background-color: $table-header-background-color;

        .tabulator-col {
            transition: background-color 0.2s ease;
            background-color: $table-header-background-color;
            border-right-color: #fafafb;

            &.tabulator-sortable {
                &:hover {
                    background-color: $table-header-background-color-hover;
                }
            }
        }

        .tabulator-col-title {
            padding-left: pxToRem(2);
        }
    }
}

.tabulator-row {
    &.tabulator-selectable {
        transition: background-color 0.2s ease;
        &:hover {
            background-color: $table-header-background-color;
        }
    }
    &.tabulator-row-odd {
        background-color: #fafafb;
    }

    &.tabulator-row-even {
        background-color: #fff;
    }

    .tabulator-cell {
        border-right: transparent;
        padding-left: pxToRem(6);
    }
}
