@use '../../style/mixins';
@use '../../style/functions';
@use '../../style/internal/lime-typography';
@import '../../../node_modules/tabulator-tables/src/scss/tabulator.scss';

$table-header-background-color: rgb(var(--contrast-500));
$table-header-background-color-hover: rgb(var(--contrast-400));
$table-header-background-color-when-being-dragged: rgb(var(--contrast-100));
$tabulator-arrow-color: rgb(var(--contrast-800));
$tabulator-arrow-color-active-raw-value: var(--color-teal-light);
$tabulator-arrow-color-active: rgb($tabulator-arrow-color-active-raw-value);

@import './partial-styles/tabulator-arrow';
@import './partial-styles/tabulator-paginator';
@import './partial-styles/tabulator-loader';
@import './partial-styles/tabulator-custom-styles';
@import './partial-styles/header-component';
@import './partial-styles/movable-columns';

:host {
    display: block;
}

#tabulator-container {
    position: relative;
}

#tabulator-container,
#tabulator-table {
    @include lime-typography.base;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
}

.tabulator {
    .tabulator-header {
        border-bottom: 0;
        background-color: $table-header-background-color;

        .tabulator-col {
            transition: background-color 0.2s ease;
            background-color: $table-header-background-color;
            border-right-color: rgb(var(--contrast-200));

            .tabulator-col-content {
                padding-top: functions.pxToRem(8);
                padding-bottom: functions.pxToRem(8);
            }

            &.tabulator-sortable {
                &:hover {
                    background-color: $table-header-background-color-hover;
                }
            }
        }

        .tabulator-col-title {
            font-weight: 500;
            padding-left: functions.pxToRem(2);
        }
    }

    .tabulator-footer {
        background-color: $table-header-background-color;
        border: none;

        .tabulator-calcs-holder {
            border-color: rgb(var(--contrast-600));
        }
    }
}

.tabulator-row {
    &.tabulator-selectable {
        transition: background-color 0.2s ease;
        &:not(.active) {
            &:hover {
                background-color: $table-header-background-color;
            }
        }
    }
    &.tabulator-row-odd {
        background-color: rgb(var(--contrast-200));
    }

    &.tabulator-row-even {
        background-color: rgb(var(--contrast-100));
    }

    &.active,
    &.active:hover {
        background-color: rgba($tabulator-arrow-color-active-raw-value, 0.16);
    }

    .tabulator-cell {
        border-right: transparent;
        padding: functions.pxToRem(8);
    }
}

.tabulator-col,
.tabulator-cell {
    max-width: functions.pxToRem(600);
    font-size: functions.pxToRem(13);
}

#tabulator-loader,
#tabulator-empty-text {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tabulator-loader {
    background-color: rgba(var(--contrast-100), 0.6);
}

#tabulator-empty-text {
    color: rgb(var(--contrast-800));
    font-weight: bold;
    font-size: functions.pxToRem(20);
}
