@use '../../style/mixins';
@use '../../style/functions';
@forward '../../../node_modules/tabulator-tables/src/scss/tabulator';
@forward './partial-styles/table-main-layout';
@forward './partial-styles/tabulator-arrow';
@forward './partial-styles/tabulator-paginator';
@forward './partial-styles/tabulator-loader';
@forward './partial-styles/tabulator-custom-styles';
@forward './partial-styles/header-component';
@forward './partial-styles/movable-columns';
@forward './partial-styles/tabulator-footer';
@forward './partial-styles/row-selection';

/*
* @prop --table-max-column-width: defines a maximum width for columns using standard size units, to prevent the table from growing too wide. Set to `auto` if you do not need this limitation. Defaults to `40rem`.
*/

:host(limel-table) {
    --limel-table-interactive-selectable-row-z-index-hover: 2;
    --limel-table-sorter-arrow-width: 0.5rem;
    --limel-table-table-cell-padding: 0.5rem;
    --limel-table-row-selector-z-index: 1;
    --limel-table-height-of-aggregations-row: 1.5rem;
    isolation: isolate;
    display: block;
    --table-header-background-color: var(--contrast-500);
    --table-header-background-color--hover: var(--contrast-400);
    --table-header-background-color-when-being-dragged: var(--contrast-100);

    --table-row-background-color--odd: var(--contrast-200);
    --table-row-background-color--even: var(--contrast-100);
    --table-row-background-color--hover: var(
        --lime-elevated-surface-background-color
    );
    --table-row-background-color--active: var(--mdc-theme-primary);

    --table-arrow-color: var(--contrast-800);
    --table-arrow-color--active: var(
        --lime-primary-color,
        var(--limel-theme-primary-color)
    );

    --table-text-color: var(--limel-theme-text-primary-on-background-color);
    --limel-chip-size: 1.25rem;
}

#tabulator-container {
    position: relative;
}

#tabulator-container,
#tabulator-table {
    background-color: transparent;
    border: none;
}

.tabulator {
    .tabulator-header {
        color: var(--table-text-color);
    }
    .tabulator-tableholder {
        .tabulator-table {
            color: var(--table-text-color);
            background-color: transparent;
        }
    }

    .tabulator-header {
        border-bottom: 0;
        background-color: rgb(var(--table-header-background-color));

        .tabulator-headers {
            width: fit-content;
        }

        .tabulator-col {
            transition: background-color 0.2s ease;
            background-color: rgb(var(--table-header-background-color));
            border-right-color: rgb(var(--contrast-200));

            &.tabulator-sortable.tabulator-col-sorter-element {
                &:hover {
                    background-color: rgb(
                        var(--table-header-background-color--hover)
                    );
                }
            }

            .tabulator-col-content {
                padding: 0 var(--limel-table-sorter-arrow-width) 0 0.25rem;
            }
        }

        .tabulator-col-title-holder {
            height: 1.75rem;
            display: flex;
            align-items: center;
            gap: 0.25rem;
        }

        .tabulator-col-sorter {
            order: 1;
        }
        .tabulator-col-title {
            order: 2;
            font-weight: 500;
            padding-right: 0 !important;
            line-height: functions.pxToRem(20);
        }
    }
}

.tabulator-row {
    height: 2.25rem;

    .tabulator-cell {
        border-right: transparent;
        padding: var(--limel-table-table-cell-padding);
        padding-left: calc(
            var(--limel-table-table-cell-padding) +
                var(--limel-table-sorter-arrow-width)
        );

        height: inherit;

        &[style*='text-align: right;'] {
            justify-content: flex-end;
        }
        &[style*='text-align: center;'] {
            justify-content: center;
        }
    }

    .tabulator-col-resize-handle {
        display: none;
    }
}

.tabulator-col,
.tabulator-cell {
    max-width: var(--table-max-column-width, 40rem);
}

#tabulator-loader,
#tabulator-empty-text {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tabulator-loader {
    background-color: rgba(var(--contrast-100), 0.6);
    cursor: wait;
}

#tabulator-empty-text {
    color: rgb(var(--contrast-800));
    font-weight: bold;
    font-size: functions.pxToRem(20);
    pointer-events: none;
}

limel-chip {
    transform: translateY(-0.15rem);
}
