limel-icon {
    color: white;
}
limel-icon[name='cherry'] {
    background-color: var(--lime-deep-red);
}
limel-icon[name='fish'] {
    background-color: var(--lime-blue);
}
limel-icon[name='caterpillar'] {
    background-color: var(--lime-green);
}
limel-icon[name='wheat'] {
    background-color: var(--lime-orange);
}
limel-icon[name='rabbit'] {
    background-color: var(--lime-light-grey);
}
