:host(limel-tooltip-content) {
    display: flex;

    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    background-color: rgb(var(--contrast-1300));
    box-shadow: var(--shadow-depth-16);
}

text {
    font-size: var(--limel-theme-default-font-size); // 14px
    line-height: 1.25;
    display: flex;
    column-gap: 1rem;

    &.has-column-layout {
        display: table-cell;
        width: fit-content;
        max-width: min(var(--tooltip-max-width-of-text), 80vw);
        .label {
            padding-bottom: 0.5rem;
        }
        .helper-label {
            padding-bottom: 0.25rem;
        }
    }
}

.label {
    color: rgb(var(--contrast-200));
}

.helper-label {
    color: rgb(var(--contrast-800));

    &:empty {
        display: none;
    }
}
