/**
 * @prop --tooltip-z-index: z-index of the tooltip.
 */

.trigger-anchor {
    display: inline-block;
    position: relative;
}

.tooltip-container {
    color: rgb(241, 241, 241);
    background-color: rgb(35, 35, 36);
}
