:host(limel-tooltip-content) {
    animation: display-tooltip 0.2s ease;
    display: flex;

    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    background-color: rgb(var(--contrast-1300));
    box-shadow: var(--shadow-depth-16);
}

text {
    font-size: 0.875rem; // 14px
    line-height: 1.25;
    display: flex;
    column-gap: 1rem;

    &.has-column-layout {
        display: table-cell;
        width: fit-content;
        max-width: min(var(--tooltip-max-width-of-text), 80vw);
        .label {
            padding-bottom: 0.5rem;
        }
        .helper-label {
            padding-bottom: 0.25rem;
        }
    }
}

.label {
    color: rgb(var(--contrast-200));
}

.helper-label {
    color: rgb(var(--contrast-800));

    &:empty {
        display: none;
    }
}

@keyframes display-tooltip {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0.94);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
    }
}
