:host(limel-tooltip-content) {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 0.5rem 1rem;

    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;

    font-size: var(--limel-theme-default-font-size);
    line-height: normal;

    background-color: rgb(var(--contrast-1300));
    box-shadow: var(--shadow-depth-16), var(--shadow-brighten-edges-inside);
}

:host(.has-column-layout) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;

    max-width: min(var(--tooltip-max-width-of-text), 80vw);

    .label,
    .helper-label {
        flex-grow: 1;
    }
}

.label,
.helper-label {
    min-width: 0;
    min-height: 0;
}

.label {
    color: rgb(var(--contrast-200));
}

.helper-label {
    color: rgb(var(--contrast-800));
}

limel-hotkey {
    margin-right: -0.25rem;
}
