@use '../../style/internal/lime-theme';

@use '@material/snackbar/mdc-snackbar';

.mdc-snackbar__surface {
    box-shadow: var(--shadow-depth-16);
}

.mdc-snackbar__actions {
    gap: 0.5rem;
    padding-left: 0.5rem;
}

limel-button {
    // This is a bad hack to make the button have the same color as its background.
    // But will be removed when we get the dark-mode enabled.
    --contrast-100: #333;
}
