/**
 * @prop --snackbar-top: Snackbar has `position: fixed;` and uses `--snackbar-top`, which defaults to `auto` for its `top` property. See the examples in the documentations for further info.
 * @prop --snackbar-right: Snackbar has `position: fixed;` and uses `--snackbar-right`, which defaults to `0` for its `right` property. See the examples in the documentations for further info.
 * @prop --snackbar-bottom: Snackbar has `position: fixed;` and uses `--snackbar-bottom`, which defaults to `0` for its `bottom` property. See the examples in the documentations for further info.
 * @prop --snackbar-left: Snackbar has `position: fixed;` and uses `--snackbar-left`, which defaults to `0` for its `left` property. See the examples in the documentations for further info.
 */

* {
    box-sizing: border-box;
}

.mdc-snackbar {
    top: var(--snackbar-top, auto);
    right: var(--snackbar-right, 0);
    bottom: var(--snackbar-bottom, 0);
    left: var(--snackbar-left, 0);

    display: none;
    position: fixed;
    z-index: 8;

    padding: 0.75rem;

    align-items: center;
    justify-content: center;
}

.mdc-snackbar--opening,
.mdc-snackbar--open,
.mdc-snackbar--closing {
    display: flex;
}

.mdc-snackbar--open {
    .mdc-snackbar__label,
    .mdc-snackbar__actions {
        visibility: visible;
    }

    .mdc-snackbar__surface {
        transition:
            opacity 0.2s cubic-bezier(0, 0, 0.2, 1),
            transform 0.2s cubic-bezier(0, 0, 0.2, 1);
        transform: scale(1);
        opacity: 1;
    }
}

.mdc-snackbar__surface {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25rem;

    min-height: 3.25rem;
    min-width: unset;
    max-width: 42rem;

    transform: scale(0.8);
    opacity: 0;
    border-radius: 0.75rem;

    background-color: rgb(var(--contrast-1400));
    box-shadow: var(--shadow-depth-8), var(--shadow-depth-16);
}

.mdc-snackbar__label {
    visibility: hidden;

    color: rgb(var(--contrast-100));

    -webkit-font-smoothing: antialiased;
    font-size: 0.8125rem;
    font-weight: 400;
    padding: 0 0.25rem;

    width: 100%;
    flex-grow: 1;
}

.mdc-snackbar__actions {
    visibility: hidden;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    box-sizing: border-box;
    gap: 0.5rem;
}

.dismiss,
.mdc-snackbar__actions {
    --lime-elevated-surface-background-color: rgb(
        var(--contrast-1300)
    ); // background color of the buttons
}

.dismiss {
    --mdc-theme-on-surface: rgb(var(--contrast-100)); // color of the X icon
    --icon-background-color: var(--lime-elevated-surface-background-color);
    --fill-color: var(--mdc-theme-primary);
    --track-color: rgb(var(--contrast-800), 0.2);
    position: absolute;
    top: -0.9rem;
    left: -0.9rem;
    transform: scale(0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    limel-icon-button.mdc-snackbar__dismiss {
        transform: scale(0.8);
        margin: 0;
        padding: 0;
    }

    svg {
        position: absolute;
        transform: rotate(90deg);
        fill: transparent;
        stroke-dasharray: 100;
        stroke-linecap: round;

        .mdc-snackbar--open & {
            animation: timeout var(--snackbar-timeout) linear forwards;
        }
    }
}

@keyframes timeout {
    0% {
        stroke-width: 4;
        stroke-dashoffset: 0;
        opacity: 1;
    }
    100% {
        stroke-width: 1;
        stroke-dashoffset: -100;
        opacity: 0.7;
    }
}
