@use '../../style/brand-colors';

@use '../../style/internal/lime-theme';

@use '@material/button';
@use '@material/icon-button';
@use '@material/snackbar';

.mdc-button {
    @include button.ink-color(brand-colors.$lime-blue);
}

.mdc-snackbar__actions {
    .mdc-snackbar__dismiss {
        color: var(--mdc-theme-on-secondary);
        width: auto;
        height: auto;
        padding: 0;

        svg {
            height: 100%;
            width: 100%;
        }
    }
}
