@import '../../style/internal/mdc-variables';

@import '@limetech/mdc-button/mdc-button';
@import '@limetech/mdc-icon-button/mdc-icon-button';
@import '@limetech/mdc-snackbar/mdc-snackbar';

.mdc-button {
    @include mdc-button-ink-color($lime-blue);
}

.mdc-snackbar__actions {
    .mdc-snackbar__dismiss {
        color: $mdc-theme-on-secondary;
        width: auto;
        height: auto;
        padding: 0;

        svg {
            height: 100%;
            width: 100%;
        }
    }
}
