.node {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 1rem;
    min-width: 12rem;
}

.node-item {
    flex: 1;
}

.vertical-divider {
    height: 100%;
    width: 0;
    border-left: 1px solid gray;
}
