@use '../../../style/functions';

:host([type='url']),
:host([type='urlAsText']) {
    .mdc-text-field--with-trailing-icon {
        .mdc-text-field__icon--trailing {
            limel-icon {
                color: rgb(var(--color-blue-default));
            }
            &:hover {
                background-color: rgb(var(--color-blue-default));

                limel-icon {
                    color: rgb(var(--color-white));
                }
            }
        }
    }
}

:host([type='tel']) {
    .mdc-text-field--with-trailing-icon {
        .mdc-text-field__icon--trailing {
            limel-icon {
                color: rgb(var(--color-green-default));
            }
            &:hover {
                background-color: rgb(var(--color-green-default));

                limel-icon {
                    color: rgb(var(--color-white));
                }
            }
        }
    }
}

:host([type='email']) {
    .mdc-text-field--with-trailing-icon {
        .mdc-text-field__icon--trailing {
            limel-icon {
                color: rgb(var(--contrast-900));
            }
        }
    }
}

a.lime-trailing-icon-for-link {
    @extend .mdc-text-field__icon--trailing;
}
