@use '../../../style/mixins';
@use '../../../style/functions';

.expand-shrink {
    all: unset;
    box-sizing: border-box;

    @include mixins.is-flat-clickable();
    @include mixins.visualize-keyboard-focus;

    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--dock-expand-shrink-button-height);
    padding: 0 0.5rem;
    margin: var(--limel-dock-padding);
    border-radius: functions.pxToRem(6);

    &.expanded {
        justify-content: flex-end;

        limel-icon {
            transform: rotateY(180deg);
        }
    }

    limel-icon {
        width: calc(var(--dock-expand-shrink-button-height) - 0.25rem);
        color: var(--dock-item-icon-color, var(--limel-dock-item-text-color));
    }
}
