@use '../../../style/mixins';

div {
    @include mixins.is-resizable(
        $direction: both,
        $width: 100%,
        $min-width: 8rem,
        $max-width: 100%,
        $height: 20rem,
        $min-height: 8rem,
        $max-height: 40rem
    );
    overflow: hidden;
}
