limel-button-group {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    > limel-button:not(:first-child) {
        margin-left: 1.0rem;
    }

    &.center {
        justify-content: center;
    }

    &.reverse-order {
        flex-direction: row-reverse;
        justify-content: flex-start;

        limel-button:not(:first-child) {
            margin-left: 0;
            margin-right: 1.0rem;
        }

        &.center {
            justify-content: center;
        }
    }
}
