@import '../../style/internal/mdc-variables';
@import '../../style/mixins';

.lime-banner {
    min-height: $lime-banner-height;
    display: none;
    background-color: rgba(var(--contrast-100), 0.7);
    backdrop-filter: blur(pxToRem(5));
    box-shadow: var(--shadow-depth-16);

    &.lime-banner--open {
        display: block;
        .lime-banner__surface {
            opacity: 1;
        }
    }
    .lime-banner__surface {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        opacity: 0;
    }

    .lime-banner__content {
        display: flex;
        align-items: center;
        align-content: stretch;
        padding: pxToRem(16);
        flex-wrap: wrap;
    }

    div[class^='mdc-typography'] {
        color: rgb(var(--contrast-1200));
    }

    .lime-banner__icon {
        margin: 0 pxToRem(10);
        align-self: flex-start;
    }

    .lime-banner__actions {
        margin-left: pxToRem(50);
        display: flex;
        justify-content: flex-end;
    }

    limel-icon {
        color: rgb(var(--color-white));
        background-color: var(
            --icon-background-color,
            rgb(var(--contrast-800))
        );
    }
}
