@import '../../style/variables';

@import '@lime-material-16px/slider/mdc-slider';
@import "@lime-material-16px/floating-label/mdc-floating-label";

$colorGrey: #999999;

.mdc-slider {
    @include mdc-slider-highlight-color(var(--lime-primary-color, $mdc-theme-primary));
    @include mdc-slider-thumb-color(var(--lime-primary-color, $mdc-theme-primary));
    @include mdc-slider-value-pin-fill-color(var(--lime-primary-color, $mdc-theme-primary));
    @include mdc-slider-value-pin-ink-color(on-primary);
}

.mdc-slider__pin-value-marker {
    margin-bottom: pxToRem(2);
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}


.slider__label {
    padding-left: pxToRem(20);
}

.slider__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: pxToRem(16);
    margin-right: pxToRem(16);
}

.slider__content-range-container {
    display: flex;
    justify-content: space-between;
    padding-top: pxToRem(6);
    width: 100%;
}

.slider__content-min-label {
    color: $colorGrey;
    font-size: pxToRem(12);
    left: 0;
    top: pxToRem(20);
}

.slider__content-max-label {
    color: $colorGrey;
    font-size: pxToRem(12);
    right: 0;
    top: pxToRem(20);
}

.mdc-slider {
    height: pxToRem(28);
}

.mdc-slider__track-container {
    top: pxToRem(9);
}

.mdc-slider__thumb-container {
    top: 0;
}

.mdc-slider__pin {
    border-radius: pxToRem(4);
    height: pxToRem(20);
    left: pxToRem(-8);
    top: pxToRem(-16);
    transform: none;
    width: pxToRem(40);
}

.mdc-slider__pin-value-marker {
    font-size: pxToRem(12);
    transform: rotate(0deg);
}

.mdc-slider--discrete {
    &.mdc-slider--active {
        .mdc-slider__pin {
            transform: none;
        }
    }
}
