@use '../../style/internal/z-index';
@use '../../style/functions';
@use '../../style/internal/shared_input-select-picker';

@use '../../style/internal/lime-theme';

@use '@material/slider/styles';
@use '@material/floating-label/mdc-floating-label';

@import './partial-styles/percentage-color.scss';
@import './partial-styles/_readonly.scss';
@import './partial-styles/_thumb.scss';

.slider {
    position: relative;
}

.slider__label {
    padding-left: functions.pxToRem(20);
    top: functions.pxToRem(
        9
    ); // To place its label on the same height as other `floating-label`s in a form
}

.slider__content {
    display: flex;
    flex-direction: column;
    margin-top: functions.pxToRem(4);
}

.slider__content-range-container {
    display: flex;
    order: 2;
    justify-content: space-between;
    width: calc(100% - #{functions.pxToRem(24)});
    margin: 0 auto;
    margin-top: functions.pxToRem(-16);
}

.slider__content-min-label,
.slider__content-max-label {
    transition: opacity 0.2s ease;
    opacity: 0.7;
    font-size: functions.pxToRem(12);
    top: functions.pxToRem(20);

    .slider:hover & {
        opacity: 1;
    }
}

.mdc-slider__track {
    &:before,
    &:after {
        // start & end indicators
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        width: functions.pxToRem(6);
        height: functions.pxToRem(6);
        border-radius: 50%;
        background-color: rgba(var(--contrast-700), 0.6);
    }

    &:before {
        left: functions.pxToRem(-12);
    }

    &:after {
        right: functions.pxToRem(-12);
    }
}

.mdc-slider-helper-line {
    @include shared_input-select-picker.looks-like-helper-line;
}
.mdc-slider-helper-text {
    @include shared_input-select-picker.looks-like-helper-text;
    opacity: 1;
    &:before {
        @include shared_input-select-picker.looks-like-helper-text-pseudo-before;
    }
}
