@use '../../style/internal/z-index';
@use '../../style/functions';
@use '../../style/internal/shared_input-select-picker';

@use '@material/slider/styles';

:host(limel-slider) {
    isolation: isolate;
    position: relative;
    display: flex;
    flex-direction: column;
}

:host(limel-slider:not([invalid]):not([invalid='true'])),
// We don't want the gray notched outlines around the slider by default
:host(limel-slider[disabled]:not([disabled='false'])) {
    .limel-notched-outline {
        --limel-notched-outline-border-color: transparent;
        --limel-notched-outline-background-color: transparent;
    }
    // and we don't want the `disabled` but `invalid` slider to show any
    // red lines. Since users cannot do anything to fix a disabled but invalid slider
}

div[slot='content'] {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0.25rem;
}

.mdc-slider {
    height: shared_input-select-picker.$height-of-mdc-text-field;
    margin: 0 0.75rem;

    .mdc-slider__track--inactive {
        background-color: var(
            --lime-primary-color,
            var(--limel-theme-primary-color)
        );
    }

    .mdc-slider__track--active_fill {
        border-color: var(
            --lime-primary-color,
            var(--limel-theme-primary-color)
        );
    }

    .mdc-slider__thumb-knob {
        border-color: var(
            --lime-primary-color,
            var(--limel-theme-primary-color)
        );
        background-color: var(
            --lime-primary-color,
            var(--limel-theme-primary-color)
        );
    }
}

.mdc-slider .mdc-slider__value-indicator-text {
    // As long as this component is depended on MDC,
    // we need to force it to be font-agnostic.
    // When MDC-dependency is removed, this block can also be removed.
    // However, on removal of MDC-dependency, we should also make sure to check
    // other font-related styles that might be set by MDC,
    // such as `letter-spacing` or `font-size`.
    font-family: inherit;
}

.slider__content-range-container {
    display: flex;
    order: 2;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -0.75rem;
    width: 100%;
}

.slider__content-min-label,
.slider__content-max-label {
    line-height: 1;
    transition: opacity 0.2s ease;
    opacity: 0.7;
    font-size: functions.pxToRem(12);
    color: shared_input-select-picker.$helper-text-color;
}

.mdc-slider__track {
    &:before,
    &:after {
        // start & end indicators
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        width: functions.pxToRem(6);
        height: functions.pxToRem(6);
        border-radius: 50%;
        background-color: rgba(var(--contrast-700), 0.6);
    }

    &:before {
        left: functions.pxToRem(-12);
    }

    &:after {
        right: functions.pxToRem(-12);
    }
}

@import './partial-styles/percentage-color';
@import './partial-styles/_readonly';
@import './partial-styles/_thumb';
@import './partial-styles/_helper-text';
