name: Cleanup
on:
  pull_request:
    types: [closed]

jobs:
  docs:
    if: github.actor != 'dependabot[bot]' && github.actor != 'lime-opensource'
    name: Remove PR docs
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GH_USERNAME: lime-opensource
      GH_TOKEN: ${{ secrets.CREATE_RELEASE }}
      CI: true
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        token: ${{ secrets.CREATE_RELEASE }}
    - uses: ./.github/actions/set-up-node
    - run: npm ci
    - run: git config --global user.email "93315277+lime-opensource@users.noreply.github.com"
    - run: git config --global user.name "Lime Technologies OSS"
    - name: Remove PR docs
      env:
        PR_NUMBER: ${{ github.event.pull_request.number }}
      run: npm run docs:publish -- --remove="PR-$PR_NUMBER"
