name: Cleanup
on:
  pull_request:
    types: [closed]

jobs:
  docs:
    if: github.actor != 'lime-ci'
    name: Remove PR docs
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GH_USERNAME: lime-ci
      GH_EMAIL: 617355+lime-ci@users.noreply.github.com
      GH_TOKEN: ${{ secrets.CREATE_RELEASE }}
      CI: true
    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.CREATE_RELEASE }}
    - name: Read .nvmrc
      run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
      id: nvm
    - uses: actions/setup-node@v2
      with:
        node-version: "${{ steps.nvm.outputs.NVMRC }}"
    - name: npm install
      run: |
        GH_TOKEN="${{ secrets.READ_PRIVATE_GITHUB_PACKAGES }}" ./generate_npmrc.sh
        npm ci
        rm .npmrc
    - run: git config --global user.email "$GH_EMAIL"
    - run: git config --global user.name "$GH_USERNAME"
    - run: npm run docs:publish -- --remove=PR-${{ github.event.pull_request.number }}
