name: Pull Request Checks
on: [pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ^16.13.2
    - run: npm i -g npm@^8.4.0
    - name: npm install
      run: |
        GH_TOKEN="${{ secrets.READ_PRIVATE_GITHUB_PACKAGES }}" ./generate_npmrc.sh
        npm ci
        rm .npmrc
    - run: npm run lint:prod

  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ^16.13.2
    - run: npm i -g npm@^8.4.0
    - name: npm install
      run: |
        GH_TOKEN="${{ secrets.READ_PRIVATE_GITHUB_PACKAGES }}" ./generate_npmrc.sh
        npm ci
        rm .npmrc
    - run: npm run build

  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
        check-latest: true
    - run: npm i -g npm@7.6.0
    - name: npm install
      run: |
        GH_TOKEN="${{ secrets.READ_PRIVATE_GITHUB_PACKAGES }}" ./generate_npmrc.sh
        npm ci
        rm .npmrc
    - run: npm test --if-present

  commitlint:
    name: Commitlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        if: github.actor != 'dependabot[bot]'
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v2
        if: github.actor != 'dependabot[bot]'

  autosquash:
    name: Block Autosquash Commits
    runs-on: ubuntu-latest
    steps:
      - name: Block Autosquash Commits
        uses: xt0rted/block-autosquash-commits-action@v2.1.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

  docs:
    name: Publish Docs
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GH_USERNAME: lime-ci
      GH_EMAIL: 617355+lime-ci@users.noreply.github.com
      GH_TOKEN: ${{ secrets.CREATE_RELEASE }}
      CI: true
    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.CREATE_RELEASE }}
    - uses: actions/setup-node@v2
      with:
        node-version: ^16.13.2
    - run: npm i -g npm@^8.4.0
    - name: npm install
      run: |
        GH_TOKEN="${{ secrets.READ_PRIVATE_GITHUB_PACKAGES }}" ./generate_npmrc.sh
        npm ci
        rm .npmrc
    - run: git config --global user.email "$GH_EMAIL"
    - run: git config --global user.name "$GH_USERNAME"
    - run: npm run docs:publish -- --v=PR-${{ github.event.pull_request.number }}
    - uses: actions/github-script@v3
      with:
        script: |
          const script = require(`${process.env.GITHUB_WORKSPACE}/.github/workflows/pr-comment.js`);
          await script({github, context});

  dependabot-docs:
    name: build docs for dependabot PRs
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ^16.13.2
    - run: npm i -g npm@^8.4.0
    - name: npm install
      run: |
        GH_TOKEN="${{ secrets.READ_PRIVATE_GITHUB_PACKAGES }}" ./generate_npmrc.sh
        npm ci
        rm .npmrc
    - run: npm run docs:build

  autoapprove:
    needs: [lint, build, test, autosquash, dependabot-docs]
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Enable Automerge
        run: gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.CREATE_RELEASE }}
      - name: Autoapprove
        uses: hmarr/auto-approve-action@v2.1.0
        with:
          github-token: ${{ secrets.APPROVE_AUTOMATIC_PRS }}
