name: Pull Request Checks
on: [pull_request]

jobs:
  commitlint:
    name: Commitlint
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v1
      - uses: Lundalogik/commitlint-github-action@update-dependencies

  autosquash:
    name: Block Autosquash Commits
    runs-on: ubuntu-latest

    steps:
      - name: Block Autosquash Commits
        uses: Lundalogik/block-autosquash-commits-action@master
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

  wip:
    name: "Block WIP PR:s"
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: wip/action@v1.0.0
