name: Pull Request Checks
on: [pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
        check-latest: true
    - run: npm i -g npm
    - name: npm install
      run: |
        GH_TOKEN="${{ secrets.READ_PRIVATE_GITHUB_PACKAGES }}" ./generate_npmrc.sh
        npm ci
        rm .npmrc
    - run: npm run lint

  ci:
    name: CI
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GH_USERNAME: lime-ci
      GH_TOKEN: ${{ secrets.CREATE_RELEASE }}
      CI: true
    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.CREATE_RELEASE }}
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
        check-latest: true
    - run: npm i -g npm
    - name: npm install
      run: |
        GH_TOKEN="${{ secrets.READ_PRIVATE_GITHUB_PACKAGES }}" ./generate_npmrc.sh
        npm ci
        rm .npmrc
    - run: npm test --if-present
    - run: npm run docs:publish -- --v=PR-${{ github.event.pull_request.number }}

  commitlint:
    name: Commitlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v2

  autosquash:
    name: Block Autosquash Commits
    runs-on: ubuntu-latest
    steps:
      - name: Block Autosquash Commits
        uses: xt0rted/block-autosquash-commits-action@v2.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
