name: Create and Publish Full Release
on:
  push:
    branches:
      - main
      - '*[0-9].*[0-9].x'
      - '*[0-9].x.x'
  # workflow_dispatch makes it possible to trigger the run manually
  workflow_dispatch:

jobs:
  semantic-release:
    name: Run Semantic Release
    runs-on: ubuntu-latest
    outputs:
      new_release_published: ${{ steps.semantic.outputs.new_release_published }}
      new_release_version: ${{ steps.semantic.outputs.new_release_version }}
    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.CREATE_RELEASE }}
        fetch-depth: 0
    - name: Read .nvmrc
      run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
      id: nvm
    - uses: actions/setup-node@v2
      with:
        node-version: "${{ steps.nvm.outputs.NVMRC }}"
    - run: node -v && npm -v
    - run: npm ci
    - run: npm run build
    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@v2
      id: semantic # Need an `id` for output variables
      with:
        semantic_version: 17.3.9
        extra_plugins: |
          @semantic-release/changelog@5.0.1
          @semantic-release/git@9.0.0
          conventional-changelog-conventionalcommits@4.5.0
      env:
        GITHUB_TOKEN: ${{ secrets.CREATE_RELEASE }}
        GH_USERNAME: lime-ci
        GH_TOKEN: ${{ secrets.CREATE_RELEASE }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN_ads }}
        CI: true

  merge-back-to-next:
    needs: semantic-release
    if: needs.semantic-release.outputs.new_release_published == 'true'
    timeout-minutes: 2
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set Git config
      run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Github Actions"
    - name: Merge release commit back to branch `next`
      run: |
          git fetch --unshallow
          git checkout next
          git pull
          git merge --no-ff main -m "chore(release): auto merge `main` back to `next` after release"
          git push

  docs:
    needs: semantic-release
    if: needs.semantic-release.outputs.new_release_published == 'true'
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/publish-docs.yml
    with:
      version: "${{ needs.semantic-release.outputs.new_release_version }}"
      forcePush: true
    secrets: inherit
