name: Release
on:
  push:
    branches:
      - main
      - '*[0-9].*[0-9].x'
      - '*[0-9].x.x'
      - dev
      - alpha
      - beta
  # workflow_dispatch makes it possible to trigger the run manually
  workflow_dispatch:

# `contents: read` and `id-token: write` are required for GitHub OIDC to AWS
# `id-token: write` is also required for OIDC to publish release on npm
permissions:
  contents: read
  id-token: write

jobs:
  semantic-release:
    name: Run Semantic Release
    runs-on: ubuntu-latest
    outputs:
      new_release_published: ${{ steps.semantic.outputs.new_release_published }}
      new_release_version: ${{ steps.semantic.outputs.new_release_version }}
      new_release_git_tag: ${{ steps.semantic.outputs.new_release_git_tag }}
      last_release_git_tag: ${{ steps.semantic.outputs.last_release_git_tag }}
      last_release_version: ${{ steps.semantic.outputs.last_release_version }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - uses: ./.github/actions/set-up-node
    - run: npm ci
    - run: npm run build
    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90 # v6.0.0
      id: semantic # Need an `id` for output variables
      with:
        semantic_version: 25.0.2
        extra_plugins: |
          @semantic-release/changelog@6.0.3
          @semantic-release/exec@7.1.0
          @semantic-release/git@10.0.1
          conventional-changelog-conventionalcommits@9.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.CREATE_RELEASE }}
        GH_USERNAME: lime-opensource
        GH_TOKEN: ${{ secrets.CREATE_RELEASE }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        CI: true
    - name: Configure AWS and Upload to S3
      if: steps.semantic.outputs.new_release_published == 'true'
      uses: ./.github/actions/upload-frontend-build-output-to-s3
      with:
        aws-role: ${{ secrets.AWS_SHARED_LIMECLOUD_WRITE_STATIC_FILES_ROLE }}
        frontend-path: ./
        package-version: ${{ steps.semantic.outputs.new_release_version }}

  docs:
    needs: semantic-release
    if: needs.semantic-release.outputs.new_release_published == 'true'
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/publish-docs.yml
    with:
      version: "${{ needs.semantic-release.outputs.new_release_version }}"
      ref: "${{ needs.semantic-release.outputs.new_release_git_tag }}"
      forcePush: true
    secrets: inherit
