name: Release
on:
  push:
    branches:
      - main
      - '*[0-9].*[0-9].x'
      - '*[0-9].x.x'
      - dev
      - alpha
      - beta
  # workflow_dispatch makes it possible to trigger the run manually
  workflow_dispatch:

# Required to get access token for GitHub OIDC to AWS
permissions:
  contents: read
  id-token: write

jobs:
  semantic-release:
    name: Run Semantic Release
    runs-on: ubuntu-latest
    outputs:
      new_release_published: ${{ steps.semantic.outputs.new_release_published }}
      new_release_version: ${{ steps.semantic.outputs.new_release_version }}
      last_release_git_tag: ${{ steps.semantic.outputs.last_release_git_tag }}
      last_release_version: ${{ steps.semantic.outputs.last_release_version }}
      new_release_major_version: ${{ steps.semantic.outputs.new_release_major_version }}
      new_release_minor_version: ${{ steps.semantic.outputs.new_release_minor_version }}
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        persist-credentials: false
    - name: Read .nvmrc
      run: echo "NVMRC=$(cat .nvmrc)" >> $GITHUB_OUTPUT
      id: nvm
    - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
      with:
        node-version: "${{ steps.nvm.outputs.NVMRC }}"
    - run: node -v && npm -v
    - run: npm ci
    - run: npm run build
    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@cb425203a562475bca039ba4dbf90c7f9ac790f4 # v4.1.0
      id: semantic # Need an `id` for output variables
      with:
        semantic_version: 19.0.5
        extra_plugins: |
          @semantic-release/changelog@6.0.2
          @semantic-release/git@10.0.1
          conventional-changelog-conventionalcommits@5.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.CREATE_RELEASE }}
        GH_USERNAME: lime-opensource
        GH_TOKEN: ${{ secrets.CREATE_RELEASE }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN_ads }}
        CI: true
    - name: Configure AWS and Upload to S3
      if: steps.semantic.outputs.new_release_published == 'true'
      uses: ./.github/actions/upload-frontend-build-output-to-s3
      with:
        aws-role: ${{ secrets.AWS_SHARED_LIMECLOUD_WRITE_STATIC_FILES_ROLE }}
        frontend-path: ./
        package-version: ${{ steps.semantic.outputs.new_release_version }}
    - name: Trigger update in lime-crm-building-blocks
      if: steps.semantic.outputs.new_release_published == 'true' && github.ref_name == 'main'
      uses: peter-evans/repository-dispatch@ff45666b9427631e3450c54a1bcbee4d9ff4d7c0 # v3.0.0
      with:
        token: ${{ secrets.PRIVATE_REPO_DISPATCH }}
        event-type: update-lime-elements
        repository: Lundalogik/lime-crm-building-blocks
        client-payload: '{"version": "${{ steps.semantic.outputs.new_release_version }}"}'
    - name: Trigger update in lime-crm-components
      if: steps.semantic.outputs.new_release_published == 'true' && github.ref_name == 'main'
      uses: peter-evans/repository-dispatch@ff45666b9427631e3450c54a1bcbee4d9ff4d7c0 # v3.0.0
      with:
        token: ${{ secrets.PRIVATE_REPO_DISPATCH }}
        event-type: update-lime-elements
        repository: Lundalogik/lime-crm-components
        client-payload: '{"version": "${{ steps.semantic.outputs.new_release_version }}"}'
    - name: Trigger update in lime-webclient
      if: steps.semantic.outputs.new_release_published == 'true' && github.ref_name == 'main'
      uses: peter-evans/repository-dispatch@ff45666b9427631e3450c54a1bcbee4d9ff4d7c0 # v3.0.0
      with:
        token: ${{ secrets.PRIVATE_REPO_DISPATCH }}
        event-type: update-lime-elements
        repository: Lundalogik/lime-webclient
        client-payload: '{"version": "${{ steps.semantic.outputs.new_release_version }}"}'

  create--backport-branch:
    name: Create Backport Branch
    needs: [semantic-release]
    if: needs.semantic-release.outputs.new_release_published == 'true'
    uses: ./.github/workflows/create-backport-branch.yml
    permissions:
      contents: write
    with:
      last_release_git_tag: ${{ needs.semantic-release.outputs.last_release_git_tag }}
      last_release_version: ${{ needs.semantic-release.outputs.last_release_version }}
      new_release_version: ${{ needs.semantic-release.outputs.new_release_version }}



  docs:
    needs: semantic-release
    if: needs.semantic-release.outputs.new_release_published == 'true'
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/publish-docs.yml
    with:
      version: "${{ needs.semantic-release.outputs.new_release_version }}"
      forcePush: true
    secrets: inherit
