limel-helper-line {
    opacity: 0;
}

.limel-select--focused {
    // TODO: remove when helper-line is displayed in portal
    + limel-helper-line {
        opacity: 1;
    }
}

:host(:focus),
:host(:focus-visible),
:host(:focus-within),
.limel-select--invalid {
    limel-helper-line {
        opacity: 1;
    }
}
