.limel-select.mdc-select {
    &.limel-select--readonly {
        .limel-select-trigger {
            cursor: default;
            opacity: 1;
        }
        .limel-select__selected-option__text {
            color: inherit;
        }
        .mdc-select__dropdown-icon {
            display: none;
        }
    }
}
