@use '../../../style/internal/shared_input-select-picker';

.limel-select.mdc-select {
    &.limel-select--readonly {
        .limel-select-trigger {
            cursor: default;
            opacity: 1;
        }
        .mdc-floating-label {
            color: shared_input-select-picker.$label-color;
        }
        .limel-select__selected-option__text {
            color: shared_input-select-picker.$input-text-color;
        }
        .mdc-select__dropdown-icon {
            display: none;
        }
    }
}
