.lime-green {
    limel-icon {
        color: #85c436;
    }
}

.loving-magenta {
    limel-icon {
        color: #ff3195;
    }
}

.simply-blue {
    limel-icon {
        color: #00b7ff;
    }
}

.sellable-orange {
    limel-icon {
        color: #f76b07;
    }
}

.custom-size {
    limel-icon {
        height: 10rem;
        width: 10rem;
    }
}
